<!-- social image -->
<img *ngIf="user.bl_social && user.tx_img" class="toolbar-user-image"
    [src]="user.tx_img">

<!-- social no image -->
<span *ngIf="user.bl_social && !user.tx_img" class="mdi mdi-account-tie pointer"></span>

<!-- no social with image -->
<img *ngIf="!user.bl_social && user.tx_img" class="toolbar-user-image"
    [src]="user.tx_img | imagenPipe : 'tx_img' : user._id">

<!-- no social wo image -->
<span *ngIf="!user.bl_social && !user.tx_img" class="mdi mdi-account-tie pointer"></span>

<span *ngIf="showname" class="ml-1">
    {{user.tx_name}}
</span>