@media (max-width: 575px) {
    .page-tab-container {
        font-size: medium !important;
    }
}

.page-tab-container {
    font-size   : larger;
}


.home-label {
    font-size: xx-large;
    margin   : 20px;
}