.sidenav-title-icons {
    font-size     : x-large;
    color         : #b53232;
    vertical-align: top;
}


.sidenav-title-text {
    color      : #343a40;
    font-size  : medium;
    margin-left: .5rem;
    font-weight: 400;
    align-self : center;
}


.sidenav-item {
    display    : flex;
    align-items: center;
    cursor     : pointer;
    margin     : .5rem;
    margin-left: 1.18rem;
}

.sidenav-item-icons {
    font-size     : large;
    color         : #880e96;
    vertical-align: top;
}

.sidenav-item-text {
    color         : #343a40;
    font-size     : small;
    vertical-align: bottom;
    margin-left   : .5rem;
    font-weight   : 200;
}

.mat-expansion-panel-header {
    height: 40px;
}