.sidenav-title-icons {
    font-size     : x-large;
    color         : #d94949;
    vertical-align: top;
}


.sidenav-title-text {
    color      : #474747;
    font-size  : medium;
    margin-left: .5rem;
    font-weight: 400;
    align-self : center;
}

.sidenav-item {
    display    : flex;
    align-items: center;
    cursor     : pointer;
    margin     : .5rem;
    margin-left: 1.18rem;
}

.sidenav-item-icons {
    font-size     : large;
    color         : #595e93;
    vertical-align: top;
}

.sidenav-item-text {
    color         : rgb(111, 111, 111);
    font-size     : medium;
    vertical-align: bottom;
    margin-left   : .5rem;
    font-weight   : 300;
}