<div class="text-white h-100">
    <mat-form-field *ngIf="adminService.companies?.length > 0" class="p-2 w-100">
        <mat-label>Seleccione una empresa</mat-label>
        <mat-select formControlName="idCompany" [value]="loginService.user?.id_company?._id" name="idCompany"
            #selectTable matNativeControl required>
            <mat-option *ngFor="let company of adminService.companies" [value]="company._id"
                (click)="attachCompany(company)">
                {{company.tx_company_name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- MENU -->
    <mat-accordion multi="false">
    <div *ngFor="let item of loginService.menu">
            <mat-expansion-panel  [expanded]="item.tx_titulo === 'Camarero'">
    
                <mat-expansion-panel-header>
                    <mat-panel-title style="outline: none;" routerLink="/{{item.tx_url}}">
                        <span class="text-danger xl {{ item.tx_icon }}"></span>
                        <span class="sidenav-subitems-text mx-2 md align-self-center">{{ item.tx_titulo }}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
    
                <div *ngFor="let sub of item.subitems" (click)="toggleNav()" routerLink="/{{sub.tx_url}}"
                    class="ml-3 my-2 md pointer">
                    <span class="sidenav-subitems-icon lg {{ sub.tx_icon }}"></span>
                    <span class="sidenav-subitems-text md mx-2 saturno-minicard-text align-self-center">{{ sub.tx_titulo}}</span>
                </div>
    
            </mat-expansion-panel>
        </div>
    </mat-accordion>

</div>