<div class="text-white h-100">

    <mat-form-field color="accent" *ngIf="adminService.companies?.length > 0" class="p-2 w-100">
        <mat-label>Seleccione una empresa</mat-label>
        <mat-select formControlName="idCompany" [value]="loginService.user?.id_company?._id" name="idCompany"
            #selectTable matNativeControl required>
            <mat-option *ngFor="let company of adminService.companies" [value]="company._id"
                (click)="attachCompany(company)">
                {{company.tx_company_name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-accordion multi="false">
        <mat-expansion-panel *ngFor="let menu of loginService.menu">

            <mat-expansion-panel-header>
                <div class="menu">
                    <span class="{{ menu.tx_icon }}"></span>
                    <span>{{ menu.tx_titulo }}</span>
                </div>
            </mat-expansion-panel-header>

            <mat-expansion-panel [hideToggle]="!item.subitems" [disabled]="!item.subitems"
                *ngFor="let item of menu.items" style="box-shadow: none;">

                <!-- ITEMS -->
                <mat-expansion-panel-header>
                    <div *ngIf="item.tx_url" class="item" routerLink="/{{item.tx_url}}" (click)="toggleNav()">
                        <span class="{{item.tx_icon}}"></span>
                        <span>{{item.tx_titulo}}</span>
                    </div>
                    <div *ngIf="!item.tx_url" class="item">
                        <span class="{{item.tx_icon}}"></span>
                        <span>{{item.tx_titulo}}</span>
                    </div>
                </mat-expansion-panel-header>

                <!-- SUBITEMS -->
                <div class="subitem" *ngFor="let subitem of item.subitems" (click)="toggleNav()"
                    routerLink="/{{subitem.tx_url}}">
                    <span class="{{subitem.tx_icon}}"></span>
                    <span>{{subitem.tx_titulo}}</span>
                </div>

            </mat-expansion-panel>


        </mat-expansion-panel>
    </mat-accordion>
    
</div>