<div class="page-container p-2 pt-3 animated fadeIn">

        <mat-card-content>
            <mat-accordion>
                <!-- --------------------- -->
                <!-- MESSAGES -->
                <!-- --------------------- -->

                <mat-expansion-panel>

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="xl mdi  mdi-send text-deco"></span>
                            <span class="align-self-center md ml-2">Mensajería</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-message></app-message>

                </mat-expansion-panel>

                <!-- --------------------- -->
                <!-- SETTINGS -->
                <!-- --------------------- -->

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="xl mdi  mdi-view-module text-deco"></span>
                            <span class="align-self-center md ml-2">Ajustes</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-settings></app-settings>

                </mat-expansion-panel>

                <!-- --------------------- -->
                <!-- HORARIOS -->
                <!-- --------------------- -->

                <mat-expansion-panel>

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="xl mdi  mdi-clock text-deco"></span>
                            <span class="align-self-center md ml-2">Días y Horarios</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-working></app-working>

                </mat-expansion-panel>

                <!-- --------------------- -->
                <!-- COMPANIES -->
                <!-- --------------------- -->

                <mat-expansion-panel>

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="xl mdi  mdi-storefront-outline text-deco"></span>
                            <span class="align-self-center md ml-2">Comercios</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-companies></app-companies>

                </mat-expansion-panel>

                <!-- --------------------- -->
                <!-- SECTIONS -->
                <!-- --------------------- -->

                <mat-expansion-panel>

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="xl mdi  mdi-select-group text-deco"></span>
                            <span class="align-self-center md ml-2">Sectores</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-sections></app-sections>

                </mat-expansion-panel>

                <!-- --------------------- -->
                <!-- TABLES -->
                <!-- --------------------- -->

                <mat-expansion-panel>

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="xl mdi  mdi-silverware-fork-knife text-deco"></span>
                            <span class="align-self-center md ml-2">Mesas</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-tables></app-tables>

                </mat-expansion-panel>

                <!-- --------------------- -->
                <!-- POLL -->
                <!-- --------------------- -->

                <mat-expansion-panel>

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="xl mdi  mdi-star text-deco"></span>
                            <span class="align-self-center md ml-2">Encuestas</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-poll></app-poll>

                </mat-expansion-panel>

                <!-- --------------------- -->
                <!-- WAITERS -->
                <!-- --------------------- -->

                <mat-expansion-panel>

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="xl mdi  mdi-account-tie text-deco"></span>
                            <span class="align-self-center md ml-2">Camareros/as</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-waiters></app-waiters>

                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
</div>