@media (max-width: 575px) {
    .inputs-container {
        padding: 20px;
    }

    mat-form-field {
        width: 100% !important;

    }
}

mat-form-field {
    margin: 0px 8px;
}

a {
    text-decoration: none;
}

.ticket-create-reserve-info {
    font-family  : 'Baloo Bhai 2', 'system-ui';
    margin-top   : 0;
    margin-bottom: 1rem;
    font-variant : small-caps;
    color        : var(--text);
}

.ticket-create-inputs-container {
    max-width     : 500px;
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    place-content : center;
}

.ticket-create-error {
    display      : flex;
    place-items  : center;
    place-content: center;
}

.ticket-create-label {
    font-size: xx-large;
    margin   : 20px;
}