@media (max-width: 575px) {
    .inputs-container {
        padding: 20px;
    }

    mat-form-field {
        width: 100% !important;

    }
}

.public-ticket-content {
    font-family  : 'Baloo Bhai 2', 'system-ui';
    margin-top   : 0;
    margin-bottom: 1rem;
    font-variant : small-caps;
}

.inputs-container {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    place-content : center;
}

mat-form-field {
    width : 200px;
    margin: 0px 8px;
}