.chat-wrapper {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 100%;
    flex-direction : column;
}

.chat-client-content {
    height         : 100%;
    width          : 100%;
    align-items    : center;
    justify-content: center;
    display        : flex;
}

/* SESSION NOT INITIALIZED */

.chat-notinit {
    display       : flex;
    flex-direction: column;
    height        : 100%;
    width         : 100%;
}

.chat-notinit-top {
    flex-grow       : 1;
    background-color: purple;
    font-size       : xx-large;
    color           : white;
    background-image: url('../../../assets/img/bg-tile.png');
    background-size : contain;
    display         : flex;
    align-items     : start;
    padding-top     : 10px;
    justify-content : center;
}

.chat-notinit-bottom {
    flex-grow       : 0;
    background-color: white;
    color           : var(--dark-o80);
}

.chat-notinit-bottom .loading {
    margin    : 20px;
    margin-top: -50px;
}

.chat-notinit-bottom .subject {
    margin    : 20px;
    margin-top: 0px;
}

/* SESSION INITIALIZED */

.chat-messages-container {
    height        : 100%;
    width         : 100%;
    flex-direction: column;
    display       : flex;
}