.chat-wrapper {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    height         : 100%;
}

.chat-client-content {
    height         : 100%;
    width          : 100%;
    align-items    : center;
    justify-content: center;
    display        : flex;
}

/* SESSION NOT INITIALIZED */

.chat-notinit {
    display       : flex;
    flex-direction: column;
    height        : 100%;
    width         : 100%;
}

.chat-notinit-top {
    flex-grow       : 1;
    background-color: purple;
    font-size       : xx-large;
    color           : white;
    background-image: url('../../../assets/img/tiles/food-red.png');
    background-size : 80px;
    display         : flex;
    align-items     : flex-start;
    padding-top     : 10px;
    justify-content : center;
}

.chat-notinit-bottom {
    flex-grow       : 0;
    background-color: var(--mat-panel-bg);
}

.chat-notinit-bottom .loading {
    margin    : 20px;
    margin-top: -50px;
}

.chat-notinit-bottom .subject {
    margin    : 20px;
    margin-top: 0px;
}

/* SESSION INITIALIZED */

.chat-messages-container {
    height        : 100%;
    width         : 100%;
    flex-direction: column;
    display       : flex;
}

.chat-input {
    border          : 0px;
    background-color: white;
    width           : -webkit-fill-available;
    padding         : .5rem 1rem 0.5rem 1rem;
    margin-right    : 10px;
    border-radius   : 23px;
    color           : var(--dark);
    text-align      : left;
}