/* THEME SELECTION */
.box-dark-purple {
    width           : 2em;
    height          : 2em;
    background-color: #343332;
    border-top      : .5em solid #7b1fa2;
    margin          : .5em;
}

/* .box-dark-purple:before {
    color  : #00ff4b;
    content: 'A';
    font-weight: 400;
} */

.box-dark-pink {
    width           : 2em;
    height          : 2em;
    background-color: #343332;
    border-top      : .5em solid #e91e63;
    margin          : .5em;
}

.box-grey-dark {
    width           : 2em;
    height          : 2em;
    background-color: #a3a3a3;
    border-top      : .5em solid #323232;
    margin          : .5em;
}

.box-grey-orange {
    width           : 2em;
    height          : 2em;
    background-color: #a3a3a3;
    border-top      : .5em solid #ff5722;
    margin          : .5em;
}

.box-light-blue {
    width           : 2em;
    height          : 2em;
    background-color: #e6e4e0;
    border-top      : .5em solid #3f51b5;
    margin          : .5em;
}

.box-light-green {
    width           : 2em;
    height          : 2em;
    background-color: #e6e4e0;
    border-top      : .5em solid #178c95;
    margin          : .5em;
}