<form autocomplete="off" ngNativeValidate #formDirective="ngForm" [formGroup]="forma"
    (ngSubmit)="createCompany(formDirective)">

    <mat-form-field color="accent" class="w-100">
        <mat-label>Tipo de Comercio</mat-label>
        <mat-select formControlName="txCompanyType" name="txCompanyType" #selectSection matNativeControl required>
            <mat-option value="bar">Bar</mat-option>
            <mat-option value="resto">Restaurante</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field color="accent" class="w-100">
        <mat-label>Nombre del Bar / Restaurant</mat-label>
        <mat-error>Esta Empresa ya se encuentra registrada!</mat-error>
        <input maxlength="30" matInput placeholder="Nombre de la empresa" formControlName="txCompanyName" name="txCompanyName"
            type="text" required (keyup)="checkCompanyExists()">
    </mat-form-field>

    <mat-form-field color="accent" class="w-100">
        <mat-label>Slogan (Opcional)</mat-label>
        <input maxlength="50" matInput placeholder="50 años en tu barrio" formControlName="txCompanySlogan" name="txCompanySlogan"
            type="text">
    </mat-form-field>

    <mat-form-field color="accent" class="w-100">
        <mat-label>Nombre público</mat-label>
        <input matInput placeholder="nombredetuempresa" formControlName="txCompanyString" name="txCompanyString"
            type="text" required>
    </mat-form-field>

    <mat-form-field color="accent" class="w-100">
        <mat-label>Ciudad, localidad o barrio</mat-label>
        <input maxlength="30" type="text" matInput [formControl]="localidadesControl" [matAutocomplete]="auto"
            (click)="cleanInput()">
        <span class=" input-icon" (click)="cleanInput()"><i class="mdi mdi-close"></i></span>
        <span class="sm text-accent">Por ahora sólo Argentina, dejar en blanco otros paises</span>
    </mat-form-field>

    <!-- $event.option.value va a tomar el valor definido en [value], debe ir siempre el objeto seleccionado en este caso "option" -->
    <mat-autocomplete iniciocss #auto="matAutocomplete" [displayWith]="setLocalidad.bind(this)">
        <mat-option [value]="option" *ngFor="let option of localidades">
            {{ option.properties.nombre | capitalizarPipe }},
            {{ option.properties.departamento.nombre }},
            {{ option.properties.provincia.nombre }}
        </mat-option>
    </mat-autocomplete>

    <mat-form-field color="accent" class="w-100">
        <mat-label>Calle</mat-label>
        <input maxlength="30" matInput placeholder="Calle" formControlName="txAddressStreet" name="txAddressStreet" type="text"
            required>
    </mat-form-field>

    <mat-form-field color="accent" class="w-100">
        <mat-label>Altura</mat-label>
        <mat-error>Ingresá un valor entre 1 y 20000</mat-error>
        <input matInput placeholder="1234" formControlName="txAddressNumber" name="txAddressNumber" type="number"
            min="1" max="20000" required>
    </mat-form-field>


    <!---------------------------------------------------------------------->
    <!-- CONTROLES LAT LNG Y MAPA -->
    <!---------------------------------------------------------------------->

    <!---------------------------------------------------------------------->
    <!-- LAT -->
    <!---------------------------------------------------------------------->
    
    <mat-form-field color="accent" class="w-100">
        <input matInput type="text" placeholder="lat" class="coords-input" formControlName="txCompanyLat" />
    </mat-form-field>

    <!---------------------------------------------------------------------->
    <!-- LNG -->
    <!---------------------------------------------------------------------->
    <mat-form-field color="accent" class="w-100">
        <input matInput type="text" placeholder="lng" class="coords-input" formControlName="txCompanyLng" />
    </mat-form-field>

    <!---------------------------------------------------------------------->
    <!-- MAPBOX -->
    <!---------------------------------------------------------------------->

    <div>
        Buscá y marcá en el mapa la ubicación exacta de tu comercio.
    </div>

    <div class="create-company-map">
        <app-map [(center)]="centerMap" (newMarker)="setCoords($event)"></app-map>
    </div>
    
    <div class="p-2 d-flex" *ngIf="forma.errors?.coordsMissing">
        <div class="p-2 xxl align-self-center text-danger mdi mdi-alert"></div> 
        <div class="p-2 align-self-center">
           Por favor, buscá y marcá en el mapa la ubicación exacta de tu comercio.
        </div>
    </div>

    <div class="container pt-4 px-0">
        <div *ngIf="loading">
            <button mat-raised-button color="accent" disabled>GUARDANDO... </button>
        </div>
        <div *ngIf="!companyEdit && !loading">
            <button mat-raised-button color="accent" type="submit" [disabled]="forma.invalid">
                <span class="mdi lg mdi-content-save-outline"></span>
                GUARDAR COMERCIO
            </button>
        </div>
        <div *ngIf="companyEdit && !loading">
            <button mat-raised-button color="warn" type="submit" [disabled]="forma.invalid">
                GUARDAR CAMBIOS
            </button>
            <button mat-button (click)="resetForm(formDirective)">
                LIMPIAR FORMULARIO
            </button>
        </div>
    </div>

</form>