<form autocomplete="off" style="color: brown;" ngNativeValidate #formDirective="ngForm" [formGroup]="forma"
    (ngSubmit)="createCompany(formDirective)">

    <mat-form-field color="warn" logincss class="w-100">
        <mat-label>Nombre del Bar / Restorant</mat-label>
        <mat-error>Esta Empresa ya se encuentra registrada!</mat-error>
        <input matInput placeholder="Nombre de la empresa" formControlName="txCompanyName" name="txCompanyName"
            type="text" required (keyup)="checkCompanyExists()">
    </mat-form-field>

    <mat-form-field color="warn" logincss class="w-100">
        <mat-label>Slogan (Opcional)</mat-label>
        <input matInput placeholder="Slogan de la empresa" formControlName="txCompanySlogan" name="txCompanySlogan"
            type="text">
    </mat-form-field>

    <mat-form-field color="warn" logincss class="w-100">
        <mat-label>Nombre público</mat-label>
        <input matInput placeholder="Nombre de la empresa" formControlName="txCompanyString" name="txCompanyString"
            type="text" required>
    </mat-form-field>

    <mat-form-field color="warn" logincss class="w-100">
        <mat-label>Busca tu ciudad, localidad o barrio</mat-label>
        <input type="text" matInput [formControl]="localidadesControl" [matAutocomplete]="auto"
            (click)="cleanInput()" />
        <span class=" input-icon" (click)="cleanInput()"><i class="mdi mdi-close"></i></span>
    </mat-form-field>

    <!-- $event.option.value va a tomar el valor definido en [value], debe ir siempre el objeto seleccionado en este caso "option" -->
    <mat-autocomplete iniciocss #auto="matAutocomplete" [displayWith]="setLocalidad.bind(this)">
        <mat-option [value]="option" *ngFor="let option of localidades">
            {{ option.properties.nombre | capitalizarPipe }},
            {{ option.properties.departamento.nombre }},
            {{ option.properties.provincia.nombre }}
        </mat-option>
    </mat-autocomplete>

    <mat-form-field color="warn" logincss class="w-100">
        <mat-label>Calle</mat-label>
        <input matInput placeholder="Calle" formControlName="txAddressStreet" name="txAddressStreet" type="text"
            required>
    </mat-form-field>

    <mat-form-field color="warn" logincss class="w-100">
        <mat-label>Altura</mat-label>
        <input matInput placeholder="1234" formControlName="txAddressNumber" name="txAddressNumber" type="text"
            required>
    </mat-form-field>


    <!---------------------------------------------------------------------->
    <!-- CONTROLES LAT LNG Y MAPA -->
    <!---------------------------------------------------------------------->

    <div class="card my-2">
        <div class="card-body sm text-dark">
            Por favor buscá y marcá en el mapa la ubicación exacta de tu Bar / Resto
        </div>
    </div>

    <!---------------------------------------------------------------------->
    <!-- LAT -->
    <!---------------------------------------------------------------------->
    <input type="text" placeholder="lat" class="coords-input" formControlName="txCompanyLat" />

    <!---------------------------------------------------------------------->
    <!-- LNG -->
    <!---------------------------------------------------------------------->
    <input type="text" placeholder="lng" class="coords-input" formControlName="txCompanyLng" />

    <!---------------------------------------------------------------------->
    <!-- MAPBOX -->
    <!---------------------------------------------------------------------->
    <app-map [(center)]="centerMap" (newMarker)="setCoords($event)"></app-map>

    <div class="container pt-4 px-0">
        <div *ngIf="!companyEdit" class="row text-center">
            <div class="col">
                <button mat-raised-button color="accent" type="submit">
                    <span class="mdi lg mdi-content-save-outline"></span> Guardar Bar / Resto</button>
            </div>
        </div>
        <div *ngIf="companyEdit" class="row">
            <div class="col w-100">
                <button mat-raised-button color="accent" type="submit">
                    Guardar
                </button>
            </div>
            <div class="col">
                <button mat-raised-button color="warn" (click)="resetForm(formDirective)">
                    Limpiar
                </button>
            </div>
        </div>
    </div>


</form>