.chat-wrapper {
    display: flex;
    height : 100%;
}

.chat-list {
    flex-grow   : 1;
    border-right: 1px solid #ddd;
    text-align  : left;
}

.chat-window {
    display       : flex;
    flex-direction: column;
    flex-grow     : 10;
    width         : 0px;
}

.chat-client-button {
    margin    : 5px 5px 0 5px;
    padding   : 2px 7px;
    width     : -webkit-fill-available;
    text-align: left;
}

.chat-input {
    border          : 0px;
    background-color: white;
    width           : -webkit-fill-available;
    padding         : .5rem 1rem 0.5rem 1rem;
    margin-right    : 10px;
    border-radius   : 23px;
    color           : var(--dark);
    text-align      : left;
}