<div class="page-container text-left animated fadeIn">

    <mat-card>

        <div class="title">Qué es Saturno?</div>
        <p>
            Saturno es un Sistema Automático de gestión de Turnos Online pensando para dar una solución más
            eficiente al sistema de turnos con pantalla en el cual los clientes o pacientes deben esperar en
            lugares cerrados. Con Saturno los clientes pueden esperar en cualquier lugar de preferencia y
            observar el progreso de los llamados directamente desde sus teléfonos.
        </p>

        <p class="text-accent p-2 border rounded">
            En contexto de pandemia de COVID el sistema de turnos con pantalla y las salas de espera en general
            se transformaron en un verdadero problema y en este sentido creemos que la alternativa que ofrece Saturno
            se transforma además en una solución ágil e innovadora.
        </p>

        <div class="title">¿Qué es Saturno Bares y Restaurantes?</div>
        <p>
            <span class="text-accent">Es un Sistema Automático y gratuito de Gestión de Reservas Online especialmente
                adaptado para comercios gastronómicos.</span> Con Saturno podés gestionar reservas de agenda o
            turnos para demanda espontánea en tiempo real.
        </p>
        <p>
            Para que tus clientes puedan hacer reservas de mesas en forma automática vas a tener disponible un
            formulario que vas a poder llevar a tu página web. Si no tenés una página web el sistema te brinda un portal
            especial para tu comercio con el formulario de reservas.
        </p>

        <div class="title">Qué ofrece Saturno Bares y Restaurantes?</div>

        <div class="subtitle mdi mdi-calendar-account"> Agenda de reservas </div>
        <p>
            <span class="text-accent">Tus clientes pueden elegir una mesa y reservarla en forma totalmente
                automática eligiendo un sector, día, horario y mesa en particular.</span> El sistema les brinda las
            opciones disponibles para el momento deseado. El administrador podrá ver o reasignar las reservas desde la
            Agenda. Si un cliente solicita una mesa para un número de personas para el cual ninguna de las mesas dentro
            del sector que solicita puede cumplimentar el requerimiento, tendrá la opción de enviar un pedido de mesa
            especial, el administrador debe asignar las mesas y aprobar la solicitud.
        </p>
        <p>
            <span class="text-accent">Saturno segmenta los turnos en intervalos de 30 minutos.</span> Un cliente
            puede seleccionar uno o mas intervalos. La cantidad máxima de intervalos es definida por el comercio. Cuando
            un cliente hace una reserva el sistema se reserva en forma automática los intervalos anterior y posterior
            que son utilizados para evitar el cruce entre clientes, limpiar y sanitizar la mesa.
        </p>
        <div class="subtitle mdi mdi-human-queue"> Turnos para cola virtual </div>

        <p> El sistema de cola virtual asigna un orden a los tickets de los clientes que solicitan una mesa en el
            momento. Lo clientes deben obtener un ticket de la misma forma que lo hacen para reservar en agenda pero
            el turno será para el mismo momento que la mesa es solicitada.
        </p>
        <p>
            <span class="text-accent"> Este sistema esta principalmente pensado para cuando tu negocio esta completo, de
                modo que te permite administrar la cola virtual de clientes que esperan una mesa fuera del local.</span>

        </p>
        <p> Te ofrece la posibilidad de tener trazabilidad sobre cada cliente obteniendo datos de tiempos de
            atención y conexión de los camareros, de asistencias, de sesión de mesa, etc. para obtener y analizar
            métricas y generar indicadores de gestión. Le ofrece a tus clientes la posibilidad de solicitar asistencia a
            los camareros en tiempo real, responder encuestas de calidad, etc.
        </p>


        <div class="subtitle mdi mdi-silverware-fork-knife"> Sistema Automático de Gestión de Mesas</div>
        <p>
            Saturno es sobre todo un sistema de administración de mesas. El administrador del bar/restaurante puede
            opcionalmente crear usuarios con perfil de camareros/as quienes a través de sus móviles pueden tomar un
            sector y gestionar los estados de las mesas y las solicitudes de asistencia de tus clientes en tiempo real.
        </p>

        <div class="subtitle mdi mdi-star"> Sistema de Calificaciones </div>
        <p>
            Para cada sector creado que conforme tu comercio podés crear items de calificaciones para que tus
            clientes puedan calificar de 1 a 5 estrellas lo que necesites que sea calificado. Esta encuesta se
            le ofrece al cliente al finalizar su sesión de mesa y te permite analizar y supervisar la calidad de
            atención y la percepción del cliente.
        </p>

        <div class="subtitle mdi mdi-page-layout-header"> Portal Web </div>
        <p>
            Cuando un cliente encuentra tu bar / restaurante accede a un portal que tendrá tu comercio para recibirlo.
            Vas a poder personalizar tu portal subiendo el texto de bienvenida, fotos, el logo de tu comercio, un tema
            de colores que representen tu marca, etc. En esta página tu cliente tendrá disponible el formulario de
            reserva de mesas.
        </p>

        <div class="subtitle mdi mdi-web"> Mi comercio ya tiene una página Web </div>
        <p>
            <span class="text-accent">Si tu bar o restaurante ya tiene una página web podés llevarte el formulario de
                reservas a tu página Web!</span>
        </p>
        <p>Solo tenés que copiar unas pocas líneas de código que te brindamos en tu home al registrar tu comercio y
            luego pegarlas en alguna parte de tu sitio. Tus clientes podrán comenzar a usar Saturno y reservar mesas en
            forma automática.
        </p>

        <div class="subtitle mdi mdi-map-marker"> Buscador Online de Comercios </div>
        <p> Desde el momento que registres tu comercio, aparecerá en los resultados de búsqueda y tus clientes podrán
            verlo en un mapa de modo que los potenciales clientes que se encuentren en la zona puedan ubicarlo y llegar
            fácilmente.
        </p>

        <div class="title">¿Por qué Saturno Bares y Restaurantes?</div>

        <div class="subtitle mdi mdi-cellphone-off"> No obtenemos datos de tus clientes </div>
        <p> El sistema no les solicita en ningún momento sus números de teléfono. Utilizamos una tecnología que nos
            permite crear canales propios y privados de comunicación con tu cliente que viven sólo mientras dura la
            sesión del ticket y se destruyen en el momento que se cierra la sesión y el cliente se retira del local.
        </p>

        <div class="subtitle mdi mdi-download-off"> ¡No es necesario descargar una App! </div>
        <p>
            Saturno es una webApp por lo tanto <span class="text-accent">no es necesario que descargues ni instales
                absolutamente nada</span>, tus clientes tampoco. Es un sistema totalmente "cloud" y disponible en forma
            online. Es actualizado todos los días. Tus clientes NO están obligados a ingresar a un sistema de
            distribución de aplicaciones como una Playstore o Appstore para descargar e instalar una App lo cual hace
            que casi siempre desistan de utilizarla.
        </p>
        <p>
            Sin embargo si deseas utilizar el sistema como una App instalable tanto en PC como en dispositivos móviles
            también es posible debido a que utilizamos tecnología que nos permite ofrecerte una App mucho mas ligera que
            las tradicionales que se ofrece en el mismo momento que se accede a la web de Saturno.
        </p>

        <div class="subtitle mdi mdi-ticket-account"> Tickets de contingencia </div>
        <p>
            Si tu cliente no dispone de un dispositivo móvil para pedir una mesa o no desea utilizar el sistema para
            ingresar a tu comercio, los camareros/as disponen de un sistema de generación de tickets de contingencia
            para ingresarlos al sistema de modo de evitar perder la trazabilidad del cliente.
        </p>

        <div class="subtitle mdi mdi-currency-usd-off"> Es gratuito </div>
        <p>
            No cobramos por utilizar este servicio y estaremos encantados de recibir tus sugerencias para ingresarlas en
            un proceso de mejora contínua con actualizaciones diarias para lograr que el sistema se adapte cada día
            mejor a las necesidades de tu negocio y de tus clientes.

        </p>
        <p>
            Trabajamos con las últimas tecnologías para desarrollar productos innovadores. Te invitamos a registrar
            tu comercio y ofrecer a tus clientes un salto en calidad de atención.
        </p>
        <p>
            Para mas información podes contactarnos a <a class="text-accent"
                href="mailto:info@saturno.fun">info@saturno.fun</a>
        </p>
        <hr>

        <mat-card-actions class="text-center">
            <button mat-button class="mdi mdi-home" routerLink="/home">
                Volver al Inicio
            </button>

            <button mat-button routerLink="/register" class="text-accent mdi mdi-account-circle">
                Registrar mi Bar / Restaurante
            </button>
        </mat-card-actions>
    </mat-card>


</div>