<div class="saturno-page-container mt-4 p-0 animated fadeIn">


    <mat-card class="saturno-minicard-text text-align-left animated fadeIn">

        <mat-card-content>

            <div class="lg">Qué es Saturno Bares y Restaurantes?</div>

            <div class="mdi mdi-human-queue xl text-accent"> Un sistema de cola virtual </div>
            <div class="lg" style="line-height: 1.2em;"> Tu cliente puede solicitar una mesa desde cualquier lugar en forma online y esperar
                en un lugar de preferencia. Esto le permite evitar salas de espera, lugares cerrados con congestión
                de personas, o esperar a ser llamado en la puerta de tu comercio. Cuando llega su turno y el sistema
                encuentra una mesa disponible que se ajuste a su solicitud, le asigna la mesa y lo notifica.
            </div>

            <div class="mdi mdi-silverware-fork-knife xl text-accent"> Un sistema de gestión de mesas </div>
            <div class="lg" style="line-height: 1.2em;">
                Saturno es también un sistema de administración de mesas. El administrador del bar/restaurante puede
                crear usuarios con perfil de camareros quienes a través de una intefaz pueden tomar un sector y
                gestionar los estados de las mesas y las solicitudes de los clientes en tiempo real. Podes analizar
                y supervisar los tiempos de atención y los feed-backs de tus clientes a través de un sistema de
                calificaciones.
            </div>

            <div class="mdi mdi-star xl text-accent"> Un sistema de calificaciones </div>
            <div class="lg" style="line-height: 1.2em;">
                Para cada sector creado que conforme tu comercio, podés crear items de calificaciones para que tus
                clientes puedan calificar de 1 a 5 estrellas lo que necesites que sea calificado. Esta encuesta se
                le ofrece al cliente al finalizar su sesión de mesa. Esto te permite analizar y supervisar los
                tiempos de atención y los feed-backs de tus clientes.
            </div>


            <div class="mdi mdi-web xl text-accent"> Una página Web para tu comercio </div>
            <div class="lg" style="line-height: 1.2em;">
                Cuando un cliente encuentra tu bar / restaurante, ingresa a la página web de tu comercio, donde podes
                subir la historia del lugar o cualquier texto de presentación para recibirlo, fotos del lugar y el logo
                de tu bar. Es ahí, en tu página web, donde tu cliente tendrá disponible el menú del día, los precios, la
                carta donde podrá ir haciendo su pedido y un formulario para solicitar una mesa.
            </div>

            <div class="mdi mdi-cellphone-off xl text-accent"> Tu cliente no necesita dejarnos su número de
                móvil. </div>
            <div class="lg" style="line-height: 1.2em;"> Con el fin de preservar la privacidad y los datos de tus clientes, en este sistema NO les
                solicitaremos nunca sus números de teléfono. En cambio utilizamos sockets, una nueva tecnología que nos
                permite utilizar canales propios y privados de comunicación con tu cliente, que viven mientras dura la
                sesión del ticket y se destruyen en el momento que el cliente o un camarero cierra el ticket y se retira
                del comercio. Esto nos permite prescindir de redes de comunicación externas o sistemas de mensajería de
                terceros.
            </div>

            <div class="mdi mdi-download-off xl text-accent"> Tu cliente no necesita descargar una app! </div>
            <div class="lg" style="line-height: 1.2em;"> Cuando tu cliente ingresa a nuestro sitio se le ofrece desde aquí mismo la instalación
                de una PWA, que es una tecnología que nos permite obtener como resultado una app extremadamente
                ligera. Esto es importante ya que tu cliente no se sentirá obligado a ingresar a un sistema de
                distribución de aplicaciones como una playstore o appstore para descargar e instalar una app en su
                dispositivo, lo que hace casi siempre, que tu cliente termine por desistir de utilizarla. Si tu cliente
                NO desea instalar nuestra app puede omitir la instalación y utilizar el servicio como una página web
                estándar. </div>

            <div class="mdi mdi-currency-usd-off xl text-accent"> Es totalmente gratuito </div>
            <div class="lg" style="line-height: 1.2em;">
                El sistema es totalmente gratuito, no cobramos ni cobraremos por este servicio ni al comerciante ni a sus
                clientes. Estamos dispuestos siempre a recibir sugerencias de mejora para lograr que el sistema se
                adapte cada día lo mejor posible a tu negocio. 
            </div>

        </mat-card-content>

        <mat-card-actions>

            <button mat-button class="mdi mdi-home" routerLink="/home">
                Home
            </button>

            <button mat-button routerLink="/register" class="mdi mdi-account-circle">
                Registrarme
            </button>

        </mat-card-actions>

    </mat-card>
</div>