<div class="saturno-container mt-4 p-2 animated fadeIn">




    <div class="xl">Qué es Saturno Bares y Restaurantes?</div>

    <mat-card class="text-left my-2">
        <div class="mdi mdi-human-queue lg text-accent"> Un sistema de cola virtual </div>
        <div class="md" style="line-height: 1.2em;"> Tu cliente puede solicitar una mesa desde cualquier lugar
            en forma online y esperar en un lugar de preferencia. Esto le permite evitar salas de espera, lugares
            cerrados con congestión de personas, o esperar a ser llamado en la puerta de tu comercio. Cuando llega su
            turno y el sistema encuentra una mesa disponible que se ajuste a su solicitud, le asigna la mesa y lo
            notifica.
        </div>
    </mat-card>

    <mat-card class="text-left my-2">
        <div class="mdi mdi-silverware-fork-knife lg text-accent"> Un sistema de gestión de mesas </div>
        <div class="md" style="line-height: 1.2em;">
            Saturno es también un sistema de administración de mesas. El administrador del bar/restaurante puede
            crear usuarios con perfil de camareros/as quienes a través de una intefaz pueden tomar un sector y
            gestionar los estados de las mesas y las solicitudes de los clientes en tiempo real.
        </div>
    </mat-card>

    <mat-card class="text-left my-2">
        <div class="mdi mdi-star lg text-accent"> Un sistema de calificaciones </div>
        <div class="md" style="line-height: 1.2em;">
            Para cada sector creado que conforme tu comercio, podés crear items de calificaciones para que tus
            clientes puedan calificar de 1 a 5 estrellas lo que necesites que sea calificado. Esta encuesta se
            le ofrece al cliente al finalizar su sesión de mesa. Esto te permite analizar y supervisar los
            tiempos de atención y los feed-backs de tus clientes.
        </div>
    </mat-card>

    <mat-card class="text-left my-2">
        <div class="mdi mdi-web lg text-accent"> Una página Web para tu comercio </div>
        <div class="md" style="line-height: 1.2em;">
            Cuando un cliente encuentra tu bar / restaurante, ingresa a la página web de tu comercio, donde
            podes subir la historia del lugar o cualquier texto de presentación para recibirlo, fotos del lugar y el
            logo de tu bar. Es ahí, en tu página web, donde tu cliente tendrá disponible el menú del día, los
            precios, la carta donde podrá ir haciendo su pedido y un formulario para solicitar una mesa.
        </div>
    </mat-card>

    <mat-card class="text-left my-2">
        <div class="mdi mdi-cellphone-off lg text-accent"> No obtenemos datos de tus clientes </div>
        <div class="md" style="line-height: 1.2em;"> Con el fin de preservar la privacidad y los datos de tus
            clientes, en este sistema NO les solicitaremos sus números de teléfono. Utilizamos en cambio una tecnología
            que nos permite utilizar canales propios y privados de comunicación con tu cliente, que viven mientras dura
            la sesión del ticket y se destruyen en el momento que se cierra el ticket y el cliente se retira
            del comercio. Esto nos permite prescindir de sistemas de mensajería de terceros.
        </div>
    </mat-card>

    <mat-card class="text-left my-2">
        <div class="mdi mdi-download-off lg text-accent"> No es necesario descargar una App </div>
        <div class="md" style="line-height: 1.2em;"> Tus clientes no están obligados a ingresar a un sistema de
            distribución de aplicaciones como una Playstore o Appstore para descargar e instalar una App, lo que
            casi siempre hace que tu cliente termine por desistir de utilizarla. Si tu cliente NO desea instalar
            nuestra app puede omitir la instalación y utilizar el servicio como una página web estándar. Si
            no dispone de un dispositivo para pedir una mesa o por alguna razón se seusa a utilizar el sistema
            los camareros/as diponene de un sistema de generación de tickets de contingecia para ingresarlos al 
            sistema y gestionar sus mesas.
        </div>
    </mat-card>

    <mat-card class="text-left my-2">
        <div class="mdi mdi-currency-usd-off lg text-accent"> Es totalmente gratuito </div>
        <div class="md" style="line-height: 1.2em;">
            El sistema es totalmente gratuito, no cobramos ni cobraremos por este servicio ni al comerciante ni
            a sus clientes. Estamos dispuestos siempre a recibir sugerencias de mejora para lograr que el sistema se
            adapte cada día lo mejor posible a tu negocio.
        </div>
    </mat-card>

    <button mat-button class="mdi mdi-home" routerLink="/home">
        Home
    </button>

    <button mat-button routerLink="/register" class="mdi mdi-account-circle">
        Registrar mi Bar / Restaurante
    </button>


</div>