@media (max-width: 575px) {
    .title {
        font-size: large;
        color: var(--accent);
    }
    
    .subtitle {
        font-size: medium;
    }
    
    .paragraph {
        font-size: medium !important;
    }
}


p {
    font-size: .9em;
    opacity: .8;
}

div {
    margin-bottom: .8rem;
}


.title {
    font-size: large;
    color: var(--accent);
}

.subtitle {
    font-size: medium;
}
