<div class="toolbar" >

    <div class="first-row">

        <!-- LOGO -->
        <div class="logo-container">

            <!-- LOGO IMG -->
            <div class="logo-img pointer" routerLink="/home"> </div>

            <!-- LOGO TITLE -->
            {{url}}
            <div class="logo-text-container pointer text-left ml-2" routerLink="/home">
                <div class="md"> SATURNO </div>
                <div class="xs">{{version}} </div>
            </div>
        </div>

        <!-- HOME LINKS -->
        <div class="toolbar-links-header">

            <div class="toolbar-base-item pointer mr-4" routerLink="/howworks">
                <div class="mdi mdi-help-box"></div>
                <div>
                    ¿Qué es Saturno?
                </div>
            </div>

            <div class="toolbar-base-item pointer mr-4" routerLink="/register">
                <div class="mdi mdi-storefront-outline"></div>
                <div>
                    Registrar Negocio
                </div>
            </div>

            <div class="toolbar-base-item pointer mr-4" routerLink="/public/tickets">
                <div class="mdi mdi-ticket-account"></div>
                <div>
                    Mis Reservas
                </div>
            </div>

            <div class="toolbar-base-item pointer mr-4" (click)="scrollToElement()">
                <div class="mdi mdi-map-marker"></div>
                <div>
                    Buscá por Zona
                </div>
            </div>
        </div>


        <!-- USER LOGGED IN -->
        <div *ngIf="loginService.user" class="d-flex md">

            <!-- GOOGLE LOGIN IMAGE -->
            <div *ngIf="loginService.user.bl_social && loginService.user.tx_img">
                <img class="user-image" [src]="loginService.user.tx_img" [matMenuTriggerFor]="menu">
            </div>

            <!-- FACEBOOK HAS NO LOGIN IMAGE -->
            <div *ngIf="loginService.user.bl_social && !loginService.user.tx_img" class="mdi mdi-account-tie pointer"
                [matMenuTriggerFor]="menu">
            </div>

            <!-- NORMAL LOGIN WITH IMAGE -->
            <div *ngIf="!loginService.user.bl_social && loginService.user.tx_img" class="pointer"
                [matMenuTriggerFor]="menu">
                <img class="user-image"
                    [src]="loginService.user.tx_img | imagenPipe : 'tx_img' : loginService.user._id">
            </div>

            <!-- NORMAL LOGIN WO IMAGE -->
            <div *ngIf="!loginService.user.bl_social && !loginService.user.tx_img" class="mdi mdi-account-tie pointer"
                [matMenuTriggerFor]="menu">
            </div>

            <mat-menu #menu="matMenu">
                <div *ngIf="loginService.user?.id_role === 'ADMIN_ROLE'" routerLink="/admin/home" mat-menu-item>
                    <span class="lg toolbar-menu-icon mdi mdi-shield-star-outline mx-1"></span>
                    <span class="ml-2 align-middle">Página de Administrador</span>
                </div>
                <div routerLink="/waiter/home" mat-menu-item>
                    <span class="lg toolbar-menu-icon mdi mdi-account-tie-outline mx-1"></span>
                    <span class="ml-2 align-middle">Atender mis Mesas</span>
                </div>
                <div *ngIf="loginService.user?.id_role === 'ADMIN_ROLE'" routerLink="/admin/wizard" mat-menu-item>
                    <span class="lg toolbar-menu-icon mdi mdi-wizard-hat mx-1"></span>
                    <span class="ml-2 align-middle">Iniciar Asistente</span>
                </div>
                <div routerLink="/waiter/dashboard" mat-menu-item>
                    <span class="lg toolbar-menu-icon mdi mdi-view-dashboard-variant mx-1"></span>
                    <span class="ml-2 align-middle">Métricas</span>
                </div>
                <div routerLink="/waiter/profile" mat-menu-item>
                    <span class="lg toolbar-menu-icon mdi mdi-account-circle mx-1"></span>
                    <span class="ml-2 align-middle">Perfil</span>
                </div>
                <div routerLink="/waiter/profile" mat-menu-item>
                    <span disabled class="lg toolbar-menu-icon mdi mdi-email mx-1"></span>
                    <span class="ml-2 align-middle">{{loginService.user?.tx_email}}</span>
                </div>
                <hr>
                <div class="px-2 pb-2 text-center">
                    <app-button></app-button>
                </div>
            </mat-menu>

        </div>

        <div *ngIf="!loginService.user" class="toolbar-base-item pointer" routerLink="/login">
            <div class="mdi mdi-account-circle"></div>
            <div>
                Comercios
            </div>
        </div>
        
    </div>

    <div class="second-row">

        <div class="toolbar-links-base">
            <div class="toolbar-base-item pointer" routerLink="/howworks">
                ¿Qué es Saturno?
            </div>
            <div class="toolbar-base-item pointer" routerLink="/public/tickets">
                Mis Reservas
            </div>
            <div class="toolbar-base-item pointer" (click)="scrollToElement()">
                Buscá por Zona
            </div>
        </div>

    </div>

</div>