<div class="page-container animated fadeIn">

    <mat-card>

        <form #f="ngForm" ngNativeValidate [formGroup]="contactForm" (ngSubmit)="enviar()">

            <mat-form-field color="accent" class="w-100">
                <mat-label>Tipo de contacto</mat-label>
                <mat-select formControlName="cdContact" name="cdContact" required>
                    <mat-option value="consulta"> Consulta </mat-option>
                    <mat-option value="reclamo"> Reclamo </mat-option>
                    <mat-option value="sugerencia"> Sugerencia </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field color="accent" class="w-100">
                <mat-label>Comentario</mat-label>
                <textarea minlength="10" maxlength="500" formControlName="txComment" name="txComment" matInput rows="5" required>
                </textarea>
            </mat-form-field>


            <div>
                <div style="cursor: pointer;text-align: start;" (click)="showContactData=!showContactData">
                    Datos de contacto (opcional)</div>
                <div *ngIf="showContactData">

                    <mat-form-field color="accent" class="w-100">
                        <mat-label>Nombre</mat-label>
                        <input maxlength="30" type="text" matInput formControlName="txName" name="txName" name="nombre"
                            minlength="2">
                    </mat-form-field>

                    <mat-form-field color="accent" class="w-100">
                        <mat-label>Email</mat-label>
                        <input maxlength="50" type="email" matInput formControlName="txEmail" name="txEmail"
                            name="email">
                    </mat-form-field>

                    <mat-form-field color="accent" class="w-100">
                        <mat-label>Teléfono</mat-label>
                        <input min="10000000" max="99999999999999" type="number" matInput formControlName="nmPhone"
                            name="nmPhone">
                    </mat-form-field>
                </div>
            </div>

            <button class="btn btn-success btn-block mt-4" type="submit">Enviar</button>



        </form>

        <div class="container mt-5">
            <div class="row" style="align-items: center;">
                <div class="col p-1 sm" style="text-align-last: left;">
                    <div>Matías Frith | 2021</div>
                </div>
                <div class="col p-1" style="text-align-last: right;">
                    <a href="https://www.facebook.com/saturno.turnos/" target="_blank"
                        class="ml-2 xxl pointer mdi mdi-facebook" style="color: #1f68ff"></a>
                    <a href="https://wa.me/541164906542" target="_blank" class="ml-2 xxl pointer mdi mdi-whatsapp"
                        style="color: #2fc62f"></a>
                    <a href="mailto:info@saturno.live" target="_blank" class="ml-2 xxl pointer mdi mdi-email-outline"
                        style="color: #ef0e0e"></a>
                </div>
            </div>
        </div>

    </mat-card>

</div>