@media (max-width: 850px) {

    .toolbar-spacer {
        top          : 55px !important;
        margin-bottom: 55px !important;
        height       : calc(100vh - 55px) !important;
    }

    .company-sections-container {
        flex-direction: column !important;
    }

}

@media (max-width: 575px) {
    .company-page-image {
        width : unset !important;
        height: 100vh !important;
    }

    .company-page-banner {
        max-height: 100vh !important;
    }

    .company-logo-container {
        margin-right : 0px !important;
        margin-bottom: 3em;
    }

    .company-info {
        flex-direction: column;
    }



}


.toolbar-spacer {
    top          : 0px !important;
    margin-bottom: 0px !important;
    height       : 100vh !important;
}

.company-page-banner {
    padding   : 0px 0px 0px 0px;
    position  : relative;
    overflow  : hidden;
    max-height: 550px;
}

.company-page-image {
    width: 100%;
}

.company-info-container {
    align-self: center;
}

.company-info {
    position        : absolute;
    top             : 0px;
    width           : 100%;
    height          : 100%;
    font-family     : Federant;
    background-color: var(--primary-o25);
    display         : flex;
    justify-content : center;
    padding         : 0px 36px;
}

.company-page-name {
    font-size: xxx-large;
    color    : rgb(255, 255, 255);
    text-shadow:
        -1px 0 2px rgb(50 50 50 / 40%),
        0px 1px 2px rgb(50 50 50 / 40%),
        0px -1px 2px rgb(50 50 50 / 40%),
        1px 0px 2px rgb(50 50 50 / 40%),
        -3px 0 2px rgb(50 50 50 / 20%),
        0px 3px 2px rgb(50 50 50 / 20%),
        0px -3px 2px rgb(50 50 50 / 20%),
        3px 0px 2px rgb(50 50 50 / 20%);
}

.company-page-slogan {
    font-size    : x-large;
    margin-bottom: 10px;
    color        : rgb(255, 255, 255);
    text-shadow  :
        -1px 0 2px rgb(50 50 50 / 40%),
        0px 1px 2px rgb(50 50 50 / 40%),
        0px -1px 2px rgb(50 50 50 / 40%),
        1px 0px 2px rgb(50 50 50 / 40%),
        -3px 0 2px rgb(50 50 50 / 20%),
        0px 3px 2px rgb(50 50 50 / 20%),
        0px -3px 2px rgb(50 50 50 / 20%),
        3px 0px 2px rgb(50 50 50 / 20%);
}

.company-page-tab-icon {
    color    : var(--accent);
    font-size: xx-large;
    height   : 40px;
    opacity  : 0.8;
}

.company-logo-container {
    align-self  : center;
    margin-right: 3rem;
}

.company-page-logo {
    border-radius: 50%;
    width        : 150px;
    height       : 150px;
    box-shadow   : 0px 0px 2px rgb(0 0 0 / 20%);
}

.company-page-tabs {
    /* vh - header - subtitle-margin-bottom - banner - footer */
    background-color: var(--mat-card-bg);
}

.company-sections-container {
    display       : flex;
    flex-direction: row;
    place-content : center;
}

.company-section-home {
    background-color: var(--mat-card-bg);
    flex-grow       : 1;
}

.company-sections-ticket {
    flex-grow: 0;
}

.company-page-footer {
    height          : 80px;
    align-items     : center;
    background-color: var(--primary);
    display         : flex;
    font-weight     : 200;
    justify-content : space-around;
}

.footer-social {
    display: flex;
}