<div class="saturno-page-container animated fadeIn" [ngClass]="{nomargin:nomargin, nopadding:nopadding}">

    <mat-card>

        <mat-card-header>
            <mat-card-title>
                <span class="mdi mdi-storefront-outline"></span> Mis Comercios
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div *ngIf="!adminService.companies || adminService.companies?.length === 0"
                class="row align-items-center justify-content-center">
                <span class="mdi mdi-alert-box-outline xxl mx-2 text-danger"></span>
                <span>Debe crear aquí al menos un bar / resto</span>
            </div>

            <div *ngIf="adminService.companies && adminService.companies?.length > 0 && !loginService.user.id_company" class="p-2 d-flex">
                <div class="p-2 xxl align-self-center text-danger mdi mdi-alert"></div>
                <div class="p-2 sm align-self-center">
                    Tenés comercios creados sin embargo no tenes seleccionado ninguno para continuar. Esto puede deberse 
                    a que eliminaste algún comercio recientemente o algún error ocurrió. Si queres continuar el asistente 
                    con algún comercio ya creado seleccionalo desde el menú principal o crea uno nuevo si no existe.
                </div>
            </div>


            <div *ngIf="adminService.companies && adminService.companies?.length > 0">
                <table mat-table [dataSource]="adminService.companies">
                    <ng-container matColumnDef="tx_company_name">
                        <th mat-header-cell *matHeaderCellDef class="text-left"> Nombre </th>
                        <td mat-cell *matCellDef="let element" class="text-left"><span
                                class="mdi mdi-check text-warning"
                                *ngIf="element.tx_company_string === companyUpdated?.tx_company_string"></span>
                            {{element.tx_company_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tx_address_street">
                        <th mat-header-cell *matHeaderCellDef class="text-left"> Calle </th>
                        <td mat-cell *matCellDef="let element" class="text-left">{{element.tx_address_street}}</td>
                    </ng-container>
                    <ng-container matColumnDef="tx_address_number">
                        <th mat-header-cell *matHeaderCellDef class="text-left"> Altura </th>
                        <td mat-cell *matCellDef="let element" class="text-left">{{element.tx_address_number}}</td>
                    </ng-container>
                    <ng-container matColumnDef="_id">
                        <th mat-header-cell *matHeaderCellDef class="text-right"> Acción </th>
                        <td mat-cell *matCellDef="let element" class="text-right">
                            <span class="mdi mdi-pencil ml-2 xl text-success pointer"
                                (click)="editCompany(element)"></span>
                            <span class="mdi mdi-delete ml-2 xl text-danger pointer"
                                (click)="deleteCompany(element)"></span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button *ngIf="!openForm" mat-button (click)="openForm=true"><span class="lg mdi mdi-plus"></span> CREAR
                COMERCIO </button>
            <button *ngIf="openForm" mat-button (click)="openForm=false"><span class="lg mdi mdi-chevron-up"></span>
                CERRAR FORMULARIO </button>
        </mat-card-actions>

    </mat-card>


    <mat-card *ngIf="openForm" class="animated fadeIn">

        <app-company-create [companyEdit]="companyEdit" (newCompany)="companyEditedOrCreated($event)"
            (clearForm)="clearForm()">
        </app-company-create>

    </mat-card>

</div>