@media (max-width: 575px) {
    .company-page-title {
        font-size : xx-large !important;
        margin-top: 10px;
    }
}

.company-page-banner {
    padding: 20px 20px 0px 20px;
}

.company-page-title {
    font-size: xxx-large;
    color    : var(--accent);
}

.company-page-subtitle {
    font-size    : medium;
    margin-bottom: 10px;

}

.company-page-tab-icon {
    color    : var(--accent);
    font-size: xx-large;
    height   : 40px;
    opacity  : 0.8;
}

.company-page-logo {
    border-radius: 50%;
    position     : relative;
    margin-bottom: -60px;
    top          : -60px;
    width        : 100px;
    box-shadow   : 0px 0px 4px rgb(0 0 0 / 50%);
}

.company-page-tabs {
    /* vh - header - subtitle-margin-bottom - banner - footer */
    min-height      : calc(100vh - 64px - 10px - 356px - 80px);
    background-color: var(--mat-card-bg);
}

.company-page-footer {
    height          : 80px;
    align-items     : center;
    background-color: var(--primary);
    display         : flex;
    font-weight     : 200;
    justify-content : space-around;
}

.footer-social {
    display: flex;
}