<div class="schedule-container">

    <table class="schedule sm" *ngIf="availability.length > 0">

        <thead>
            <tr>
                <th class="px-1">Int</th>
                <th class="px-1">Cap</th>
                <th class="px-1" *ngFor="let t of tables">{{t.nm_table}}</th>
            </tr>
        </thead>

        <tbody>
            <!-- intervals -->
            <tr *ngFor="let av of availability; let i = index" [ngClass]="{'odd-row': i%2==0}">

                <td class="px-1">
                    <span>{{av.interval | dateToInterval}}</span>
                </td>
                <td>
                    <span class="text-accent">{{av.capacity}}</span>
                </td>

                <!-- tables -->
                <td class="px-1" *ngFor="let t of av.tables">

                    <!-- reserved -->
                    <span *ngIf="t.blReserved" class="mdi  mdi-account-box-outline text-warn pointer"
                        (click)="openBottomSheet(t, av)">
                        <span class="persons">{{t.nmPersons}}</span>
                    </span>

                    <!-- available -->
                    <span *ngIf="!t.blReserved" class="mdi mdi-checkbox-blank-outline text-active pointer"
                        (click)="openBottomSheet(t, av)">
                        <span class=" persons">{{t.nmPersons}}</span>
                    </span>

                </td>

            </tr>
        </tbody>
    </table>

</div>