.schedule-container {
    overflow   : auto;
    height     : calc(100vh - 250px);
    font-family: monospace
}

.table-button-active {
    opacity      : 1 !important;
    border       : 2px solid var(--accent);
    border-radius: 5px;
}

thead {
    position: sticky;
}

.schedule th {
    position        : sticky;
    height          : 32px;
    font-size       : large;
    text-align      : center;
    font-weight     : 200;
    font-family     : system-ui;
    top             : 0px;
    background-color: var(--mat-panel-bg);
}

.schedule th.cap {
    color    : var(--accent);
    font-size: medium;
}

.schedule tr {
    height     : 32px;
    font-size  : large;
    font-weight: 200;
    font-family: system-ui;
    text-align : center;
}

.schedule td {
    padding      : 5px 0px;
    border-bottom: 1px solid grey;
}

.odd-row {
    background-color: var(--bg);
}

.schedule td .persons {
    vertical-align: text-top;
    font-size     : small;
}

.table-button-inactive {
    /* opacity: .5; */
}