<form ngNativeValidate #formDirective="ngForm" [formGroup]="forma" (ngSubmit)="createTable(formDirective)">

    <mat-form-field color="warn" class="w-100">
        <mat-label>Seleccione un sector</mat-label>
        <mat-select formControlName="idSection" name="idSection" #selectSection matNativeControl required>
            <mat-option *ngFor="let section of sections" [value]="section._id" (click)="sectionChange(section)">
                {{section.tx_section}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field color="warn" class="w-100">
        <mat-label>ID Mesa</mat-label>
        <input matInput placeholder="Identificador de escritorio" formControlName="nmTable" name="nmTable" type="number" required>
    </mat-form-field>

    <mat-form-field color="warn" class="w-100">
        <mat-label>Cantidad de comensales</mat-label>
        <input matInput placeholder="Identificador de escritorio" formControlName="nmPersons" name="nmPersons" type="number" required>
    </mat-form-field>

    <div class="container pt-4 px-0">
        <div class="row text-center">
            <div class="col">
                <button mat-raised-button color="accent" type="submit">
                    <span class="mdi lg mdi-content-save-outline"></span> Guardar Mesa</button>
            </div>
        </div>
    </div>

</form>