<div class="page-container animated fadeIn">

    <mat-card class="h-100">
        <mat-card-content>
            <mat-accordion multi="false">

                <!-- --------------------- -->
                <!-- AAM -->
                <!-- --------------------- -->

                <mat-expansion-panel class="my-3">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="xl mdi  mdi-cog text-deco"></span>
                            <span class="align-self-center md ml-2">Configuraciones Generales</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-modules></app-modules>

                </mat-expansion-panel>

                <!-- --------------------- -->
                <!-- MESSAGES -->
                <!-- --------------------- -->

                <mat-expansion-panel class="my-3">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="xl mdi  mdi-send text-deco"></span>
                            <span class="align-self-center md ml-2">Enviá un mensaje a tus
                                clientes</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-message></app-message>

                </mat-expansion-panel>

            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>