:root {
    /* color principal dark/light */
    --main-o50: rgba(0, 0, 0, .5);
    --main-o80: rgba(0, 0, 0, .8);
    --main    : rgba(0, 0, 0, 1);

    /* color principal con un toque de color invertido */
    --main-touch-text-o50: rgba(50, 50, 50, .5);
    --main-touch-text-o80: rgba(50, 50, 50, .8);
    --main-touch-text-o95: rgba(50, 50, 50, .95);
    --main-touch-text    : rgba(50, 50, 50, 1);

    /* color invertido con un toque de color principal */
    --text-touch-main-o50: rgba(230, 230, 230, .5);
    --text-touch-main-o80: rgba(230, 230, 230, .8);
    --text-touch-main-o95: rgba(230, 230, 230, .95);
    --text-touch-main    : rgba(230, 230, 230, 1);

    /* color invertido al principal  */
    --text-o04: rgba(255, 255, 255, .04);
    --text-o10: rgba(255, 255, 255, .1);
    --text-o12: rgba(255, 255, 255, .12);
    --text-o14: rgba(255, 255, 255, .14);
    --text-o20: rgba(255, 255, 255, .2);
    --text-o26: rgba(255, 255, 255, .26);
    --text-o38: rgba(255, 255, 255, .38);
    --text-o42: rgba(255, 255, 255, .42);
    --text-o50: rgba(255, 255, 255, .5);
    --text-o60: rgba(255, 255, 255, .6);
    --text-o70: rgba(255, 255, 255, .7);
    --text-o87: rgba(255, 255, 255, .87);
    --text-o95: rgba(255, 255, 255, .95);
    --text    : #ffffff;

    --primary            : #7b1fa2;
    --accent             : #66ff00;
    --accent-invert      : #056c00;
    --warn               : #f44336;
    --deco               : #ff6d00;
    --info               : #cbcbcb;
    --bg                 : #343332;
    --mat-card-bg        : #424242;
    --mat-panel-bg       : #494949;
    --mat-bottom-sheet-bg: #343332;
    --active             : #43f436;
    --paused             : #a4a4a4;
    --busy               : #ff4848;
    --font-family        : 'Baloo Bhai 2', 'Encode Sans', 'system-ui', 'Averia Libre', 'Monda';

}