:root {

    /* color principal dark/light */
    --main-o10: rgba(255, 255, 255, .1);
    --main-o30: rgba(255, 255, 255, .3);
    --main-o50: rgba(255, 255, 255, .5);
    --main-o80: rgba(255, 255, 255, .8);
    --main    : rgba(255, 255, 255, 1);

    /* color principal con un toque de color invertido */
    --main-touch-text-o50: rgba(200, 200, 200, .5);
    --main-touch-text-o80: rgba(200, 200, 200, .8);
    --main-touch-text-o95: rgba(200, 200, 200, .95);
    --main-touch-text    : rgba(200, 200, 200, 1);

    /* color invertido con un toque de color principal */
    --text-touch-main-o50: rgba(50, 50, 50, .5);
    --text-touch-main-o80: rgba(50, 50, 50, .8);
    --text-touch-main-o95: rgba(50, 50, 50, .95);
    --text-touch-main    : rgba(50, 50, 50, 1);

    /* color invertido al principal  */
    --text-o04: rgba(0, 0, 0, .04);
    --text-o10: rgba(0, 0, 0, .1);
    --text-o12: rgba(0, 0, 0, .12);
    --text-o14: rgba(0, 0, 0, .14);
    --text-o20: rgba(0, 0, 0, .2);
    --text-o26: rgba(0, 0, 0, .26);
    --text-o38: rgba(0, 0, 0, .38);
    --text-o42: rgba(0, 0, 0, .42);
    --text-o50: rgba(0, 0, 0, .5);
    --text-o60: rgba(0, 0, 0, .6);
    --text-o70: rgba(0, 0, 0, .7);
    --text-o87: rgba(0, 0, 0, .87);
    --text-o95: rgba(0, 0, 0, .95);
    --text    : rgba(0, 0, 0, 1);

    --primary-o25        : rgba(23, 140, 149, .25);
    --primary-o50        : rgba(23, 140, 149, .50);
    --primary-o75        : rgba(23, 140, 149, .75);
    --primary            : rgba(23, 140, 149, 1);
    --accent             : #a121bf;
    --accent-invert      : #41d019;
    --warn               : #f44336;
    --deco               : #ff5722;
    --info               : #3f3f3f;
    --bg                 : #e6e4e0;
    --mat-card-bg        : #f5f4f1;
    --mat-panel-bg       : #fcfcfc;
    --mat-bottom-sheet-bg: #d0d0d0;
    --active             : #37ba2d;
    --paused             : #a4a4a4;
    --busy               : #f44336;
    --font-family        : 'Baloo Bhai 2', Averia Libre, Charmonman, Contrail One, Encode Sans, Special Elite, Rhodium Libre, Monda, Life Savers, Griffy, Felipa, Federant;

}