<div class="social-container p-4">

    <!-- <a href="https://t.me/saturnofunbot?start={{ticket._id}}" *ngIf="isMobile"> </a> -->

    <div *ngIf="social && showlogged" class="social-status">
        <div class="sm mr-2">
            {{social.txPlatform | capitalizarPipe}} [{{social.txName}}] 
        </div>
        <div>
            <button mat-button color="warn" (click)="logOut()">
                    Salir
            </button>
        </div>
    </div>


    <div *ngIf="(!social || !showlogged) && platforms" class="social-buttons">

        <!-- WHATSAPP -->
        <div *ngIf="isMobile && platforms.includes('whatsapp')">
            <button mat-raised-button class="action-button" color="active" disabled>
                <table>
                    <tr>
                        <td class="button-icon mdi mdi-whatsapp xl"></td>
                        <td class="button-text">Whatsapp</td>
                    </tr>
                </table>
            </button>
        </div>

        <!-- TELEGRAM -->
        <div *ngIf="platforms.includes('telegram')">
            <button mat-raised-button class="action-button" color="telegram" (click)="validateTicketTelegram()">
                <table>
                    <tr>
                        <td class="button-icon mdi mdi-telegram xl"></td>
                        <td class="button-text">Telegram</td>
                    </tr>
                </table>
            </button>
        </div>

        <!-- FACEBOOK -->
        <div *ngIf="platforms.includes('facebook')">
            <button mat-raised-button class="action-button" color="facebook" type="button" data-toggle="tooltip"
                (click)="facebookLogin()">
                <table>
                    <tr>
                        <td class="button-icon mdi mdi-facebook xl"></td>
                        <td class="button-text">Facebook</td>
                    </tr>
                </table>
            </button>
        </div>

        <!-- GOOGLE -->
        <div *ngIf="platforms.includes('google')">
            <button #validateTicketGoogle mat-raised-button class="action-button" color="warn" type="button"
                data-toggle="tooltip" (click)="googleValidate(validateTicketGoogle)">
                <table>
                    <tr>
                        <td class="button-icon mdi mdi-google xl"></td>
                        <td class="button-text">Google</td>
                    </tr>
                </table>
            </button>
        </div>

    </div>


</div>