.row:hover {
    background-color: orangered;
}


tr.detail-row {
    height: 0;
}

tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

.element-row td {
    border-bottom-width: 0;
}



/* MESAS  */

.ticket-container {
    overflow : hidden;
    display  : flex;
    flex-flow: wrap;
}

.table-buttons-container {
    width     : 100%;
    padding   : 1.5em;
    text-align: center;
}

.ticket-actions {
    /* justify-content: space-between; */
    justify-content: center;
    width          : 100%;
    display        : flex;
    flex-flow      : wrap;
}


.tables-row:hover {
    background-color: rgba(120, 20, 120, 0.2);
    cursor          : pointer;
}