        <!------------------------------>
        <!-- QUEUED -->
        <!------------------------------>
        <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="xl mdi mdi-format-list-numbered text-primary"></span>
                <span class="sidenav-title-text mx-2">Cola ({{waiting.length}})</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
  
            <div class="card bg-danger text-white" *ngIf="waiting.length == 0">
              <div class="card-header lg">
                No hay clientes esperando mesa
              </div>
            </div>
  
            <mat-accordion multi="false" *ngIf="waiting.length > 0">
              <mat-expansion-panel class="noshadow" *ngFor="let ticket of waiting">
  
                <!-- header -->
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div *ngIf="ticket.cd_tables.length > 0">
                      <span class="text-success xl mr-2 mdi mdi-checkbox-marked"></span>
                    </div>
                    <div *ngIf="ticket.cd_tables.length == 0">
                      <span class="text-danger xl mr-2 mdi mdi-alert-box"></span>
                    </div>
                    Turno {{ ticket.id_position }}: mesa para {{ ticket.nm_persons }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <!-- tables -->
                <div class="container row px-0 mb-4">
                  <div *ngFor="let table of tables" class="col-4 px-0 p-1">
                    <div class="btn btn-block p-0" [ngClass]="{
                        'btn-success': ticket.cd_tables.includes(table.nm_table),
                        'btn-secondary': !ticket.cd_tables.includes(
                          table.nm_table
                        )
                      }" (click)="setReserve(table, ticket)">
                      <table width="100%" class="shadow-box">
                        <tr>
                          <td class="rounded-left" style="background-color: rgba(50, 50, 50, 0.3)">
                            <span class="xl">{{ table.nm_table }}</span>
                          </td>
                          <td>
                            <span *ngIf="ticket.cd_tables.includes(table.nm_table)"
                              class="xl mdi mdi-check-circle text-white"></span>
                            <span *ngIf="!ticket.cd_tables.includes(table.nm_table)"
                              class="lg mdi mdi-human-male text-warning">{{ table.nm_persons }}</span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
  
                <!-- buttons -->
                <div class="row">
                  <div class="col">
                    <button class="btn btn-info btn-block" (click)="assignTables(ticket, false)">
                      <span class="mdi mdi-clock"></span> Asignar
                    </button>
                  </div>
                  <div class="col">
                    <button class="btn btn-primary btn-block" (click)="assignTables(ticket, true)">
                      <span class="mdi mdi-clock-check"></span>
                      Asignar con Prioridad
                    </button>
                  </div>
                </div>
  
              </mat-expansion-panel>
            </mat-accordion>
  
          </mat-expansion-panel>