<!------------------------------>
<!-- QUEUED -->
<!------------------------------>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="xl mdi mdi-human-queue text-primary"></span>
      <span class="sidenav-title-text mx-2">Encolados ({{queued.length}}) </span>
    </mat-panel-title>
  </mat-expansion-panel-header>



  <table mat-table [dataSource]="queued" multiTemplateDataRows>

    <ng-container matColumnDef="id_position">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Ticket # </th>
      <td mat-cell *matCellDef="let ticket" class="text-center">
        <span>{{ ticket.id_position }}</span>
      </td>
    </ng-container>


    <ng-container matColumnDef="tx_persons">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Personas </th>
      <td mat-cell *matCellDef="let ticket" class="text-center">
        <span>{{ ticket.nm_persons}}</span>
      </td>
    </ng-container>

    
    <ng-container matColumnDef="tx_status">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Estado </th>
      <td mat-cell *matCellDef="let ticket" class="text-center">
        <span>{{ ticket.tx_status}}</span>
      </td>
    </ng-container>

    
    <ng-container matColumnDef="tx_section">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Sector </th>
      <td mat-cell *matCellDef="let ticket" class="text-center">
        <span>{{ ticket.id_section.tx_section}}</span>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td class="td-expanded px-0" mat-cell *matCellDef="let ticket" [attr.colspan]="displayedColumns.length">
        <div class="ticket-container" [@detailExpand]="ticket == expandedElement ? 'expanded' : 'collapsed'">

          <div class="ticket-status">

            <div *ngFor="let table of tables" class="col-4 px-0 p-1">
              <div class="btn btn-block p-0" [ngClass]="{
                            'btn-success': ticket.cd_tables.includes(table.nm_table),
                            'btn-secondary': !ticket.cd_tables.includes(
                              table.nm_table
                            )
                          }" (click)="setReserve(table, ticket)">

                <span class="xl">{{ table.nm_table }}</span>
                <span *ngIf="ticket.cd_tables.includes(table.nm_table)"
                  class="xl mdi mdi-check-circle text-white"></span>
                <span *ngIf="!ticket.cd_tables.includes(table.nm_table)"
                  class="lg mdi mdi-human-male text-warning">{{table.nm_persons }}</span>

              </div>
            </div>

          </div>

          <div class="ticket-actions">

            <!------------------------------>
            <!-- ACTIONS -->
            <!------------------------------>

            <button mat-raised-button color="primary" class="action-button m-1">
              <div class="mdi mdi-priority-high xl"></div>
              <mat-slide-toggle [(ngModel)]="assignWithPriority">
              </mat-slide-toggle>
            </button>

            <button mat-raised-button color="primary" class="action-button m-1"
              (click)="assignTables(ticket, assignWithPriority)">
              <div class="mdi  mdi-hand-pointing-right xl"></div>
              <div class="sm">Asingar</div>
            </button>

          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let ticket; columns: displayedColumns;" [class.expanded-row]="expandedElement === ticket"
      (click)="expandedElement = expandedElement === ticket ? null : ticket" class="tables-row"></tr>
    <tr mat-row *matRowDef="let ticket; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>


</mat-expansion-panel>