<!------------------------------>
<!-- QUEUED -->
<!------------------------------>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="xl mdi mdi-human-queue text-primary"></span>
      <span class="sidenav-title-text mx-2">Tickets ({{queued.length}}) </span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div *ngIf="queued.length === 0">No hay clientes esperando mesas</div>

  <table *ngIf="queued.length > 0" mat-table [dataSource]="queued" multiTemplateDataRows>

    <ng-container matColumnDef="id_position">
      <th mat-header-cell *matHeaderCellDef class="text-center"> # </th>
      <td mat-cell *matCellDef="let ticket" class="text-center">
        <span>{{ ticket.id_position }}</span>
      </td>
    </ng-container>


    <ng-container matColumnDef="tx_persons">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Pers </th>
      <td mat-cell *matCellDef="let ticket" class="text-center">
        <span>{{ ticket.nm_persons}}</span>
      </td>
    </ng-container>


    <ng-container matColumnDef="tx_status">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Est </th>
      <td mat-cell *matCellDef="let ticket" class="text-center">
        <span *ngIf="ticket.tx_status==='assigned'" class="xl mdi mdi-gesture-double-tap saturno-text-accent"></span>
        <span *ngIf="ticket.tx_status==='queued'" class="xl mdi mdi-timer-sand"></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
      <td mat-cell *matCellDef="let ticket" class="text-center">
        <span>{{ ticket.tx_name}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="contingencia">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Circ </th>
      <td mat-cell *matCellDef="let ticket" class="text-center">
        <span *ngIf="ticket.bl_contingent" class="xl mdi mdi-door"></span>
        <span *ngIf="!ticket.bl_contingent" class="xl mdi mdi-web saturno-text-accent"></span>

      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td class="td-expanded px-0" mat-cell *matCellDef="let ticket" [attr.colspan]="displayedColumns.length">
        <div class="ticket-container" [@detailExpand]="ticket == expandedElement ? 'expanded' : 'collapsed'">

          <!-- <mat-card style="display: flex;" class="card-left-border">
            <div class="mdi mdi-alert xxxl saturno-text-accent" style="align-self: center;"></div>
            <div class="sm p-3">
              Sólo usa esta opción si querés asignar MANUALMENTE una o mas mesas determinadas a un cliente
              en especial en la cola de espera. Recorda que la asignación de mesas es AUTOMÁTICA, por lo tanto
              si no querés hacer una asignación MANUAL tenes que ir a la sección "Mesas" y activar mesas pausadas
              o esperar a que se liberen si estan ocupadas.
            </div>
          </mat-card> -->

          <div class="table-buttons-container">
            <button mat-raised-button [color]="ticket.cd_tables.includes(table.nm_table)?'active':''"
              *ngFor="let table of tables" class="m-1" (click)="setReserve(table, ticket)">
              <div class="xl px-3" style="background-color: rgba(0,0,0,.1);">{{ table.nm_table }}</div>
              <div *ngIf="ticket.cd_tables.includes(table.nm_table)" style="background-color: rgba(0,0,0,.1);"
                class="xl mdi mdi-check-circle"></div>
              <div *ngIf="!ticket.cd_tables.includes(table.nm_table)" style="background-color: rgba(0,0,0,.1);"
                class="lg mdi mdi-human-male">{{table.nm_persons }}</div>
            </button>
          </div>

          <div class="ticket-actions">

            <!------------------------------>
            <!-- ACTIONS -->
            <!------------------------------>

            <button mat-raised-button color="primary" class="action-button">
              <table>
                <tr>
                  <td class="button-icon mdi mdi-priority-high xl"></td>
                  <td class="td-text">
                    <mat-slide-toggle [(ngModel)]="assignWithPriority">
                    </mat-slide-toggle>
                  </td>
                </tr>
              </table>
            </button>

            <button mat-raised-button color="primary" class="action-button"
              (click)="assignTables(ticket, assignWithPriority)">
              <table>
                <tr>
                  <td class="button-icon mdi  mdi-hand-pointing-right xl"></td>
                  <td class="td-text">Asingar</td>
                </tr>
              </table>
            </button>

          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let ticket; columns: displayedColumns;" [class.expanded-row]="expandedElement === ticket"
      (click)="expandedElement = expandedElement === ticket ? null : ticket" class="tables-row"></tr>
    <tr mat-row *matRowDef="let ticket; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>


</mat-expansion-panel>