.drop-zone {
    border        : dotted 1px gray;
    color         : #666;
    text-align    : center;
    vertical-align: top;
}

.file-over {
    border: dotted 1px dodgerblue;
}

.text-upload {
    font-size  : small;
    font-family: monospace;
}

.text-green {
    color: #139913
}

.slider_imgs {
    height: 70px;
    width : 70px;
}

.image:hover {
    border: 1px solid rgba(100, 100, 100, 0.5);
}

.image .delete-icon {
    cursor     : pointer;
    position   : absolute;
    top        : 0px;
    color      : white;
    font-weight: 200;
    right      : 3px;
    text-shadow: -1px 0 rgba(0, 0, 0, 1), 0px 1px rgba(0, 0, 0, 1), 0px -1px rgba(0, 0, 0, 1), 1px 0 rgba(0, 0, 0, 1);
}

.table-upload {
    font-size     : 12px;
    text-align    : left;
    vertical-align: top;
    margin        : 0px;
    padding       : 0px;
    width         : 100%;
}

.progress {
    display         : flex;
    height          : .2rem;
    overflow        : hidden;
    line-height     : 0;
    font-size       : .75rem;
    background-color: #5d5d5d;
}

.image-queue {
    opacity: 0.3;
}

.image img {
    width : 100%;
    height: auto;
}


.images-container {
    display        : flex;
    flex-grow      : 1;
    flex-shrink    : 1;
    flex-basis     : auto;
    flex-wrap      : wrap;
    justify-content: center;
}

.image-logo {
    position: relative;
    display : flex;
    margin  : 5px;
    width   : 8em;
    height  : 8em;
}


.image {
    position: relative;
    display : flex;
    margin  : 1px;
    width: 5em;
    height: 5em;
}




.image:hover {
    border         : none;
}