<mat-card>
    <mat-card-header>
        <mat-card-title><span [class]="cardData.icon"></span> {{cardData.title}} </mat-card-title>
        <mat-card-subtitle>{{cardData.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <div appNgDropFiles [filesToUpload]="filesToUpload" [tipo]="tipo" [id]="id"
            (mouseSobre)="estaSobreElemento = $event" (sendDropFiles)="queueFilesDrop($event)"
            [ngClass]="{'file-over':estaSobreElemento}" class="container p-2 drop-zone file-over" *ngIf="company">


            <!-- <label class="btn btn-warning" for="filesUpload">Seleccionar Imagen</label> -->
            <input (change)="queueFilesInput($event)" id="filesUpload" type="file" name="photo" style="display: none;"
               multiple="false" >


            <div class="row m-0" *ngIf="company">
                <div class="col-12 col-sm-7 p-0">
                    <!-- Imagenes cargadas en el server -->
                    <div class="row m-0 justify-content-center">
                        <div *ngFor="let img of company.tx_company_banners" class="image">
                            <img src="{{img | imagenPipe : txType : company?._id }}">
                            <span class="mdi mdi-close delete-icon" (click)="borrarImagen(img)"></span>
                        </div>

                        <!-- Imagenes previsualizadas luego del drag and drop -->
                        <div *ngFor="let archivo of filesToUpload; let i = index;" class="image">
                            <img class="image-queue" [src]="archivo.bufferImage">
                            <span class="mdi mdi-close delete-icon"
                                (click)="borrarImagenQueue(archivo.nombreArchivo)"></span>
                        </div>

                        <!-- Maximo de 20 imagenes, si son menos las completo con 'no-image' Agregar -->
                        <div class="image"
                            *ngFor="let aasdf of [].constructor(maxupload - company.tx_company_banners.length - filesToUpload.length)">
                            <label for="filesUpload"><img class="pointer"
                                    src="../../../assets/img/no-image1.png"></label>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-sm-5 p-0">
                    <div *ngIf="filesToUpload.length === 0">Arrastre aquí las imagenes</div>
                    <div *ngFor="let archivo of filesToUpload">

                        <div [ngClass]="{'text-green':archivo.progreso>=100}" class="text-upload text-left">
                            {{archivo.nombreArchivo | wordMaxLength : 10}} {{archivo.archivo.size / 1024 | number:
                            '.2-2'}} KB (Subido: {{archivo.progreso}}%)
                        </div>


                        <div class="progress animated fadeIn">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width':archivo.progreso + '%'}">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </mat-card-content>

    <mat-card-actions>
        <button mat-button (click)="subirImagenes()" [disabled]="filesToUpload.length==0"><i class="mdi mdi-upload"></i>
            Subir</button>
        <button mat-button (click)="borrarImagenes()" [disabled]="company.tx_company_banners.length==0"><i
                class="mdi mdi-delete"></i> Eliminar Todas</button>
    </mat-card-actions>

</mat-card>