<mat-card-header *ngIf="header">
    <mat-card-title><span [class]="header.icon"></span> {{header.title}} </mat-card-title>
    <mat-card-subtitle>{{header.subtitle}}</mat-card-subtitle>
</mat-card-header>


<mat-card-content class="my-0">

    <div app-dropfiles (mouseSobre)="estaSobreElemento = $event" (sendDropFiles)="queueFiles($event)"
        [ngClass]="{'file-over':estaSobreElemento}" class="container p-2 drop-zone file-over">


        <input #fileInput (change)="queueFiles($event)" [id]="idField" type="file" style="display: none">

        <div *ngIf="data">

            <!-- ------------------------------------------------ -->
            <!-- UPLOAD SINGLE -->
            <!-- ------------------------------------------------ -->

            <div *ngIf="!multi" class="images-container">

                <!-- Imagenes cargadas en el server -->
                <div *ngIf="filesToUpload.length === 0 && data[idField]" class="image">
                    <img src="{{data[idField] | imagenPipe : idField : idDocument }}">
                    <span *ngIf="editable" class="mdi mdi-close delete-icon"
                        (click)="deleteImage(data[idField])"></span>
                </div>

                <!-- no hay imagen subida ni precargada se muestra imagen por defecto -->

                <div *ngIf="filesToUpload.length === 0 && !data[idField]">

                    <label *ngIf="editable else noimage" class="image pointer" [for]="idField">
                        <img src="../../../assets/img/no-image1.png">
                    </label>

                    <ng-template #noimage>
                        <label class="image">
                            <img src="../../../assets/img/no-image1.png">
                        </label>
                    </ng-template>
                </div>


                <!-- Imagenes previsualizadas luego del drag and drop -->
                <div *ngIf="filesToUpload && filesToUpload.length > 0" class="image">
                    <img class="image-queue" [src]="filesToUpload[0].bufferImage">
                    <span *ngIf="editable" class="mdi mdi-close delete-icon"
                        (click)="removeQueue(filesToUpload[0].nombreArchivo)"></span>
                </div>

            </div>

            <!-- ------------------------------------------------ -->
            <!-- UPLOAD MULTI -->
            <!-- ------------------------------------------------ -->

            <!-- Maximo de 20 imagenes, si son menos las completo con 'no-image' Agregar -->
            <div *ngIf="multi" class="images-container">

                <!-- Imagenes cargadas en el server -->
                <div *ngFor="let img of data[idField]" class="image">
                    <img src="{{img | imagenPipe : idField : idDocument }}">
                    <span class="mdi mdi-close delete-icon" (click)="deleteImage(img)"></span>
                </div>

                <!-- Imagenes previsualizadas luego del drag and drop -->
                <div *ngFor="let archivo of filesToUpload; let i = index;" class="image">
                    <img class="image-queue" [src]="archivo.bufferImage">
                    <span class="mdi mdi-close delete-icon" (click)="removeQueue(archivo.nombreArchivo)"></span>
                </div>

                <!-- para la diferencia muestro imagenes por defecto -->
                <div *ngFor="let aasdf of [].constructor(maxupload - data[idField].length - filesToUpload.length)"
                    class="image pointer">
                    <label [for]="idField" style="cursor: inherit;">
                        <img src="../../../assets/img/no-image1.png">
                    </label>
                </div>
            </div>
        </div>

        <!-- ------------------------------------------------ -->
        <!-- UPLOADS PROGRESS -->
        <!-- ------------------------------------------------ -->

        <div>
            <div *ngIf="multi">Arrastre aquí las imagenes</div>
            <div *ngFor="let archivo of filesToUpload">
                <div [ngClass]="{'text-green':archivo.progreso>=100}" class="text-upload text-left">
                    {{archivo.nombreArchivo | wordMaxLength : 10}} {{archivo.archivo.size / 1024 | number:
                    '.2-2'}} KB (Subido: {{archivo.progreso}}%)
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100" [ngStyle]="{'width':archivo.progreso + '%'}">
                    </div>
                </div>
            </div>
        </div>
    </div>

</mat-card-content>

<!-- ------------------------------------------------ -->
<!-- MULTI ACTION BUTTONS -->
<!-- ------------------------------------------------ -->

<mat-card-actions *ngIf="multi">
    <mat-spinner *ngIf="uploading"></mat-spinner>
    <button *ngIf="!uploading" mat-button (click)="uploadMulti()" [disabled]="filesToUpload.length===0"><i class="mdi mdi-upload"></i>
        Subir {{uploading}}</button>
    <button *ngIf="!uploading" mat-button (click)="deleteImage('todas')" [disabled]="data[idField].length === 0"><i
            class="mdi mdi-delete"></i> Eliminar Todas</button>
</mat-card-actions>

<!-- ------------------------------------------------ -->
<!-- SINGLE ACTION BUTTONS -->
<!-- ------------------------------------------------ -->
<!-- (i.e. google profile images are not editable) -->
<mat-card-actions *ngIf="!multi && editable && !uploading">
    <button mat-button (click)="uploadSingle()" [disabled]="filesToUpload.length==0"><i class="mdi mdi-upload"></i>
        Subir</button>
</mat-card-actions>