
    <mat-card-header *ngIf="header">
        <mat-card-title><span [class]="header.icon"></span> {{header.title}} </mat-card-title>
        <mat-card-subtitle>{{header.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <div app-dropfiles (mouseSobre)="estaSobreElemento = $event" (sendDropFiles)="queueFiles($event)"
            [ngClass]="{'file-over':estaSobreElemento}" class="container p-2 drop-zone file-over">


            <input #filesUpload (change)="queueFiles($event)" [id]="txType" type="file" style="display: none">

            <div *ngIf="data">

                <!-- ------------------------------------------------ -->
                <!-- UPLOAD LOGO -->
                <!-- ------------------------------------------------ -->

                <div *ngIf="txType==='logo'" class="images-container">

                    <!-- Imagenes cargadas en el server -->
                    <div *ngIf="filesToUpload.length === 0 && data.tx_company_logo && data.tx_company_logo!=='default-logo.svg'" class="image">
                        <img src="{{data.tx_company_logo | imagenPipe : txType : data?._id }}">
                        <span class="mdi mdi-close delete-icon" (click)="deleteImage(filesToUpload[0])"></span>
                    </div>

                    <!-- Imagenes previsualizadas luego del drag and drop -->
                    <div *ngIf="filesToUpload && filesToUpload.length > 0" class="image">
                        <img class="image-queue" [src]="filesToUpload[0].bufferImage">
                        <span class="mdi mdi-close delete-icon"
                            (click)="removeQueue(filesToUpload[0].nombreArchivo)"></span>
                    </div>

                    <!-- no hay imagen subida ni precargada se muestra imagen por defecto -->
                    <label *ngIf="filesToUpload.length === 0 && (!data.tx_company_logo || data.tx_company_logo==='default-logo.svg')"
                        class="image pointer" [for]="txType">
                        <img src="../../../assets/img/no-image1.png">
                    </label>

                </div>

                <!-- ------------------------------------------------ -->
                <!-- UPLOAD BANNERS -->
                <!-- ------------------------------------------------ -->

                <!-- Maximo de 20 imagenes, si son menos las completo con 'no-image' Agregar -->
                <div *ngIf="txType==='banner'" class="images-container">

                    <!-- Imagenes cargadas en el server -->
                    <div *ngFor="let img of data.tx_company_banners" class="image">
                        <img src="{{img | imagenPipe : txType : data?._id }}">
                        <span class="mdi mdi-close delete-icon" (click)="deleteImage(img)"></span>
                    </div>

                    <!-- Imagenes previsualizadas luego del drag and drop -->
                    <div *ngFor="let archivo of filesToUpload; let i = index;" class="image">
                        <img class="image-queue" [src]="archivo.bufferImage">
                        <span class="mdi mdi-close delete-icon"
                            (click)="removeQueue(archivo.nombreArchivo)"></span>
                    </div>

                    <!-- no hay imagen subida ni precargada se muestra imagen por defecto -->
                    <div *ngFor="let aasdf of [].constructor(maxupload - data.tx_company_banners.length - filesToUpload.length)"
                        class="image pointer">
                        <label [for]="txType" style="cursor: inherit;">
                            <img src="../../../assets/img/no-image1.png">
                        </label>
                    </div>
                </div>
            </div>

            <!-- ------------------------------------------------ -->
            <!-- UPLOADS PROGRESS -->
            <!-- ------------------------------------------------ -->

            <div>
                <div *ngIf="filesToUpload.length === 0 && txType === 'banner'">Arrastre aquí las imagenes</div>
                <div *ngFor="let archivo of filesToUpload">
                    <div [ngClass]="{'text-green':archivo.progreso>=100}" class="text-upload text-left">
                        {{archivo.nombreArchivo | wordMaxLength : 10}} {{archivo.archivo.size / 1024 | number:
                        '.2-2'}} KB (Subido: {{archivo.progreso}}%)
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width':archivo.progreso + '%'}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </mat-card-content>

    <!-- ------------------------------------------------ -->
    <!-- LOGO ACTION BUTTONS -->
    <!-- ------------------------------------------------ -->

    <mat-card-actions *ngIf="txType==='banner'">
        <button mat-button (click)="uploadMultiple()" [disabled]="filesToUpload.length==0"><i class="mdi mdi-upload"></i>
            Subir</button>
        <button mat-button (click)="deleteImage('todas')" [disabled]="data.tx_company_banners.length==0"><i
                class="mdi mdi-delete"></i> Eliminar Todas</button>
    </mat-card-actions>

    <!-- ------------------------------------------------ -->
    <!-- BANNERS ACTION BUTTONS -->
    <!-- ------------------------------------------------ -->

    <mat-card-actions *ngIf="txType==='logo'">
        <button mat-button (click)="uploadSingle()" [disabled]="filesToUpload.length==0"><i class="mdi mdi-upload"></i>
            Subir</button>
        <button mat-button (click)="deleteImage()" [disabled]="data.tx_company_banners.length==0"><i
                class="mdi mdi-delete"></i> Eliminar</button>
    </mat-card-actions>

