.oculto {
  display: none !important;
}

.notification-icon {
  position: fixed;
  top     : 1.3em;
  right   : 19.3em;
  z-index : 2;
  cursor  : pointer;
  width   : 20px;
}

@media (max-width: 575px) {

  .notification-icon {
    left: 1em;
  }

}

.body {
  color: yellow;
}