.oculto {
  display: none !important;
}

.notification-icon {
  position: fixed;
  top     : 4.25em;
  right   : 0.7em;
  z-index : 2;
  cursor  : pointer;
  width   : 14px;
}

.opacity {
  opacity: .2;
}

@media (max-width: 575px) {}