.oculto {
  display: none !important;
}

.notification-icon {
  position: fixed;
  top     : 1.1em;
  right   : 8.3em;
  z-index : 2;
  cursor  : pointer;
  width   : 18px;
}

@media (max-width: 575px) {

}

