html,
body {
    background-color     : var(--bg);
    -webkit-touch-callout: none;
    -webkit-user-select  : none;
    -khtml-user-select   : none;
    -moz-user-select     : none;
    -ms-user-select      : none;
    user-select          : none;
    margin               : 0;
    font-family          : 'Baloo Bhai 2', Averia Libre, Charmonman, Contrail One, Encode Sans, Special Elite, Rhodium Libre, Monda, Life Savers, Griffy, Felipa, Federant;
    font-weight          : 300;
    font-style           : normal;
    font-size            : medium;
    font-display         : swap;
    height               : 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--accent);
    -webkit-box-shadow     : 0 0 0 30px var(--mat-card-bg) inset !important;
    transition             : background-color 5000s ease-in-out 0s;
}

table {
    width: 100%;
}

/*
-------------------------------------------
SCROLL BAR 
-------------------------------------------
*/

/* width */
.company-welcome-textarea::-webkit-scrollbar {
    width: 8px;
}

/* width */
/* ::-webkit-scrollbar {
    width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
    box-shadow   : inset 0 0 5px var(--primary);
    background-color: var(--primary-o50);
    border-radius: 0px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background   : var(--primary-o75);
    border-radius: 0px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
} */



.btn {
    border: none;
}

button:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none;
}

div:focus {
    outline: none;
}

span:focus {
    outline: none;
}

div:focus {
    outline: none;
}

.mapboxgl-canvas:focus {
    outline: none;
    border : none;
}

mat-card {
    outline: none;
}

td {
    outline       : none;
    vertical-align: middle !important;
}

.pointer {
    cursor: pointer;
}

.card-left-border {
    border-left: 5px solid var(--warning);
    line-height: 1.3em;
    font-weight: 200;
}

/*
400px -> 25rem
*/


/*
-------------------------------------------
SATURNO LOGIN/REGISTER
-------------------------------------------
*/

@media (max-width: 1000px) {
    .page-image {
        font-size  : xx-large !important;
        font-weight: 300;
    }

    .login-buttons button {
        font-size: medium !important;
    }
}

@media (max-width: 575px) {

    .page-image {
        display: none !important;
    }

    .page-login {
        width          : 100%;
        padding        : 0px !important;
        justify-content: flex-start !important;
        background     : var(--mat-card-bg) !important;
    }

    .page-login mat-card {
        box-shadow: none !important;
    }

    .login-title {
        display: block !important;
    }

    .login-buttons-inform {
        display: block !important;
    }

}

.page-wrapper {
    min-height      : 100vh;
    display         : flex;
    flex-direction  : row;
    background-image: url('../img/bghome.jpg');
    background-size : cover;
}

.page-image {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    flex-grow       : 1;
    color           : var(--accent);
    font-size       : 3em;
    font-weight     : 800;
    background-color: var(--bg-o90);
}

.page-login {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    flex-grow       : 0;
    background-color: var(--bg-o90);
    padding         : 50px;
}

.login-title {
    display  : none;
    font-size: large;
}

.login-buttons button {
    font-size: x-large;
}

.login-buttons-inform {
    display: none;
}

/*
-------------------------------------------
SATURNO TOOLBAR
-------------------------------------------
*/

@media (max-width: 850px) {

    .toolbar-logo-container {
        flex-grow: 1;
    }

    .toolbar-links-first-row {
        display: none !important;
    }

    .toolbar-second-row {
        display: flex !important;
        padding: 10px 5px;
    }

    .toolbar-spacer {
        top          : 94px !important;
        margin-bottom: 94px !important;
        height       : calc(100vh - 94px) !important;

    }
}

.toolbar-wrapper {
    color           : white;
    text-transform  : uppercase;
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    z-index         : 2;
    background-color: var(--primary);
    box-shadow      : 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}

/* ------------------------------------------- */
/* TOOLBAR LOGO FOR PUBLIC */
.toolbar-logo-container {
    display: flex;
}

.logo-img {
    background-image   : url('./../img/saturno-logo.png');
    background-size    : contain;
    background-repeat  : no-repeat;
    background-position: center center;
    height             : 3em;
    width              : 3em;
}

.logo-text-container {
    align-self    : center;
    text-align    : left;
    font-size     : 1.1em;
    letter-spacing: .1em;
    font-weight   : 200;
    margin-left   : 10px;
    line-height   : .8em;
}

/* END TOOLBAR LOGO FOR PUBLIC */
/* ------------------------------------------- */

.toolbar-user-image {
    width        : 30px;
    height       : 30px;
    border-radius: 50%;
    cursor       : pointer;
}

.company-name {
    overflow      : hidden;
    font-weight   : 300;
    letter-spacing: .2em;
    text-transform: uppercase;
    color         : whitesmoke;
    flex-grow     : 1;
    text-align    : center;
}

.toolbar-first-row {
    display    : flex;
    align-items: center;
    padding    : 8px 12px;
    height     : 55px;
    font-size  : small;
}

.toolbar-second-row {
    display        : none;
    justify-content: space-evenly;
    font-size      : small;
}


.toolbar-item {
    display  : flex;
    flex-wrap: wrap;
    margin   : 0px 16px;
    cursor   : pointer;
}

.toolbar-item .mdi {
    margin-right: 6px;
}

.toolbar-links-first-row {
    display      : flex;
    flex-grow    : 1;
    place-content: center;
    position     : relative;
    top          : 2px;
}

.toolbar-spacer {
    display       : flex;
    flex-direction: column;
    position      : relative;
    top           : 55px;
    margin-bottom : 55px;
    height        : calc(100vh - 55px);
    bottom        : 0;
    left          : 0;
    right         : 0;
    overflow      : auto;
}



/*
-------------------------------------------
END SATURNO TOOLBAR
-------------------------------------------
*/

/*
-------------------------------------------
START SATURNO CHAT
-------------------------------------------
*/

.chat-info {
    background-image: url('../img/bg-tile.png');
    height          : 60px;
    background-size : 80px;
    color           : white;
    align-items     : center;
    display         : flex;
    justify-content : left;
    padding         : 16px;
}

.chat-info-name {
    flex-grow: 0;
}

.chat-info-initialize {
    display        : flex;
    flex-grow      : 1;
    justify-content: flex-end;
}

.chat-messages {
    flex-grow     : 1;
    overflow      : scroll;
    overflow-x    : hidden;
    display       : flex;
    flex-direction: column;
}

.message-him {
    background-color: lightskyblue;
    padding         : 0.5em;
    font-size       : medium;
    font-weight     : 300;
    border-radius   : 5px;
    margin          : .3em;
    max-width       : 80%;
    text-align      : left;
    overflow-wrap   : anywhere;
    align-self      : self-start;
    line-height     : 0.9em;
}


.message-me {
    background-color: lightgoldenrodyellow;
    align-self      : flex-end;
}


.message-time {
    font-size : x-small;
    color     : #727780;
    text-align: right;
}

.chat-send {
    display       : flex;
    flex-direction: row;
    flex-grow     : 0;
}

.chat-input {
    border          : 0px;
    background-color: white;
    width           : -webkit-fill-available;
    padding         : .5rem 1rem 0.5rem 1rem;
}

.chat-send button {
    border-radius: 0px;
}


/*
-------------------------------------------
END SATURNO CHAT
-------------------------------------------
*/


.main-center {
    min-height: 100%;
    text-align: -webkit-center;
    text-align: -moz-center;
}

mat-drawer-container {
    background-color: unset !important;
    height          : 100%;
}

@media (min-width: 850px) {
    .main-wrapper {
        top: 55px;
    }
}

.box-shadow {
    box-shadow: 0px 2px 1px -1px var(--dark-o20), 0px 1px 1px 0px var(--dark-o14), 0px 1px 3px 0px var(--dark-o12);
}



.page-tab-container {
    font-variant: small-caps;
    font-family : 'Baloo Bhai 2', 'system-ui';
    margin      : 16px;
    min-width   : 300px;
    max-width   : 600px;
}

.page-container {
    height          : 100%;
    padding         : 30px 0px;
    min-width       : 300px;
    max-width       : 600px;
    font-size       : medium;
    height          : 100%;
    background-color: var(--bg);
}

.page-container-full {
    padding         : 30px 0px;
    font-size       : medium;
    height          : 100%;
    background-color: var(--bg);
}

.buttons-container {
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
}

@media (max-width: 575px) {

    .page-container,
    .page-container-full {
        padding: 0px 0px !important;
    }

    .page-container {
        margin : 0em;
        padding: 0em;
    }

    .page-container-login {
        height: 100vh;
    }

}

@media (min-width: 575px) {
    .shadow-box {
        border-radius: 5px;
        box-shadow   : 0px 1px 3px 0px #999
    }
}


/*------------------------------------------------*/
/* CENTER VERTICALLY */
/*------------------------------------------------*/

.vcenter-container {
    position: relative;
}

.vcenter-inner {
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
    width    : fit-content;
}

/*------------------------------------------------*/
/* END CENTER VERTICALLY */
/*------------------------------------------------*/

/* using childs */
.nomargin {
    margin: 0 !important;
}

.nopadding {
    padding: 0 !important;
}

.minicards-content {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    padding        : 10px;
}

.saturno-minicard {
    /* margin      : 10px; */
    /* min-width   : 15rem;
    max-width   : 20rem; */
    text-align: center;
    width     : 19rem;
    font-size : medium;
}

.saturno-minicard-icons {
    font-size: 4em;
}

.saturno-minicard-title {
    font-size  : large;
    font-weight: 400;
    opacity    : .8;
}

.saturno-minicard-text {
    font-size  : medium;
    font-weight: 300;
    opacity    : .8;
}



.no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select  : none;
    -khtml-user-select   : none;
    -moz-user-select     : none;
    -ms-user-select      : none;
    user-select          : none;
}

.input-icon {
    position        : absolute;
    top             : 0px;
    right           : 5px;
    font-size       : 14px;
    cursor          : pointer;
    width           : 25px;
    height          : 23px;
    /* border-radius: 11px; */
    text-align      : center;
    padding         : 3px;
    color           : #776b6b;
    font-size       : large;

}

/*
-------------------------------------------
EFFECTS 
-------------------------------------------
*/

.bg-blur {
    backdrop-filter        : blur(10px);
    -webkit-backdrop-filter: blur(10px);
}



/*
-------------------------------------------
BUTTONS 
-------------------------------------------
*/

.action-button {
    width  : 110px;
    padding: 0px !important;
    margin : 5px !important;
}

.action-button-flex {
    padding: 0px !important;
    margin : 5px !important;
}

.fix-width {
    width: auto;
}

td.button-icon {
    background-color: rgba(0, 0, 0, .3);
    border-radius   : 3px 0 0 3px;
    padding         : 0px 5px;
    font-family     : sans-serif;
}

td.button-text {
    width      : 100%;
    font-size  : medium;
    line-height: normal;
    padding    : 0px 5px;

}

/*
-------------------------------------------
COLORS
-------------------------------------------
*/
.text-shadow {
    text-shadow: -1px 0 rgba(0, 0, 0, .4), 0px 1px rgba(0, 0, 0, .4), 0px -1px rgba(0, 0, 0, .4), 1px 0 rgba(0, 0, 0, .4);
}

.box-dark-gradient-b {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.box-dark-gradient-r {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.box-dark-gradient-l {
    background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.box-dark-gradient-t {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}


.text-blue {
    color: #007bff;
}

.text-indigo {
    color: #6610f2;
}

.text-purple {
    color: #6f42c1;
}

.text-pink {
    color: #e83e8c;
}

.text-red {
    color: #dc3545;
}

.text-orange {
    color: #fd7e14;
}

.text-yellow {
    color: #ffc107;
}

.text-green {
    color: #28a745;
}

.text-teal {
    color: #20c997;
}

.text-cyan {
    color: #17a2b8;
}

.text-white {
    color: #fff;
}

.text-gray {
    color: #6c757d;
}

.text-gray {
    color: #343a40;
}


.text-success {
    color: #28a745;
}

.text-warning {
    color: #ffc107;
}

.text-danger {
    color: #dc3545;
}

.text-light {
    color: #f8f9fa;
}

.text-dark {
    color: #343a40;
}

/*
-------------------------------------------
DECORATORS
-------------------------------------------
*/

.hr-red {
    border-top: 2px solid rgb(255 0 0 / 90%);
    width     : 80%;
}

.hr-green {
    border-top: 2px solid rgb(0 180 0 / 90%);
    width     : 80%;
}

.hr-blue {
    border-top: 2px solid rgb(0 0 180 / 90%);
    width     : 80%;
}

.hr-grey {
    border-top: 2px solid rgb(180 180 180 / 90%);
    width     : 80%;
}

.hr-pink {
    border-top: 2px solid rgb(180 0 180 / 90%);
    width     : 80%;
}

/*
-------------------------------------------
FONTS
-------------------------------------------
*/

.fw1 {
    font-weight: 100;
}

.fw2 {
    font-weight: 200;
}

.fw3 {
    font-weight: 300;
}

.fw4 {
    font-weight: 400;
}

.fw5 {
    font-weight: 500;
}

.fw6 {
    font-weight: 600;
}

.fw7 {
    font-weight: 700;
}

.fw8 {
    font-weight: 800;
}

.fw9 {
    font-weight: 900;
}


/*
-------------------------------------------
BORDERS
-------------------------------------------
*/

.b-1sr {
    border: 1px solid red;
}

.b-1sg {
    border: 1px solid green;
}

.b-1sb {
    border: 1px solid blue;
}

.b-1sp {
    border: 1px solid rgb(255, 0, 212);
}

/*
-------------------------------------------
OPACITY
-------------------------------------------
*/

.op10 {
    opacity: 1;
}

.op9 {
    opacity: .9;
}

.op8 {
    opacity: .8;
}

.op7 {
    opacity: .7;
}

.op6 {
    opacity: .6;
}

.op5 {
    opacity: .5;
}

.op4 {
    opacity: .4;
}

.op3 {
    opacity: .3;
}

.op2 {
    opacity: .2;
}

.op1 {
    opacity: .1;
}

.op0 {
    opacity: 0;
}

/*
-------------------------------------------
DIMENSIONES
-------------------------------------------
*/

.xml {
    font-size: 8em !important;
}

.ml {
    font-size: 6em !important;
}


.xxxxl {
    font-size: 4em !important;
}

.xxxl {
    font-size: xxx-large !important;
}

.xxl {
    font-size: xx-large !important;
}

.xl {
    font-size: x-large !important;
}

.lg {
    font-size: large !important;
}

.md {
    font-size: medium !important;
}

.sm {
    font-size: small !important;
}

.xs {
    font-size: x-small !important;
}

.xxs {
    font-size: xx-small !important;
}


.w-10em {
    width: 10em;
}

.w-9em {
    width: 9em;
}

.w-8em {
    width: 8em;
}

.w-7em {
    width: 7em;
}

.w-6em {
    width: 6em;
}

.w-5em {
    width: 5em;
}

.w-4em {
    width: 4em;
}

.w-3em {
    width: 3em;
}

.w-2em {
    width: 2em;
}

/*
-------------------------------------------
ALINEACIONES
-------------------------------------------
*/

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}


/*
-------------------------------------------
ANIMACIONES
-------------------------------------------
*/

/* animate */
/* animaciones */
.animated {
    -webkit-animation-duration : 1s;
    animation-duration         : 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode        : both;
}

.fast {
    -webkit-animation-duration : 0.4s;
    animation-duration         : 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode        : both;
}


.slow {
    -webkit-animation-duration : 2s;
    animation-duration         : 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode        : both;
}

.veryslow {
    -webkit-animation-duration : 4s;
    animation-duration         : 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode        : both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

/*
-------------------------------------------
ANGULAR MATERIAL 
-------------------------------------------
*/

/* desplaza el contenedor hacia abajo por el alto del toolbar */


/*
-------------------------------------------
MAT-TAB
-------------------------------------------
*/



.cdk-overlay-container {
    text-align: -webkit-center;
}

.mat-tab-body-wrapper {
    font-family: var(--font-family);
}

/*
-------------------------------------------
MAT-BUTTONS
-------------------------------------------
*/


/* COLOR: ACTIVE*/

/* BACKGROUND */
.bg-active {
    background-color: #108f30;
}

/* BUTTON */
.mat-button.mat-active.mat-button-disabled,
.mat-icon-button.mat-active.mat-button-disabled,
.mat-stroked-button.mat-active.mat-button-disabled,
.mat-button.mat-active .mat-button-focus-overlay,
.mat-icon-button.mat-active .mat-button-focus-overlay,
.mat-stroked-button.mat-active .mat-button-focus-overlay {
    background-color: #108f30
}

.mat-flat-button.mat-active,
.mat-raised-button.mat-active,
.mat-fab.mat-active,
.mat-mini-fab.mat-active {
    color: #fff
}

.mat-flat-button.mat-active,
.mat-raised-button.mat-active,
.mat-fab.mat-active,
.mat-mini-fab.mat-active {
    background-color: #108f30
}

/* END ACTIVE */


/* COLOR: TELEGRAM*/

/* BACKGROUND */
.bg-active {
    background-color: #0088CC;
}

/* BUTTON */
.mat-button.mat-telegram.mat-button-disabled,
.mat-icon-button.mat-telegram.mat-button-disabled,
.mat-stroked-button.mat-telegram.mat-button-disabled,
.mat-button.mat-telegram .mat-button-focus-overlay,
.mat-icon-button.mat-telegram .mat-button-focus-overlay,
.mat-stroked-button.mat-telegram .mat-button-focus-overlay {
    background-color: #0088CC
}

.mat-flat-button.mat-telegram,
.mat-raised-button.mat-telegram,
.mat-fab.mat-telegram,
.mat-mini-fab.mat-telegram {
    color: #fff
}

.mat-flat-button.mat-telegram,
.mat-raised-button.mat-telegram,
.mat-fab.mat-telegram,
.mat-mini-fab.mat-telegram {
    background-color: #0088CC
}

/* END TELEGRAM */


/* COLOR: FACEBOOK*/

/* BACKGROUND */
.bg-facebook {
    background-color: #3B5998;
}

/* BUTTON */
.mat-button.mat-facebook.mat-button-disabled,
.mat-icon-button.mat-facebook.mat-button-disabled,
.mat-stroked-button.mat-facebook.mat-button-disabled,
.mat-button.mat-facebook .mat-button-focus-overlay,
.mat-icon-button.mat-facebook .mat-button-focus-overlay,
.mat-stroked-button.mat-facebook .mat-button-focus-overlay {
    background-color: #3B5998
}

.mat-flat-button.mat-facebook,
.mat-raised-button.mat-facebook,
.mat-fab.mat-facebook,
.mat-mini-fab.mat-facebook {
    color: #fff
}

.mat-flat-button.mat-facebook,
.mat-raised-button.mat-facebook,
.mat-fab.mat-facebook,
.mat-mini-fab.mat-facebook {
    background-color: #3B5998
}

/* END ACTIVE */


mat-toolbar {
    position: fixed;
    top     : 0;
    left    : 0;
    right   : 0;
    z-index : 9999;
    height  : 64px !important;
}

mat-card-header {
    text-align: left;
}


.mat-card {
    font-family: 'Baloo Bhai 2', 'Monda', 'Encode Sans', 'Averia Libre', 'system-ui';
    /* opacity : .9; */
}

mat-card-title span.mdi {
    margin   : 0px 5px;
    font-size: x-large;
}

tr.mat-header-row,
tr.mat-row:not(.detail-row),
tr.mat-footer-row {
    height: 32px !important;
}

/*
-------------------------------------------
MAT-STEPPER
-------------------------------------------
*/

.mat-horizontal-content-container {
    padding: 0px !important;
}

.mat-horizontal-stepper-header-container {
    display: none !important;
}

/*
-------------------------------------------
MAT-SIDENAV 
-------------------------------------------
*/

/* mat-expansion-panel-header {
    height: 36px !important;
} */

.mat-expansion-panel-header {
    padding: 0 16px !important;
}

.mat-expansion-panel-body {
    padding: 0rem !important;
}

.mat-radio-outer-circle {
    border-color: #ffd740;
}


/*
-------------------------------------------
HOME 
-------------------------------------------
*/


.swal2-title {
    font-size  : x-large !important;
    font-weight: 300 !important;
    color      : red !important;
}

.swal2-content {
    font-size  : medium !important;
    font-weight: 300 !important;
}


/*
-------------------------------------------
MAPBOX 
-------------------------------------------
*/

.mapboxgl-popup-content {
    background: unset;
}

.mapboxgl-popup {
    display  : block;
    transform: none !important;
}

.mapboxgl-popup-tip {
    visibility: hidden;
}


.company-card {
    padding : 10px;
    position: relative;
    width   : 200px;
    top     : 50px;
}

.company-welcome-textarea {
    overflow: auto;
    height  : 156px;
    margin  : 1em 0em;
}


.marker-text-wrapper {
    top       : 20px;
    left      : -60px;
    width     : 120px;
    position  : absolute;
    text-align: center;
}

.marker-text {
    color: var(--accent);
}

.lightbox-wrapper .close {
    top            : 80px !important;
    background-size: 20px !important;
    width          : 26px !important;
    height         : 26px !important;
    right          : 20px !important;
    opacity        : .5 !important;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none;
}

.mapboxgl-ctrl-bottom-left {
    display: none;
}