<div class="saturno-card animated fadeIn" [ngClass]="{nomargin:nomargin, nopadding:nopadding}">

    <div class="card bg-secondary text-white">

        <div class="card-header">
            <span class="mdi mdi-table-furniture"> </span>
            <span> Mesas </span>
            <span *ngIf="sectionSelected"> del sector {{sectionSelected.tx_section}}</span>
        </div>

        <div class="card-body table-responsive-sm">
            <div *ngIf="!tables || tables?.length === 0" class="row align-items-center justify-content-center">
                <span class="mdi mdi-check-circle-outline xxl mx-2 text-warning"></span>
                <span>Una mesa genérica fué creada</span>
            </div>
            <table class="table table-sm text-white">
                <thead>
                    <td class="xl text-warning mdi mdi-select-group"></td>
                    <td class="xl text-warning">#</td>
                    <td class="xl text-warning text-center mdi mdi-account-box-outline"></td>
                    <td class="xl text-warning text-center mdi mdi-cog-box"></td>
                    <td class="xl text-warning text-right mdi mdi-gesture-tap-button"></td>
                </thead>
                <tr *ngFor="let table of tablesSection">
                    <td>{{sectionsMap.get(table?.id_section)}}</td>
                    <td>{{table?.nm_table}}</td>
                    <td class="text-center">{{table?.nm_persons}}</td>
                    <td class="text-center">{{table?.tx_status}}</td>

                    <td class="text-right">
                        <span class="mdi mdi-delete ml-2 list-crud-delete" (click)="deleteTable(table._id)"></span>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="my-4"></div>

    <div class="card">

        <div class="card-header ">
            <span class="mdi mdi-plus-circle-outline"></span>
            Alta de Mesa</div>
        <div class="card-body">

            <app-table-create [sections]="sections" [tablesSection]="tablesSection" (sectionChanged)="sectionChanged($event)" (tableCreated)="tableCreated($event)"></app-table-create>

        </div>
    </div>

</div>