<div class="saturno-card animated fadeIn" [ngClass]="{nomargin:nomargin, nopadding:nopadding}"
    *ngIf="loginService.user.id_company">

    <mat-card>

        <mat-card-header>
            <mat-card-title>
                <span> Mis Mesas </span>
                <span *ngIf="sectionSelected"> del sector {{sectionSelected.tx_section}}</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <div *ngIf="!adminService.tablesSection || 
                    adminService.tablesSection?.length === 0" class="row align-items-center justify-content-center">
                <span class="mdi mdi-alert-box-outline xxl mx-2 text-danger"></span>
                <span>No hay mesas en este sector</span>
            </div>

            <div *ngIf="adminService.tablesSection && adminService.tablesSection?.length > 0">
                <table mat-table [dataSource]="adminService.tablesSection">
                    <ng-container matColumnDef="id_section">
                        <th mat-header-cell *matHeaderCellDef class="text-left"> Sector </th>
                        <td mat-cell *matCellDef="let element" class="text-left">
                            {{adminService.sectionsMap.get(element.id_section)}}</td>
                    </ng-container>
                    <ng-container matColumnDef="nm_table">
                        <th mat-header-cell *matHeaderCellDef class="text-left"> No.# </th>
                        <td mat-cell *matCellDef="let element" class="text-left">{{element.nm_table}}</td>
                    </ng-container>
                    <ng-container matColumnDef="nm_persons">
                        <th mat-header-cell *matHeaderCellDef class="text-left"> Personas </th>
                        <td mat-cell *matCellDef="let element" class="text-left">{{element.nm_persons}}</td>
                    </ng-container>
                    <ng-container matColumnDef="tx_status">
                        <th mat-header-cell *matHeaderCellDef class="text-left"> Estado </th>
                        <td mat-cell *matCellDef="let element" class="text-left">{{element.tx_status}}</td>
                    </ng-container>
                    <ng-container matColumnDef="_id">
                        <th mat-header-cell *matHeaderCellDef class="text-right"> Acción </th>
                        <td mat-cell *matCellDef="let element" class="text-right">
                            <span class="mdi mdi-delete ml-2 xl text-danger pointer"
                                (click)="deleteTable(element)"></span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button *ngIf="!tableCreate" mat-button (click)="tableCreate=true"><span class="lg mdi mdi-plus"></span>
                CREAR MESA </button>
            <button *ngIf="tableCreate" mat-button (click)="tableCreate=false"><span
                    class="lg mdi mdi-chevron-up"></span> CERRAR FORMULARIO </button>
        </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="tableCreate" class="my-2 animated fadeIn">

        <app-table-create [sections]="adminService.sections" [tablesSection]="adminService.tablesSection"
            (sectionChanged)="sectionChanged($event)" (tableCreated)="tableCreated($event)"></app-table-create>

    </mat-card>

</div>