<div class="saturno-card animated fadeIn" [ngClass]="{nomargin:nomargin, nopadding:nopadding}">

    <div class="card bg-secondary text-white">

        <div class="card-header">
            <span class="mdi mdi-select-group"></span>
            Sectores
        </div>

        <div class="card-body table-responsive-sm">
            <div *ngIf="!adminService.sections || adminService.sections?.length === 0" class="row align-items-center justify-content-center">
                <span class="mdi mdi-alert-box-outline xxl mx-2 text-warning"></span>
                <span>Debe crear aquí al menos un sector</span>
            </div>
            <table class="table table-sm text-white">
                <tr *ngFor="let section of adminService.sections">
                    <td>{{section?.tx_section}}</td>
                    <td style="text-align: right;">
                        <span class="mdi mdi-delete ml-2 list-crud-delete" (click)="deleteSection(section)"></span>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="my-4"></div>

    <div class="card">

        <div class="card-header ">
            <span class="mdi mdi-plus-circle-outline"></span>
            Alta de Sector</div>
        <div class="card-body">

            <app-section-create (sectionCreated)="sectionCreated($event)"></app-section-create>

        </div>
    </div>

</div>