<div class="saturno-bg-tile-1">
  <div class="saturno-card saturno-bg-grey-5 shadow-box animated fadeIn">

    <div *ngIf="loading" class="mt-5 animated fadeIn">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!loading" class="animated fadeIn">
      <mat-accordion multi="true">

        <!------------------------------>
        <!-- SECTIONS -->
        <!------------------------------>

        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="sidenav-title-text mx-2">Sectores</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card bg-secondary mb-4">
            <div class="card-body table-responsive-sm  p-2">
              <div class="text-white m-3" *ngIf='message'>
                {{message}}
              </div>

              <mat-radio-group [(ngModel)]="sectionSelected">

                <table class="table table-sm text-white text-center">

                  <tr style="border-top: 0px; color: yellow;">
                    <td style="text-align: left; border: none;"></td>
                    <td style="text-align: left; border: none;"> Sector </td>
                    <td style="text-align: center; border: none;"> Requeridos </td>
                    <td style="text-align: center; border: none;"> Cola </td>
                  </tr>

                  <tr *ngFor="let section of pendingBySection">
                    <td style="padding: 0; vertical-align: middle; font-size: 16px;">
                      <!-- section of waiter -->
                      <span *ngIf="section.assigned" class="mdi mdi-check" style="color: greenyellow"></span>

                      <!-- other sections -->
                      <span *ngIf="!section.assigned && !waitForClient && tickets">
                        <mat-radio-button [value]="section.id" style="position: relative;
                left: 4px;
                top: 4px;"></mat-radio-button>
                      </span>
                    </td>
                    <td style="text-align: left;">
                      {{ section.section }}
                    </td>
                    <td style="text-align: center;">
                      {{ section.requested }}
                    </td>
                    <td style="text-align: center;">
                      {{ section.queued }}
                    </td>
                  </tr>

                </table>

              </mat-radio-group>

            </div>
          </div>
        </mat-expansion-panel>

        <!------------------------------>
        <!-- TABLES -->
        <!------------------------------>

        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="sidenav-title-text mx-2">Mis Mesas</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container row px-0 mb-4">
            <div *ngFor="let table of tables" class="col-4 px-0 p-1">
              <div class="btn btn-block p-0" [ngClass]="{
            'btn-success': table.tx_status==='idle',
            'btn-danger': table.tx_status==='busy',
            'btn-secondary': table.tx_status==='paused',
            'btn-dark': table.tx_status==='reserved'
          }" (click)="selectTable(table)">

                <table width="100%" class="shadow-box">
                  <tr>
                    <td class="rounded-left" style="background-color: rgba(50,50,50,.3);">
                      <span class="xl">{{table.nm_table}}</span>
                    </td>
                    <td>
                      <span *ngIf="table.id_session">
                        <span *ngIf="table.id_session?.id_ticket.bl_called">
                          <span *ngIf="!table.id_session?.id_ticket.tm_att"
                            class="xl mdi mdi-book-open-variant text-white"></span>
                          <span *ngIf="table.id_session?.id_ticket.tm_att"
                            class="xl mdi mdi-silverware-fork-knife text-white"></span>
                        </span>
                        <span *ngIf="!table.id_session?.id_ticket.bl_called">
                          <span *ngIf="table.tx_status==='busy'" class="xl mdi mdi-minus-circle text-white"></span>
                        </span>
                      </span>
                      <span *ngIf="!table.id_session">
                        <span *ngIf="table.tx_status==='paused'" class="xl mdi mdi-pause-circle text-white"
                          style="opacity: .7;"></span>
                        <span *ngIf="table.tx_status==='idle'" class="xl mdi mdi-check-circle text-white"></span>
                        <span *ngIf="table.tx_status==='reserved'" class="xl mdi mdi-stop-circle text-white"></span>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <!------------------------------>
          <!-- TABLE & TICKET ACTIONS -->
          <!------------------------------>

          <div class="card bg-light animated fadeIn" *ngIf="table">
            <div class="card-header xl">Mesa {{table.nm_table}}</div>
            <div>
              <div class="card-body">
                <div *ngIf="table.tx_status==='busy'">
                  <div>
                    Atendiendo turno
                  </div>
                  <div class="banner-content xxxl">
                    {{ table.id_ticket?.id_position }}
                  </div>
                </div>
                <div>
                  <mat-slide-toggle [checked]="table.tx_status==='idle'" class="mx-2 my-1"
                    [disabled]="waitForClient || table.tx_status==='busy'" (click)="toggleTableStatus(table)">
                    <span *ngIf="table.tx_status==='busy'">
                      Mesa Ocupada
                    </span>
                    <span *ngIf="table.tx_status==='paused'">
                      Activar Mesa
                    </span>
                    <span *ngIf="table.tx_status==='idle'">
                      Mesa Activada!
                    </span>
                  </mat-slide-toggle>
                </div>
              </div>
              <div *ngIf="table.id_session" class="card-footer">
                <div class="row">
                  <div class="col p-0">
                    <div>TE</div>
                    <div>{{tmWaitingStr}}</div>
                  </div>
                  <div class="col p-0">
                    <div>TA</div>
                    <div>{{tmAttention}}</div>
                  </div>
                  <div class="col p-0">
                    <div>Tm</div>
                    <div>{{timerCount}}</div>
                  </div>
                  <div class="col p-0">
                    <div>TC</div>
                    <div>-</div>
                  </div>
                </div>

                <!------------------------------>
                <!-- ACTIONS -->
                <!------------------------------>
                <div class="row">
                  <!-- priority slide -->
                  <div class="col-4 button-content">
                    <mat-slide-toggle [(ngModel)]="blPriority" class="mx-2 my-1"
                      [disabled]="waitForClient || !table.tx_status==='busy' || sectionSelected === ''">
                      <span class="mdi mdi-priority-high xl mx-1"></span>
                    </mat-slide-toggle>
                  </div>

                  <!-- reassign ticket -->
                  <div class="col-4 button-content">
                    <button class="btn btn-success button"
                      [ngClass]="{'button-disabled':waitForClient || !tickets || sectionSelected === ''}"
                      [disabled]="waitForClient || !table.tx_status==='busy' || sectionSelected === ''"
                      (click)="reassignTicket(ticket)">
                      <div>
                        <div class="mdi mdi-list-status xl"></div>
                      </div>
                      <div class="button-inner">
                        Mover
                      </div>
                    </button>
                  </div>

                  <!-- attened ticket -->
                  <div class="col-4 button-content">
                    <button class="btn btn-success button" (click)="attendedTicket(table.id_session?.id_ticket)"
                      [disabled]="!table.id_session?.id_ticket.bl_called || table.tx_status!=='busy'"
                      [ngClass]="{'button-disabled': !table.id_session?.id_ticket.bl_called || table.tx_status!=='busy'}">
                      <div>
                        <div class="mdi mdi-bell xl"></div>
                      </div>
                      <div class="button-inner">
                        Atendido
                      </div>
                    </button>
                  </div>

                  <!-- release ticket -->
                  <div class="col-4 button-content">
                    <button class="btn btn-success button" (click)="releaseTicket(ticket)"
                      [disabled]="waitForClient || table.tx_status!=='busy'"
                      [ngClass]="{'button-disabled': waitForClient || table.tx_status!=='busy'}">
                      <div>
                        <div class="mdi mdi-replay xl"></div>
                      </div>
                      <div class="button-inner">
                        Soltar
                      </div>
                    </button>
                  </div>

                  <!-- end ticket -->
                  <div class="col-4 button-content">
                    <button class="btn btn-danger button" (click)="endTicket(table.id_session?.id_ticket)"
                      [disabled]="waitForClient || table.tx_status!=='busy'"
                      [ngClass]="{'button-disabled': waitForClient || table.tx_status!=='busy'}">
                      <div>
                        <div class="mdi mdi-close xl"></div>
                      </div>
                      <div class="button-inner">
                        Finalizar
                      </div>
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <!------------------------------>
        <!-- REQUESTED -->
        <!------------------------------>

        <mat-expansion-panel *ngIf="requested.length > 0">

          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="sidenav-title-text mx-2">Mesas Requeridas</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-accordion multi="false">
            <mat-expansion-panel *ngFor="let ticket of requested">

              <mat-expansion-panel-header class="bg-danger">
                <mat-panel-title>
                  <div class="lg text-white">
                    <span *ngIf="ticket.tx_status==='requested'" class="xl mdi mdi-eye text-white"></span>
                    <span *ngIf="ticket.tx_status==='assigned'" class="xl mdi mdi-check-circle text-white"></span>

                    Turno {{ticket.id_position}}: {{ ticket.nm_persons }} personas
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="container row px-0 mb-4">
                <div *ngFor="let table of tables" class="col-4 px-0 p-1">
                  <div class="btn btn-block p-0" [ngClass]="{
              'btn-success': ticket.cd_tables.includes(table.nm_table),
              'btn-secondary': !ticket.cd_tables.includes(table.nm_table)
            }" (click)="setReserve(table, ticket)">

                    <table width="100%" class="shadow-box">
                      <tr>
                        <td class="rounded-left" style="background-color: rgba(50,50,50,.3);">
                          <span class="xl">{{table.nm_table}}</span>
                        </td>
                        <td>
                          <span *ngIf="ticket.cd_tables.includes(table.nm_table)"
                            class="xl mdi mdi-check-circle text-white"></span>
                          <span *ngIf="!ticket.cd_tables.includes(table.nm_table)"
                            class="lg mdi mdi-human-male text-warning">{{table.nm_persons}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>

              <div class="btn btn-success btn-block" (click)="reserveTables(ticket)"><span class="mdi mdi-content-save"></span> Guardar </div>

            </mat-expansion-panel>
          </mat-accordion>

        </mat-expansion-panel>


      </mat-accordion>
    </div>
  </div>
</div>


<div class="container bg-light fixed-bottom shadow-box no-radius text-center py-1">
  <div class="row">

    <!-- exit section -->
    <div class="col button-content">
      <button class="btn btn-danger button" (click)="releaseSection()" [disabled]="waitForClient"
        [ngClass]="{'button-disabled': waitForClient}">
        <div>
          <div class="mdi mdi-power xl"></div>
        </div>
        <div class="button-inner">
          Salir
        </div>
      </button>
    </div>
  </div>
</div>