<div class="saturno-bg-tile-1">
  <div class="saturno-card p-0 animated fadeIn">

    <div *ngIf="loading" class="mt-5 animated fadeIn">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!loading" class="animated fadeIn">
      <mat-accordion multi="true">

        <!------------------------------>
        <!-- SECTIONS -->
        <!------------------------------>

        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="xl mdi mdi-select-group text-warning"></span>
              <span class="sidenav-title-text mx-2">Sectores</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card bg-secondary mb-3">
            <div class="card-body table-responsive-sm  p-2">
              <div class="text-white m-3" *ngIf='message'>
                {{message}}
              </div>

              <mat-radio-group [(ngModel)]="sectionSelected">
                <table class="table table-sm text-white text-center">

                  <tr style="border-top: 0px; color: yellow;">
                    <td style="text-align: left; border: none;"> Sector </td>
                    <td style="text-align: center; border: none;"> Requeridos </td>
                    <td style="text-align: center; border: none;"> Cola </td>
                  </tr>

                  <tr *ngFor="let section of pendingBySection">
                    <td style="text-align: left;">
                      {{ section.section }}
                    </td>
                    <td style="text-align: center;">
                      {{ section.requested }}
                    </td>
                    <td style="text-align: center;">
                      {{ section.queued }}
                    </td>
                  </tr>

                </table>
              </mat-radio-group>

            </div>
          </div>
          <div class="mb-2">
            <button class="btn btn-danger p-0 col-4" (click)="releaseSection()" [disabled]="waitForClient"
              [ngClass]="{'button-disabled': waitForClient}">

              <table width="100%" class="shadow-box">
                <tr>
                  <td class="rounded-left" style="background-color: rgba(50,50,50,.3);">
                    <div class="mdi mdi-power xl"></div>
                  </td>
                  <td>
                    Salir
                  </td>
                </tr>
              </table>
            </button>
          </div>
        </mat-expansion-panel>

        <!------------------------------>
        <!-- TABLES -->
        <!------------------------------>

        <mat-expansion-panel expanded>

          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="xl mdi mdi-silverware-fork-knife text-warning"></span>
              <span class="sidenav-title-text mx-2">Mesas del sector {{section.tx_section}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <!------------------------------>
          <!-- TABLES LIST -->
          <!------------------------------>
          <div class="card bg-secondary mb-3">
            <div class="card-body table-responsive-sm  p-2">
              <div class="text-white m-3" *ngIf='message'>
                {{message}}
              </div>

              <mat-radio-group [(ngModel)]="tableSelected">
                <table class="table table-sm text-white text-center">

                  <tr style="border-top: 0px; color: yellow;">
                    <td style="text-align: left; border: none;"> MESA </td>
                    <td style="text-align: center; border: none;"> ACCION </td>
                    <td style="text-align: center; border: none;"> ESTADO </td>
                  </tr>

                  <tr *ngFor="let table of tables" class="pointer">
                    <td style="text-align: left;" [ngClass]="{
                      'text-success': table.tx_status==='idle',
                      'text-danger': table.tx_status==='busy',
                      'text-light': table.tx_status==='paused',
                      'text-dark': table.tx_status==='reserved'
                  }" (click)="selectTable(table)">
                      {{ table.nm_table }}
                    </td>


                    <td style="text-align: center;">

                      <span *ngIf="table.id_session?.id_ticket.tx_call === 'card'"
                        class="xl mdi mdi-book-open-variant text-warning"></span>
                      <span *ngIf="table.id_session?.id_ticket.tx_call === 'waiter'"
                        class="xl mdi mdi-silverware-fork-knife text-warning"></span>
                      <span *ngIf="table.id_session?.id_ticket.tx_call === 'account'"
                        class="xl mdi mdi-file-document-edit-outline text-warning"></span>

                    </td>



                    <td style="text-align: center;" [ngClass]="{
                      'text-success': table.tx_status==='idle',
                      'text-danger': table.tx_status==='busy',
                      'text-light': table.tx_status==='paused',
                      'text-dark': table.tx_status==='reserved'
                  }">

                      <span *ngIf="table.tx_status==='busy'" class="xl mdi mdi-minus-circle-outline"></span>
                      <span *ngIf="table.tx_status==='paused'" class="xl mdi mdi-pause-circle-outline"></span>
                      <span *ngIf="table.tx_status==='idle'" class="xl mdi mdi-check-circle-outline"></span>
                      <span *ngIf="table.tx_status==='reserved'" class="xl mdi mdi-stop-circle-outline"></span>

                    </td>
                  </tr>

                </table>
              </mat-radio-group>

            </div>
          </div>

          <!------------------------------>
          <!-- TABLES BUTTONS -->
          <!------------------------------>
          <div class="container row px-0 mb-4">
            <div *ngFor="let table of tables" class="col-4 px-0 p-1">
              <div class="btn btn-block p-0" [ngClass]="{
                  'btn-success': table.tx_status==='idle',
                  'btn-danger': table.tx_status==='busy',
                  'btn-secondary': table.tx_status==='paused',
                  'btn-dark': table.tx_status==='reserved'
              }" (click)="selectTable(table)">
                <table width="100%" class="shadow-box">
                  <tr>
                    <td class="rounded-left" style="background-color: rgba(50,50,50,.3);">
                      <span class="xl">{{table.nm_table}}</span>
                    </td>
                    <td>
                      <span *ngIf="table.id_session">
                        <span *ngIf="table.id_session?.id_ticket.tx_call">

                          <span *ngIf="table.id_session?.id_ticket.tx_call === 'card'"
                            class="xl mdi mdi-book-open-variant text-warning"></span>
                          <span *ngIf="table.id_session?.id_ticket.tx_call === 'waiter'"
                            class="xl mdi mdi-silverware-fork-knife text-warning"></span>
                          <span *ngIf="table.id_session?.id_ticket.tx_call === 'account'"
                            class="xl mdi mdi-file-document-edit-outline text-warning"></span>

                        </span>
                        <span *ngIf="!table.id_session?.id_ticket.tx_call">
                          <span *ngIf="table.tx_status==='busy'" class="xl mdi mdi-minus-circle-outline text-white"
                            style="opacity: .8;"></span>
                        </span>
                      </span>

                      <span *ngIf="!table.id_session">
                        <span *ngIf="table.tx_status==='paused'" class="xl mdi mdi-pause-circle-outline text-white"
                          style="opacity: .8;"></span>
                        <span *ngIf="table.tx_status==='idle'" class="xl mdi mdi-check-circle-outline text-white"
                          style="opacity: .8;"></span>
                        <span *ngIf="table.tx_status==='reserved'" class="xl mdi mdi-stop-circle-outline text-white"
                          style="opacity: .8;"></span>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <!------------------------------>
          <!-- CLIENT / TICKET -->
          <!------------------------------>

          <div *ngIf="table">
            <div class="card bg-light">
              <div class="card-header">
                Mesa {{table.nm_table}}:
                <span *ngIf="table.tx_status==='busy'"> Ocupada </span>
                <span *ngIf="table.tx_status==='paused'"> Pausada </span>
                <span *ngIf="table.tx_status==='idle'"> Esperando clientes </span>
                <span *ngIf="table.tx_status==='reserved'"> Reservada </span>
              </div>

              <div class="card-body">

                <div *ngIf="table?.id_session">
                  <table class="table table-sm text-center">
                    <tr>
                      <td style="text-align: left; border: none;"> Turno </td>
                      <td style="text-align: right; border: none;"> {{ table?.id_session?.id_ticket.id_position }} </td>
                    </tr>
                    <tr>
                      <td style="text-align: left; border: none;"> Comensales </td>
                      <td style="text-align: right; border: none;"> {{ table?.id_session?.id_ticket.nm_persons }} </td>
                    </tr>
                    <tr>
                    
                      <td style="text-align: left; border: none;"> Prioridad </td>
                      <td style="text-align: right; border: none;"> {{ table?.id_session?.id_ticket.bl_priority}} </td>
                    </tr>
                    <tr>
                      
                      <td style="text-align: left; border: none;"> Provisión </td>
                      <td style="text-align: right; border: none;"> {{ table?.id_session?.id_ticket.tm_provided  | intervalToHms }} </td>
                    </tr>
                    <tr>
                      
                      <td style="text-align: left; border: none;"> Atención </td>
                      <td style="text-align: right; border: none;"> {{ table?.id_session?.id_ticket.tm_att  | intervalToHms }} </td>
                    
                    </tr>
                    <tr>
                      
                      <td style="text-align: left; border: none;"> Solicitud de asistencia </td>
                      <td style="text-align: right; border: none;"> {{ table?.id_session?.id_ticket.tm_call  | intervalToHms }} </td>
                    
                    </tr>
                  </table>
                </div>

                <hr>

                <!------------------------------>
                <!-- ACTIONS -->
                <!------------------------------>

                <div class="container row px-0">

                  <!-- activate table -->
                  <div class="col-4 p-1">
                    <button class="btn btn-block p-0"
                      [ngClass]="{ 'button-disabled': table.tx_status==='busy', 'btn-success': table.tx_status==='idle', 'btn-secondary': table.tx_status==='paused'}"
                      (click)="toggleTableStatus(table)">
                      <table width="100%" class="shadow-box">
                        <tr>
                          <td class="rounded-left px-1" style="background-color: rgba(50,50,50,.3);">
                            <span class="mdi mdi-power xl"></span>
                          </td>
                          <td width="100%">
                            {{table.tx_status}}
                          </td>
                        </tr>
                      </table>
                    </button>
                  </div>

                  <!-- priority slide -->
                  <div class="col-4 p-1">
                    <button class="btn btn-block p-0" [ngClass]="{'button-disabled': !table.id_session}">
                      <table width="100%" class="shadow-box">
                        <tr>
                          <td class="rounded-left px-1" style="background-color: rgba(50,50,50,.3);">
                            <span class="mdi mdi-priority-high xl"></span>
                          </td>
                          <td width="100%">
                            <mat-slide-toggle [(ngModel)]="blPriority"
                              [disabled]="waitForClient || !table.id_session || sectionSelected === ''">
                            </mat-slide-toggle>
                          </td>
                        </tr>
                      </table>
                    </button>
                  </div>

                  <!-- reassign ticket -->
                  <div class="col-4 p-1">
                    <button class="btn btn-primary btn-block p-0"
                      [ngClass]="{'button-disabled':waitForClient || !table.id_session || sectionSelected === ''}"
                      [disabled]="waitForClient || !table.id_session || sectionSelected === ''"
                      (click)="reassignTicket(table.id_session?.id_ticket)">
                      <table width="100%" class="shadow-box">
                        <tr>
                          <td class="rounded-left px-1" style="background-color: rgba(50,50,50,.3);">
                            <span class="mdi mdi-arrow-right-bold-circle-outline xl"></span>
                          </td>
                          <td width="100%">
                            Mover
                          </td>
                        </tr>
                      </table>
                    </button>
                  </div>

                  <!-- attened ticket -->
                  <div class="col-4 p-1">
                    <button class="btn btn-primary btn-block p-0" (click)="attendedTicket(table.id_session?.id_ticket)"
                      [disabled]="!table.id_session?.id_ticket.tx_call || table.tx_status!=='busy'"
                      [ngClass]="{'button-disabled': !table.id_session?.id_ticket.tx_call || table.tx_status!=='busy'}">

                      <table width="100%" class="shadow-box">
                        <tr>
                          <td class="rounded-left px-1" style="background-color: rgba(50,50,50,.3);">
                            <span class="mdi mdi-bell xl"></span>
                          </td>
                          <td width="100%">
                            Atendido
                          </td>
                        </tr>
                      </table>

                    </button>
                  </div>

                  <!-- release ticket -->
                  <div class="col-4 p-1">
                    <button class="btn btn-primary btn-block p-0" (click)="releaseTicket(table.id_session?.id_ticket)"
                      [disabled]="waitForClient || table.tx_status!=='busy'"
                      [ngClass]="{'button-disabled': waitForClient || table.tx_status!=='busy'}">
                      <table width="100%" class="shadow-box">
                        <tr>
                          <td class="rounded-left px-1" style="background-color: rgba(50,50,50,.3);">
                            <span class="mdi mdi-replay xl"></span>
                          </td>
                          <td width="100%">
                            Soltar
                          </td>
                        </tr>
                      </table>
                    </button>
                  </div>

                  <!-- end ticket -->
                  <div class="col-4 p-1">
                    <button class="btn btn-danger btn-block p-0" (click)="endTicket(table.id_session?.id_ticket)"
                      [disabled]="waitForClient || table.tx_status!=='busy'"
                      [ngClass]="{'button-disabled': waitForClient || table.tx_status!=='busy'}">
                      <table width="100%" class="shadow-box">
                        <tr>
                          <td class="rounded-left px-1" style="background-color: rgba(50,50,50,.3);">
                            <span class="mdi mdi-close xl"></span>
                          </td>
                          <td width="100%">
                            Finalizar
                          </td>
                        </tr>
                      </table>
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </div>


        </mat-expansion-panel>

        <!------------------------------>
        <!-- REQUESTED -->
        <!------------------------------>

        <mat-expansion-panel *ngIf="requested.length > 0">

          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="xl mdi mdi-alert text-danger"></span>
              <span class="sidenav-title-text mx-2">Requeridos</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-accordion multi="false">
            <mat-expansion-panel class="noshadow" *ngFor="let ticket of requested">

              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="lg text-danger">
                    Turno {{ticket.id_position}} solicita mesa para {{ ticket.nm_persons }}
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="container row px-0 mb-4">
                <div *ngFor="let table of tables" class="col-4 px-0 p-1">
                  <div class="btn btn-block p-0" [ngClass]="{
              'btn-success': ticket.cd_tables.includes(table.nm_table),
              'btn-secondary': !ticket.cd_tables.includes(table.nm_table)
            }" (click)="setReserve(table, ticket)">

                    <table width="100%" class="shadow-box">
                      <tr>
                        <td class="rounded-left" style="background-color: rgba(50,50,50,.3);">
                          <span class="xl">{{table.nm_table}}</span>
                        </td>
                        <td>
                          <span *ngIf="ticket.cd_tables.includes(table.nm_table)"
                            class="xl mdi mdi-check-circle text-white"></span>
                          <span *ngIf="!ticket.cd_tables.includes(table.nm_table)"
                            class="lg mdi mdi-human-male text-warning">{{table.nm_persons}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col">
                  <button class="btn btn-info btn-block" (click)="assignTables(ticket, false)"><span
                      class="mdi mdi-clock"></span> Asignar
                  </button>
                </div>
                <div class="col">
                  <button class="btn btn-primary btn-block" (click)="assignTables(ticket, true)"><span
                      class="mdi mdi-clock-check"></span>
                    Proveer Ahora
                  </button>
                </div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>

        </mat-expansion-panel>

        <!------------------------------>
        <!-- QUEUED -->
        <!------------------------------>

        <mat-expansion-panel *ngIf="waiting.length > 0">

          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="xl mdi mdi-format-list-numbered text-warning"></span>
              <span class="sidenav-title-text mx-2">En cola de espera</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-accordion multi="false">
            <mat-expansion-panel class="noshadow" *ngFor="let ticket of waiting">

              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="lg text-danger">
                    Turno {{ticket.id_position}} espera mesa para {{ ticket.nm_persons }}

                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="container row px-0 mb-4">
                <div *ngFor="let table of tables" class="col-4 px-0 p-1">
                  <div class="btn btn-block p-0" [ngClass]="{
              'btn-success': ticket.cd_tables.includes(table.nm_table),
              'btn-secondary': !ticket.cd_tables.includes(table.nm_table)
            }" (click)="setReserve(table, ticket)">

                    <table width="100%" class="shadow-box">
                      <tr>
                        <td class="rounded-left" style="background-color: rgba(50,50,50,.3);">
                          <span class="xl">{{table.nm_table}}</span>
                        </td>
                        <td>
                          <span *ngIf="ticket.cd_tables.includes(table.nm_table)"
                            class="xl mdi mdi-check-circle text-white"></span>
                          <span *ngIf="!ticket.cd_tables.includes(table.nm_table)"
                            class="lg mdi mdi-human-male text-warning">{{table.nm_persons}}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="btn btn-info btn-block" (click)="assignTables(ticket, false)"><span
                      class="mdi mdi-clock"></span> Asignar
                  </button>
                </div>
                <div class="col">
                  <button class="btn btn-primary btn-block" (click)="assignTables(ticket, true)"><span
                      class="mdi mdi-clock-check"></span>
                    Proveer Ahora
                  </button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>