<div class="page-container-full animated fadeIn">

  <div class="xl my-4 text-accent">
    <span class="mdi mdi-hand mr-2"></span>
    Hola {{ loginService?.user.tx_name }}
  </div>

  <div class="minicards-content">

    <div>

      <!-- STATUS  -->
      <mat-card class="saturno-minicard text-left mb-2 mx-1 pointer">

        <div class="text-info text-left md">
          <span class="mdi mdi-cogs mr-2"></span> Estado
        </div>

        <!-- loading -->
        <div *ngIf="adminService.loading">
          <app-spinner text="Obteniendo datos..."></app-spinner>
        </div>

        <!-- loaded -->
        <div *ngIf="!adminService.loading" class="animated fadeIn text-center">
          <div *ngIf="adminService.companies.length === 0 || 
                   adminService.sections.length === 0 || 
                   adminService.tables.length === 0">
            <div class="mdi mdi-close-circle-outline text-danger xxxxl"></div>
            <div *ngIf="adminService.companies.length === 0" class="sm text-accent">
              Todavía no hay comercios creados.
            </div>
            <div *ngIf="adminService.sections.length === 0" class="sm text-accent">
              Todavía no hay sectores creados.
            </div>
            <div *ngIf="adminService.tables.length === 0" class="sm text-accent">
              Todavía no hay mesas creadas.
            </div>
            <hr>
            <button mat-raised-button color="accent" routerLink="/admin/wizard">Iniciar Asistente</button>
          </div>
          <div *ngIf="adminService.companies.length > 0 && 
            adminService.sections.length > 0 && 
            adminService.tables.length > 0">
            <div class="mdi mdi-check-circle-outline text-active xxxxl"></div>
            <div>
              Todo esta en orden.
            </div>
            <hr>
            <div class="text-center">
              <button mat-raised-button color="active" routerLink="/waiter/home">
                <span class="mdi mdi-silverware-fork-knife mr-1"></span>
                Atender Mesas
              </button>
            </div>
          </div>
        </div>

      </mat-card>

      <!-- COMPANY TABLE INFO -->
      <mat-card class="saturno-minicard text-left mb-2 mx-1 pointer">

        <div class="text-info text-left md">
          <span class="mdi mdi-storefront mr-2"></span> {{ this.loginService.user.id_company?.tx_company_name || 'No
          creaste ningún comercio' }}
        </div>

        <mat-card-content>

          <div class="table-responsive-sm mt-2">
            <table class="table-sm mb-0 sm text-center">

              <tr>
                <td class="text-left">
                  <span class="mdi mdi-storefront mr-2"></span>
                  Bares / Restaurantes
                  <span *ngIf="adminService.companies.length > 0" class="mdi mdi-check text-success"></span>
                  <span *ngIf="adminService.companies.length === 0" class="mdi mdi-alert text-danger"></span>
                </td>
                <td class="text-right text-accent">
                  {{ adminService.companies.length }}
                </td>
              </tr>

              <tr>
                <td class="text-left">
                  <span class="mdi mdi-select-group mr-2"></span>
                  Sectores
                  <span *ngIf="adminService.sections.length > 0" class="mdi mdi-check text-success"></span>
                  <span *ngIf="adminService.sections.length === 0" class="mdi mdi-alert text-danger"></span>
                </td>
                <td class="text-right text-accent">
                  {{ adminService.sections.length }}
                </td>
              </tr>

              <tr>
                <td class="text-left">
                  <span class="mdi mdi-silverware-fork-knife mr-2"></span>
                  Mesas
                  <span *ngIf="adminService.tables.length > 0" class="mdi mdi-check text-success"></span>
                  <span *ngIf="adminService.tables.length === 0" class="mdi mdi-alert text-danger"></span>
                </td>
                <td class="text-right text-accent">
                  {{ adminService.tables.length }}
                </td>
              </tr>

              <tr>
                <td class="text-left">
                  <span class="mdi mdi-account-tie mr-2"></span>
                  Camareros
                  <span *ngIf="adminService.waiters.length > 0" class="mdi mdi-check text-success"></span>
                  <span *ngIf="adminService.waiters.length === 0" class="mdi mdi-alert text-danger"></span>
                </td>
                <td class="text-right text-accent">
                  {{ adminService.waiters.length }}
                </td>
              </tr>

              <tr>
                <td class="text-left">
                  <span class="mdi mdi-star mr-2"></span>
                  Encuestas
                  <span *ngIf="adminService.scoreItems.length > 0" class="mdi mdi-check text-success"></span>
                  <span *ngIf="adminService.scoreItems.length === 0" class="mdi mdi-alert text-danger"></span>
                </td>
                <td class="text-right text-accent">
                  {{ adminService.scoreItems.length }}
                </td>
              </tr>

            </table>
            <hr>
            <div class="text-center">
              <button mat-raised-button color="accent" routerLink="/admin/wizard">
                <span class="mdi mdi-wizard-hat mr-1"></span>
                Iniciar Asistente
              </button>
            </div>
          </div>
        </mat-card-content>

      </mat-card>

      <!-- EMBED FORM -->
      <mat-card class="saturno-minicard text-left mb-2 mx-1">

        <div class="text-info md">
          <span class="mdi mdi-widgets-outline mr-2"></span> Formulario Web
        </div>

        <div class="m-1">
          Si ya tenés una página Web para tu comercio podes llevarte un formulario de reserva automática de mesas para
          que tus clientes puedan hacer reservas directamente desde tu Web. Sólo tenes que copiar el siguinte código
          HTML y pegarlo en tu Web.
        </div>

        <textarea class="widget-snippet" rows="7" [(ngModel)]="widget">

        </textarea>
        <hr>

        <div class="text-center">
          <button mat-raised-button color="warn" [cdkCopyToClipboard]="widget">
            <span class="mdi mdi-content-copy mr-1"></span>
            Copiar Código
          </button>
        </div>

      </mat-card>

    </div>

    <div>

      <!-- SETTINGS -->
      <mat-card class="saturno-minicard text-left mb-2 mx-1 pointer">

        <div class="text-info md">
          <span class="mdi mdi-tune mr-2"></span> Ajustes
        </div>

        <mat-card-content>

          <div class="table-responsive-sm text-center mt-2">
            <table class="table-sm mb-0 sm text-center">

              <tr>
                <td class="text-left">
                  <span class="mdi mdi-gesture-double-tap mr-2"></span>
                  SPM
                </td>
                <td class="text-right text-accent">
                  <span *ngIf="publicService.settings?.bl_spm">Activado</span>
                  <span *ngIf="!publicService.settings?.bl_spm">Desactivado</span>
                </td>
              </tr>

              <tr>
                <td class="text-left">
                  <span class="mdi mdi-human-queue mr-2"></span>
                  Cola Virtual
                </td>
                <td class="text-right text-accent">
                  <span *ngIf="publicService.settings?.bl_queue">Activado</span>
                  <span *ngIf="!publicService.settings?.bl_queue">Desactivado</span>
                </td>
              </tr>

              <tr>
                <td class="text-left">
                  <span class="mdi mdi-calendar-account mr-2"></span>
                  Agenda
                </td>
                <td class="text-right text-accent">
                  <span *ngIf="publicService.settings?.bl_schedule">Activado</span>
                  <span *ngIf="!publicService.settings?.bl_schedule">Desactivado</span>
                </td>
              </tr>

              <tr>
                <td class="text-left">
                  <span class="mdi mdi-timelapse mr-2"></span>
                  Intervalos
                </td>
                <td class="text-right text-accent">
                  <span>{{publicService.settings?.nm_intervals}}</span>
                </td>
              </tr>
            </table>

            <hr>

            <div class="text-center">
              <button mat-raised-button color="primary" routerLink="/admin/settings">
                <span class="mdi mdi-tune mr-1"></span>

                Ir a Ajustes
              </button>
            </div>
          </div>
        </mat-card-content>

      </mat-card>


      <!-- SUPPORT -->
      <mat-card class="saturno-minicard text-left mb-2 mx-1 pointer">
        <div class="text-info md">
          <span class="mdi mdi-face-agent mr-2"></span> Soporte
        </div>

        <div class="sm text-accent my-2">
          Por cualquier consulta o sugerencia no dudes en contactarnos por Whatsapp, Email o a 
          través del chat haciendo clic en el botón <span class="mdi mdi-face-agent"></span>. 
        </div>

        <mat-card-content>

          <div class="table-responsive-sm mt-2">
            <table class="table-sm mb-0 sm text-center">

              <tr>
                <td class="text-left">
                  <span class="mdi mdi-whatsapp mr-2"></span>
                  Whatsapp
                </td>
                <td class="text-right text-accent">
                  <a href="https://wa.me/541164906542">Click acá</a>
                </td>
              </tr>

              <tr>
                <td class="text-left">
                  <span class="mdi mdi-email-outline mr-2"></span>
                  Email
                </td>
                <td class="text-right text-accent">
                  <a href="mailto:soporte@saturno.fun">soporte@saturno.fun</a>
                </td>
              </tr>
            </table>
          </div>
        </mat-card-content>

      </mat-card>

      <!-- ADMIN & WAITERS -->
      <mat-card class="saturno-minicard text-left mb-2 mx-1" *ngIf="loginService.user.id_company">

        <div class="text-info md">
          <span class="mdi mdi-shield-star mr-2"></span> Administradores y Camareros/as
        </div>

        <div class="my-1">
          Para gestionar mesas y turnos sólo tenés que ir al menú de Camarero/a y tomar
          un sector.
        </div>

      </mat-card>

      <!-- CLIENTS -->
      <mat-card class="saturno-minicard text-left mb-2 mx-1">

        <div class="text-info md">
          <span class="mdi mdi-account mr-2"></span> Clientes
        </div>

        <div class="m-1">
          Tus clientes tienen que entrar en la web saturno.fun y buscar tu Bar / Restaruant.
        </div>

        <span class="text-accent pointer m-1 sm" target="_blank" routerLink="/home">
          https://saturno.fun
        </span>

        <div class="m-1">
          También puede usar un link o acceso directo a tu comercio en:
        </div>


        <span class="text-accent pointer m-1 sm" target="_blank"
          routerLink="/public/page/{{loginService.user.id_company?.tx_company_string || 'nombredetucomercio'}}">
          https://saturno.fun/public/page/{{loginService.user.id_company?.tx_company_string || 'nombredetucomercio'}}
        </span>

      </mat-card>

      <!-- QR CODE -->
      <mat-card class="saturno-minicard text-left mb-2 mx-1" *ngIf="loginService.user.id_company?.tx_company_string">

        <div class="text-info md">
          <span class="mdi mdi-qrcode mr-2"></span> QR
        </div>

        <div class="m-1">
          Con este código QR tus clientes puedan accedar rápidamente al formulario de turnos de tu comercio. Podes
          imprimirlo y colocarlo en la puerta de tu local.
        </div>

        <div class="text-center my-4">
          <qrcode qrdata="https://saturno.fun/public/page/{{loginService.user.id_company?.tx_company_string}}/ticket"
            [width]="256" [errorCorrectionLevel]="'M'" usesvg="true">
          </qrcode>
        </div>
        <hr>
        <div class="text-center">
          <button mat-raised-button color="telegram" disabled>
            <span class="mdi mdi-printer mr-1"></span>
            Imprimir Cartel
          </button>
        </div>

      </mat-card>

    </div>

  </div>

</div>