a {
    color: rgb(255, 201, 100);
}

p {
    font-size: .9em;
    opacity  : .8;
}

.minicard {
    margin   : 10px;
    min-width: 15rem;
    max-width: 18rem;
    padding  : 1.2em;
    font-size: medium;
}

.widget-snippet {
    font-family: monospace;
    font-size  : x-small;
    width      : -webkit-fill-available;
    border     : none;
    padding    : 10px;
}