<div class="page-wrapper animated fadeIn">

    <div class="page-image">
        Ingreso a Comercios
        <div class="text-center pt-2">
            <button mat-raised-button color="primary" class="mx-2" routerLink="/home">Volver al Inicio</button>
            <button mat-raised-button color="active" class="mx-2" routerLink="/register">Registrar
                Comercio</button>
        </div>
    </div>

    <div class="page-login">

        <mat-card>

            <!---------------------------------------------------------------------->
            <!-- SOCIAL -->
            <!---------------------------------------------------------------------->

            <div>
                <div class="m-0 py-3 h-100 text-dark">
                    <!-- Google Login -->
                    <div class="login-title">Ingreso a Comercios</div>
                    <app-social *ngIf="!socialToken" [platforms]="['facebook', 'google']"
                        (socialResponse)="socialResponse($event)">
                    </app-social>
                    <div *ngIf="socialToken" class="spinner-content">
                        <app-spinner text="Iniciando Sesión..."></app-spinner>
                    </div>
                </div>
                <div class="separator">
                    <div class="left"></div>
                    <div class="center"> ó </div>
                    <div class="right"></div>
                </div>
            </div>

            <!---------------------------------------------------------------------->
            <!-- EMAIL LOGIN -->
            <!---------------------------------------------------------------------->

            <div class="mt-3">
                <form ngNativeValidate #f="ngForm" (ngSubmit)="loginEmail( f )" autocomplete="off">

                    <!---------------------------------------------------------------------->
                    <!-- EMAIL -->
                    <!---------------------------------------------------------------------->


                    <mat-form-field color="accent" class="w-100">
                        <mat-label>Email</mat-label>
                        <input maxlength="50" #inputEmail type="email" matInput placeholder="mail@dominio.com"
                            [ngModel]="email" name="email">
                        <span class="input-icon" (click)="cleanEmail(inputEmail, inputPassword)"><i
                                class="mdi mdi-close"></i>
                        </span>
                    </mat-form-field>

                    <!---------------------------------------------------------------------->
                    <!-- PASSWORD -->
                    <!---------------------------------------------------------------------->


                    <mat-form-field color="accent" class="w-100">
                        <mat-label>Password</mat-label>
                        <input maxlength="30" #inputPassword matInput placeholder="password" ngModel name="password"
                            [type]="hidepass ? 'password' : 'text'" required>
                        <span class="input-icon" (click)="hidepass = !hidepass" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hidepass"><i
                                class="mdi {{hidepass ? 'mdi-eye-off' : 'mdi-eye'}}"></i></span>
                    </mat-form-field>

                    <!---------------------------------------------------------------------->
                    <!-- LOGIN BUTTON -->
                    <!---------------------------------------------------------------------->

                    <div class="text-center my-2 w-100">
                        <span class="mr-2">
                            <!-- Normal Login -->
                            <button mat-raised-button color="active" class="px-4" type="submit">
                                Entrar
                            </button>
                        </span>
                    </div>

                    <!---------------------------------------------------------------------->
                    <!-- SIGN UP LINK -->
                    <!---------------------------------------------------------------------->


                </form>
            </div>

            <div class="login-buttons-inform text-center pt-2">
                <button mat-button color="warn" routerLink="/home">Volver al Inicio</button>
                <button mat-button color="active" routerLink="/register">Registrar
                    Comercio</button>
            </div>

        </mat-card>


    </div>
</div>