<div class="saturno-card animated fadeIn" [ngClass]="{nomargin:nomargin, nopadding:nopadding}">


    <mat-card>

        <mat-card-header>
            <mat-card-title>
                <span class="mdi mdi-account-tie"></span> Mis Camareros
            </mat-card-title>
        </mat-card-header>


        <table mat-table [dataSource]="waiters">
            <ng-container matColumnDef="id_role">
                <th mat-header-cell *matHeaderCellDef class="text-left"> Rol </th>
                <td mat-cell *matCellDef="let element" class="text-left">
                    <span *ngIf="element.id_role==='ADMIN_ROLE'"
                        class="mdi mdi-police-badge-outline xl text-primary"></span>
                    <span *ngIf="element.id_role!=='ADMIN_ROLE'"
                        class="mdi mdi-silverware-fork-knife xl text-primary"></span>
                </td>
            </ng-container>
            <ng-container matColumnDef="tx_name">
                <th mat-header-cell *matHeaderCellDef class="text-left"> Nombre </th>
                <td mat-cell *matCellDef="let element" class="text-left">{{element.tx_name }}</td>
            </ng-container>
            <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef class="text-right"> Acción </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <span class="mdi mdi-pencil ml-2 xl text-success pointer" (click)="editWaiter(element)"></span>
                    <span *ngIf="element._id !== loginService.user._id"
                        class="mdi mdi-delete ml-2 xl text-danger pointer" (click)="deleteWaiter(element._id)"></span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </mat-card>

    <div class="card bg-warning sm p-2 text-center">
        Tené en cuenta que los mozos / camareros que podés dar de alta acá deben ingresar con email y contraseña
        desde el login normal de usuarios (no desde el login con cuenta de Google).
    </div>

    <mat-card>

        <mat-card-header>
            <mat-card-title>
                <span class="mdi mdi-plus-circle-outline"></span>
                Alta de asistente
            </mat-card-title>
        </mat-card-header>

        <app-waiter-create [waiterEdit]="waiterEdit" (idWaiterUpdated)="waiterUpdated($event)"></app-waiter-create>

    </mat-card>

</div>