<div class="saturno-card-wide h-100">
    <mat-card>
    <img class="img-fluid rounded" src="./assets/uploads/sandangabar/pageimg.jpg">
    <div class="bar-history">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam et a quod voluptatibus nemo iusto neque
            animi vitae doloribus provident, magni, officia eveniet laborum quia, necessitatibus adipisci! Libero,
            officiis quos. Ullam corporis sint minima dolorum dignissimos, eos dolor praesentium enim voluptatibus
            impedit dicta suscipit exercitationem libero assumenda nulla! Excepturi pariatur id voluptatum assumenda
            minima, veniam sed adipisci quis dolorem repudiandae dolor ipsum nobis, nesciunt consectetur inventore et
            consequatur eaque dolores exercitationem explicabo, eos optio totam voluptates non? Eius praesentium facere
            porro eligendi. Iusto repellat, provident sint ab commodi vel alias tempore mollitia aspernatur, illo omnis
            voluptate autem distinctio voluptatibus inventore.
        </p>
    </div>
    <div>
        <button class="col btn btn-danger btn-block rounded-0 mr-1 my-2" (click)="salir()">
            Salir
          </button>
    </div>
    </mat-card>
</div>