@media (max-width: 575px) {
    .public-home-title {
        font-size: xx-large !important;
    }
}

.public-home-title {
    font-size: xxx-large;
    color: var(--accent);
}

.public-home-subtitle {
    font-size: medium;
}

.public-home-content {
    font-family: 'Baloo Bhai 2', 'system-ui';
    font-size: large;
    font-weight: 200;
    padding: 1em;
}

.mat-card {
    box-shadow: none;
}

