.public-home-title {
    font-size: xxx-large;
    color: #ff8b00;
}
@media (max-width: 575px) {
    .public-home-title {
        font-size: xx-large;
    }
}
.public-home-subtitle {
    font-size: medium;
}

.public-home-content {
    font-family: 'Baloo Bhai 2', 'system-ui';
    font-size: large;
    font-weight: 200;
    padding: 1em;
}

