<div class="page-tab-container animated fadeIn">
    <mat-card>

        <div class="text-center my-2">
            <div class="public-home-title">{{company.tx_company_name}}</div>
            <div class="public-home-subtitle">{{company.tx_company_slogan}}</div>
        </div>
        
        <mat-card-content>

            <div class="public-home-content">
                <p>
                    {{company.tx_company_welcome}}
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="salir()">
                SALIR
            </button>
        </mat-card-actions>
    </mat-card>
</div>