<div class="page-container  mt-sm-4 animated fadeIn">

    <mat-card>

        <div *ngIf="loading" class="m-5 animated fadeIn">
            <app-spinner></app-spinner>
        </div>

        <div *ngIf="!loading" class="animated fadeIn">

            <div class="xl text-accent">
                <span class="mdi mdi-hand mr-2"></span>
                Hola {{ loginService?.user.tx_name }}
            </div>


            <div class="md">Desde acá podés entrar a un sector y comenzar a atender mesas.</div>

            <!-- no company selected -->
            <div *ngIf="!loginService.user.id_company" class="p-3 my-4">
                No tenés ningúna empresa asignada a tu usuario. Por favor verifica que exista al menos
                una empresa creada y luego asignala a tu usuario desde el menú principal.
                <hr>
                <button mat-raised-button color="accent" routerLink="/admin/wizard">
                   Iniciar Asistente
                </button>

            </div>

            <div *ngIf="loginService.user.id_company && publicService.sections.length === 0" class="p-3 my-4">
                No tenés ningún sector asociado a la empresa <span
                    class="text-accent">{{loginService.user.id_company.tx_company_name}}</span>.
                Por favor verifica que tengas comercios, sectores y mesas creadas desde el asistente.
                <hr>
                <button mat-raised-button color="accent" routerLink="/admin/wizard">
                    <span class="mdi mdi-wizard-hat"></span> IR AL ASISTENTE
                </button>

            </div>


            <!-- ======================================================== -->
            <!-- TAKE / RELEASE SECTION -->
            <!-- ======================================================== -->

            <div class="mb-4"
                *ngIf="sections && loginService.user.id_company?._id && publicService.sections.length > 0">

                <div *ngIf="waiterService.session">

                    <div class="text-accent my-4">
                        Tenés tomado el sector {{ waiterService.session.id_section.tx_section }}
                    </div>

                    <div class="d-flex justify-content-end">

                        <button mat-raised-button color="warn" class="mx-1" role="button"
                            (click)="releaseSection( waiterService.session.id_section )">
                            <span class="mdi mdi-close"></span>
                            Cerrar
                        </button>

                        <button mat-raised-button color="active" class="mx-1" role="button"
                            (click)="takeSection( waiterService.session.id_section )">
                            <span class="mdi mdi-login-variant"></span>
                            Ingresar
                        </button>

                    </div>
                </div>

                <div class="my-4" *ngIf="!waiterService.session">

                    <div>
                        <mat-form-field color="accent" class="w-100">
                            <mat-label>Seleccione un sector</mat-label>
                            <mat-select #selectSection matNativeControl required>
                                <mat-option *ngFor="let section of sections" [value]="section">
                                    {{section.tx_section}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button mat-raised-button color="primary" routerLink="/waiter/dashboard" class="mx-1"
                            role="button" disabled>
                            <span class="mdi mdi-finance"></span>
                            Dashboard
                        </button>

                        <button mat-raised-button color="active" class="mx-1" role="button"
                            (click)="takeSection( selectSection?.value )">
                            <span class="mdi mdi-login-variant"></span>
                            Ingresar
                        </button>
                    </div>

                </div>

            </div>

            <!-- ======================================================== -->
            <!-- SECTIONS TABLE -->
            <!-- ======================================================== -->

            <div class="card bg-secondary mb-4">
                <div class="card-content table-responsive-sm  p-2">

                    <table class="table table-sm text-white text-center">

                        <tr style="border-top: 0px; color: yellow;">
                            <td style="text-align: left; border: none;">
                                <span class="mdi mdi-select-group mx-1"></span>
                                Sector
                            </td>
                            <td style="text-align: right; border: none;">
                                <span class="mdi mdi-face mx-1"></span>
                                Camareros/as
                            </td>
                        </tr>

                        <tr *ngFor="let section of sections">
                            <td style="text-align: left;">
                                {{section.tx_section}}
                            </td>
                            <td style="text-align: right;">
                                {{sessions.get(section.tx_section)}}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>


    </mat-card>

</div>