<mat-drawer-container class="h-100" style="background-color: var(--bg);">

    <app-toolbar (toggleSideNav)="toggle( sidenav )" [unreadMessages]="unreadMessages" (toggleChat)="toggle( chat )">
    </app-toolbar>

    <!-- sidenav -->
    <mat-drawer #sidenav id="sidenav" mode="over">
        <app-sidenav (toggleSideNav)="toggle( sidenav )"></app-sidenav>
    </mat-drawer>

    <!-- chat -->
    <mat-drawer [(opened)]="opened" #chat id="chat" mode="over" position="end">
        <app-chat (toggleChat)="toggle( chat )" [chatOpenStatus]="opened" (unreadMessages)="unreadMessages=$event">
        </app-chat>
    </mat-drawer>

    <!-- container -->
    <div class="main-wrapper" id="main-wrapper">
        <!-- second row spacer only for non public pages -->
        <div [ngClass]="{'second-row-spacer': url!=='public'}"></div>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>