.mat-drawer-chat {
    width           : 100%;
    background-color: rgba(0, 0, 0, .7);
    box-shadow      : none;
}

.main-wrapper {
    text-align      : -webkit-center;
    width           : 100%;
    background-color: var(--bg);
}