.label {
    font-size: small;
    color    : darkgray;
}

/*--------------------------------*/
/* banners */
/*--------------------------------*/

.banner-container {
    font-family   : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color         : #575757;
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    padding-bottom: 20px;
}

.banner-container-col-left {
    padding-left  : 0px;
    padding-right : 10px;
    display       : flex;
    flex-direction: column;
    flex-wrap     : wrap;
    width         : 50%;
}

.banner-container-col-right {
    padding-right : 0px;
    padding-left  : 10px;
    display       : flex;
    flex-direction: column;
    flex-wrap     : wrap;
    width         : 50%;
}

.banner {
    margin-top: 20px;
}


.banner-title {
    font-size     : large;
    text-transform: uppercase;
    letter-spacing: .2em;
    color         : cornflowerblue;
}

.banner-text {
    font-size  : small;
    font-weight: 400;
}


/* LEFT BANNERS */

.banner-container-tables {
    background-color: #ff6666;
}

.banner-img-tables {
    display            : block;
    text-indent        : -9999px;
    height             : 28em;
    background-position: center;
    background-image   : url('../../../assets/img/screenshots/waiter_section_tables.png');
    background-size    : contain;
    background-repeat  : no-repeat;
}

/* RIGHT BANNERS */

.banner-container-virtual-queue {
    background-color: var(--primary);
    overflow        : hidden;

}

.banner-img-virtual-queue {
    margin-top         : -90px;
    display            : block;
    text-indent        : -9999px;
    height             : 28em;
    background-position: center;
    background-image   : url('../../../assets/img/screenshots/waiter_section_virtual_queue.png');
    background-size    : contain;
    background-repeat  : no-repeat;
}


.banner-container-schedule {
    background-color: #fbfbfb;
}

.banner-container-howworks {
    background-color: #fbfbfb;
}


@media (max-width: 575px) {

    .banner-container-col-left {
        width        : 100% !important;
        padding-right: 0px;
    }

    .banner-container-col-right {
        width       : 100% !important;
        padding-left: 0px;
    }

    .banner-container-col {
        width: 100% !important;
    }

    .banner {
        border: 10px solid var(--bg);
    }

}