<div class="h-100 pt-sm-5">
    <div class="saturno-card-wide animated fadeIn">

        <mat-card>

            <div class="row">

                <!---------------------------------------------------------------------->
                <!-- GOOGLE REGISTRATION -->
                <!---------------------------------------------------------------------->
                <div class="col-sm">
                    <div class="jumbotron m-0 py-5 h-100 text-dark">

                        <div class="my-2 xl text-danger">Google</div>
                        <div class="my-2 md">Desde acá podés registrar tu comercio. </div>
                        <hr class="my-4 saturno-hr-red">
                        <div class="my-2 md">Registrarme con mi cuenta de Google.</div>
                        <button mat-raised-button color="warn" type="button" id="btnGoogleRegister"
                            data-toggle="tooltip">
                            Registrarme
                        </button>
                        <button mat-button class="mt-3" routerLink="/home">Ir al Inicio</button>
                    </div>
                </div>

                <div class="col-sm mt-4 mt-md-0">
                    <form [formGroup]="forma" (ngSubmit)="registrarUsuario()" id="loginform">

                        <mat-form-field class="w-100">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Diego Perez" formControlName="name" name="name" type="text"
                                required>
                        </mat-form-field>

                        <mat-form-field class="w-100">
                            <mat-label>Email</mat-label>
                            <mat-error *ngIf="forma.errors?.emailExists">Este Email ya se encuentra registrado!
                            </mat-error>
                            <input matInput placeholder="diego@perez.com" formControlName="email" name="email" type="email" (keyup)="checkEmailExists()" required>
                        </mat-form-field>

                        <mat-form-field class="w-100">
                            <mat-label>Clave</mat-label>
                            <input matInput placeholder="Clave" formControlName="password1" name="password1"
                                type="password" required>
                        </mat-form-field>

                        <mat-form-field class="w-100">
                            <mat-label>Clave</mat-label>
                            <input matInput placeholder="Clave" formControlName="password2" name="password2"
                                type="password" required>
                        </mat-form-field>

                        <div class="form-group text-center px-4 py-2">
                            <button mat-raised-button color="accent" [disabled]="!forma.valid" type="submit">
                                Registrarme
                            </button>
                        </div>

                        <div class="border-top text-center label pt-2 mt-3">
                            <span class="p-2">Ya tenés cuenta?</span>
                            <span class="p-2 text-primary pointer" routerLink="/login"><b>Entrar</b></span>
                        </div>
                    </form>

                </div>
            </div>

        </mat-card>

    </div>
</div>