<div class="page-wrapper animated fadeIn">
    <div class="page-image">

        Registrar Comercio

        <div class="login-buttons text-center pt-2">
            <button mat-button color="warn" routerLink="/home">Volver al Inicio</button>
            <button mat-button color="active" routerLink="/login">Ya estoy registrado</button>
        </div>
    </div>
    <div class="page-login">

        <mat-card>

            <!---------------------------------------------------------------------->
            <!-- SOCIAL -->
            <!---------------------------------------------------------------------->

            <div>
                <div class="jumbotron m-0 py-3 h-100 text-dark">
                    <div class="login-title">Registrar Comercio</div>
                    <app-social [platforms]="['facebook', 'google']" (socialResponse)="registerSocial($event)">
                    </app-social>
                </div>
            </div>

            <!---------------------------------------------------------------------->
            <!-- EMAIL -->
            <!---------------------------------------------------------------------->

            <div class="mt-3">
                <form [formGroup]="forma" (ngSubmit)="registerUser()" id="loginform">

                    <div>
                        <mat-form-field color="accent" class="w-100">
                            <mat-label>Nombre</mat-label>
                            <input maxlength="30" matInput formControlName="name" name="name" type="text" required>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field color="accent" class="w-100">
                            <mat-label>Email</mat-label>
                            <mat-error *ngIf="forma.errors?.emailExists">Ups! este e-mail ya se encuentra registrado
                            </mat-error>
                            <input maxlength="50" matInput formControlName="email" name="email" type="email"
                                (keyup)="checkEmailExists()" required>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field color="accent" class="w-100">
                            <mat-label>Clave</mat-label>
                            <input maxlength="30" matInput formControlName="password1" name="password1" type="password"
                                required>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field color="accent" class="w-100">
                            <mat-label>Clave</mat-label>
                            <input maxlength="30" matInput formControlName="password2" name="password2" type="password"
                                required>
                        </mat-form-field>
                    </div>

                    <div>
                        <div class="form-group text-center px-4 py-2 w-100">
                            <button mat-raised-button color="accent" [disabled]="!forma.valid" type="submit">
                                Registrarme
                            </button>
                        </div>
                    </div>
                </form>
            </div>


            <div class="login-buttons-inform text-center pt-2">
                <button mat-button color="warn" routerLink="/home">Volver al Inicio</button>
                <button mat-button color="active" routerLink="/login">Ya estoy registrado</button>
            </div>
            
        </mat-card>



    </div>
</div>

<!-- ======================================================== -->
<!-- BANNERS -->
<!-- ======================================================== -->

<div class="animated fadeIn banner-container">

    <div class="banner-container-col-left">

        <!-- BANNER LEFT 1: COMO FUNCIONA? -->
        <div class="banner banner-container-howworks pointer" routerLink="/howworks">
            <div>
                <span class="mdi mdi-cogs text-white xml op8"></span>
            </div>
            <div class="m-5 text-white">
                <div class="banner-title text-white m-2 mb-4">
                    COMO FUNCIONA?
                </div>
                <div class="banner-text">
                    Vistitá esta breve guía para saber que es y cómo funciona el sistema Saturno.
                </div>
            </div>
        </div>

        <!-- BANNER LEFT 2: MESAS -->
        <div class="banner banner-container-tables">
            <div class="m-5 text-white">
                <div class="banner-title text-white m-2 mb-4">
                    GESTION DE MESAS
                </div>
                <div class="banner-text">
                    Los camareros/as pueden gestionar mesas pedidos y solicitudes de asistencia directamente desde
                    un celular.
                </div>
            </div>
            <div class="banner-img-tables my-5">
            </div>
        </div>
    </div>

    <div class="banner-container-col-right">

        <!-- BANNER RIGHT 1: VIRTUAL QUEUE -->
        <div class="banner banner-container-virtual-queue">
            <div class="banner-img-virtual-queue">
            </div>
            <div class="m-5 text-white">
                <div class="banner-title text-white m-2 mb-4">
                    COLA VIRTUAL
                </div>
                <div class="banner-text">
                    Cuando tu bar esta lleno también podes administrar a los clientes que esperan una mesa. Pueden
                    esperar en cualquier otro lugar cercano. El sistema avisa a tus clientes cuando tienen una mesa
                    asignada y proveída.
                </div>
            </div>
        </div>

        <!-- BANNER RIGHT 2: AGENDA -->
        <div class="banner banner-container-schedule">
            <div class="banner-img-schedule my-5">
            </div>
            <div class="m-5 text-white">
                <div class="banner-title text-white m-2 mb-4">
                    AGENDA
                </div>
                <div class="banner-text">
                    Tus clientes pueden elegir una mesa y reservarla. El sistema automáticamente administra las
                    mesas de cada sector y los tickets agendados.
                </div>
            </div>
        </div>



    </div>

</div>