<form autocomplete="off" ngNativeValidate #formDirective="ngForm" [formGroup]="forma"
    (ngSubmit)="createTable(formDirective)">

    <mat-form-field color="accent" class="w-100">
        <mat-label>Seleccione un sector</mat-label>
        <mat-select formControlName="idSection" name="idSection" #selectSection matNativeControl required>
            <mat-option *ngFor="let section of sections" [value]="section._id" (click)="sectionChange(section)">
                {{section.tx_section}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field color="accent" class="w-100">
        <mat-label>Item a calificar</mat-label>
        <input matInput placeholder="Por ejemplo Atención, Limpieza, Comida, Puntualidad, etc" formControlName="txItem" maxlength="15" name="txItem" type="text" required>
    </mat-form-field>

    <div class="container pt-4 px-0">
        <button mat-raised-button color="accent" type="submit">
            <span class="mdi lg mdi-content-save-outline"></span>
            GUARDAR ITEM A CALIFICAR
        </button>
    </div>
</form>