<form autocomplete="off" ngNativeValidate #formDirective="ngForm" [formGroup]="forma"
    (ngSubmit)="createSection(formDirective)">

    <mat-form-field color="accent" class="w-100">
        <mat-label>Nombre del Sector</mat-label>
        <input maxlength="30" matInput placeholder="Por ejemplo Terraza, Patio, Fumadores, Piso 1, etc." formControlName="txSection" name="txSection" type="text"
            required>
    </mat-form-field>

    <div class="container pt-4 px-0">
        <div *ngIf="loading">
            <button mat-raised-button color="accent" disabled>GUARDANDO... </button>
        </div>
        <button *ngIf="!loading" mat-raised-button color="accent" type="submit" [disabled]="forma.invalid">
            <span class="mdi lg mdi-content-save-outline"></span>
            GUARDAR SECTOR
        </button>
    </div>
</form>