.mat-card-avatar {
    height: 100px;
    width: 100px;
}

.mat-card-avatar img {
    height       : 80px;
    width        : 80px;
    margin       : 10px;
    border-radius: 50%;
}


.mat-card-title {
    font-size: xx-large;
    color    : var(--accent);
}

@media (max-width: 400px) {
    .mat-card-title {
        font-size: x-large;
    }
}

.mat-card-subtitle {
    width: 100%;
    font-size: large;
}

.mat-card {
    box-shadow: none;
}


.screen-ticket-button-confirm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  