<div class="page-tab-container mx-0 animated fadeIn">
  <!-- <pre *ngIf="tickets.length > 0" class="xs text-left text-accent">
    {{ticket | json}}
  </pre> -->
  <div *ngIf="company">

    <mat-card>

      <div class="text-accent sm" *ngIf="loading">
        Cargando...
      </div>

      <div *ngIf="!loading">

        <!------------------------------>
        <!-- COMPANY HEADER  -->
        <!------------------------------>

        <div class="text-center my-2">
          <div class="public-createticket-title">{{company.tx_company_name}}</div>
          <div class="public-createticket-subtitle">{{company.tx_company_slogan}}</div>
        </div>

        <!------------------------------>
        <!-- TICKET WAITING / SCHEDULED  -->
        <!------------------------------>

        <mat-card-content *ngIf="ticket">

          <!-- waiting, terminated, scheduled, queued, requested, assigned, cancelled, provided, finished  -->

          <!------------------------------>
          <!-- WAITING -->
          <!------------------------------>

          <div *ngIf="ticket.tx_status === 'waiting'" class="my-4">

            Hola {{ticket.tx_name}}, tu ticket esta creado, tenés que confirmarlo dentro de los próximos 10 minutos
            utilizando alguno de los siguientes métodos:
            <app-social (socialResponse)="socialResponse($event)"></app-social>

          </div>

          <!------------------------------>
          <!-- TERMINATED -->
          <!------------------------------>

          <div *ngIf="ticket.tx_status === 'terminated'" class="my-4">
            <div *ngIf="validateResponse">
              {{validateResponse}}
            </div>
            <div *ngIf="!validateResponse">
              Tu solicitud fue rechazada o finalizó el tiempo para validar tu reserva.
            </div>
          </div>

          <!------------------------------>
          <!-- PENDING -->
          <!------------------------------>

          <div *ngIf="ticket.tx_status === 'pending'" class="my-4">
            <div *ngIf="validateResponse">
              {{validateResponse}}
            </div>
            <div *ngIf="!validateResponse">
              Tu solicitud esta pendiente de aprobación. Te vamos a avisar si tu pedido queda en agenda
              lo antes posible y por el mismo medio que usaste para validar el ticket.
            </div>

          </div>
          <!------------------------------>
          <!-- SCHEDULED -->
          <!------------------------------>

          <div *ngIf="ticket.tx_status === 'scheduled'" class="my-4">
            <div *ngIf="validateResponse">
              {{validateResponse}}
            </div>
            <div *ngIf="!validateResponse">
              <p>
                Tu reserva quedó confirmada.
              </p>
              <p>
                Te esperan el {{ ticket.tm_reserve | dateToString}}.
              </p>
              <p>
                Faltan {{ ticket.tm_reserve | dateToRemaining }}.
              </p>
            </div>
          </div>

          <!------------------------------>
          <!-- QUEUED: VIRTUAL QUEUE -->
          <!------------------------------>

          <div *ngIf="ticket.tx_status === 'queued'">
            Estas en la cola virutal, tu número es el {{ticket.id_position}}.
          </div>

          <!------------------------------>
          <!-- REQUESTED: VIRTUAL QUEUE -->
          <!------------------------------>

          <div *ngIf="ticket.tx_status === 'requested'">
            Tu requerimiento de mesa esta siendo procesado.
          </div>

          <!------------------------------>
          <!-- ASSIGNED: VIRTUAL QUEUE -->
          <!------------------------------>

          <div *ngIf="ticket.tx_status === 'assigned'">
            <p>
              !Tu ticket ya tiene mesa asignada!
            </p>
            <p>
              Sólo tenes que esperar a que se libere una mesa.
            </p>
            <p>
              Si tu ticket está agendado tenés que esperar a la hora de reserva.
            </p>
          </div>

          <!------------------------------>
          <!-- PROVIDED: VIRTUAL QUEUE -->
          <!------------------------------>

          <div *ngIf="ticket.tx_status === 'provided'">
            <p>
              !{{ticket.tx_name}} tu mesa ya está lista!
            </p>
            <p>
              Por favor pasá a la mesa {{ticket.cd_tables[0]}}. Para comunicarte con una camarero/a por favor
              hace click en ¡Comenzar!.
            </p>


            <div *ngIf="ticket">
              <button mat-raised-button class="action-button-flex" color="active"
                routerLink="/public/ticket/{{ticket._id}}">
                <table>
                  <tr>
                    <td class="button-icon mdi mdi-ticket-account xl"></td>
                    <td class="button-text">¡Comenzar!</td>
                  </tr>
                </table>
              </button>
            </div>

          </div>

        </mat-card-content>

        <!------------------------------>
        <!-- TICKET CREATE FORM  -->
        <!------------------------------>

        <mat-card-content *ngIf="!ticket">
          <form autocomplete="off" ngNativeValidate #formDirective="ngForm" [formGroup]="ticketForm">

            <div class="d-flex">
              <mat-form-field color="accent" class="w-50 pr-1">
                <mat-label>Tu Nombre</mat-label>
                <input maxlength="30" matInput placeholder="Ingresa tu nombre" formControlName="txName" name="txName"
                  type="text" maxlength="20" required>
              </mat-form-field>

              <mat-form-field color="accent" class="w-50 pl-1">
                <mat-label>Cantidad de Personas</mat-label>
                <input min="1" max="1000" type="number" matInput placeholder="Cantidad de Personas"
                  formControlName="nmPersons" name="nmPersons" required>
              </mat-form-field>
            </div>

            <div class="d-flex">
              <mat-form-field color="accent" class="w-50 pr-1">
                <mat-label>Sector</mat-label>
                <mat-select formControlName="idSection" name="idSection" required>
                  <mat-option *ngFor="let section of sections" [value]="section._id"> {{ section.tx_section }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field color="accent" class="w-50 pl-1">
                <mat-label>Para cuando?</mat-label>
                <mat-select formControlName="txWhen" name="txWhen" required>
                  <mat-option value="ahora"><span class="text-accent mdi mdi-timelapse"></span> Ahora </mat-option>
                  <mat-option value="otrodia"><span class="text-accent mdi mdi-calendar-month"></span> Otro día
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="d-flex" *ngIf="ticketForm.controls.txWhen.value==='otrodia'">
              <mat-form-field color="accent" class="w-33 pr-1">
                <mat-label>Fecha</mat-label>
                <input matInput formControlName="dtReserve" [min]="minDate" [max]="maxDate" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field color="accent" class="w-33 px-1">
                <mat-label>Hora</mat-label>
                <mat-select formControlName="tmReserve">
                  <mat-option *ngFor="let available of availability" [value]="available.value"
                    [disabled]="available.disabled" (click)="availableTables = available.tables">
                    {{available.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field color="accent" class="w-33 pl-1">
                <mat-label>Mesa</mat-label>
                <mat-select formControlName="cdTables">
                  <mat-option *ngFor="let table of availableTables" [value]="table">
                    <span *ngIf="table===0">Solicitar Mesa</span>
                    <span *ngIf="table>0">{{table}}</span>


                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="w-100">

              <div *ngIf="tellUserNotAvailable===true" class="sm text-accent">
                <p>
                  No se puede cumplimentar el requerimiento para la cantidad de personas solcitada.
                  Si querés podes elegir un horario disponible para iniciar una solicitud de armado de mesa especial.
                  Esta solicitud tiene que ser aprobada por un administrador y te notificamos a la brevedad por el mismo
                  medio utilizado para confirmar el ticket.
                </p>
              </div>

              <button mat-raised-button color="primary" class="my-2" (click)="createTicket()"
                *ngIf="tellUserNotAvailable===true && ticketForm.controls.txWhen.value==='otrodia'"
                [disabled]="ticketForm.invalid">
                Solicitar Mesa Especial
              </button>

              <button mat-raised-button color="primary" class="my-2" (click)="createTicket()"
                *ngIf="tellUserNotAvailable===false && ticketForm.controls.txWhen.value==='ahora'"
                [disabled]="ticketForm.invalid">
                Solicitar Mesa
              </button>

              <button mat-raised-button color="active" class="my-2" (click)="createTicket()"
                *ngIf="tellUserNotAvailable===false && ticketForm.controls.txWhen.value==='otrodia'"
                [disabled]="ticketForm.invalid">
                Reservar Mesa
              </button>
            </div>
          </form>
        </mat-card-content>

        <!------------------------------>
        <!-- BUTTONS  -->
        <!------------------------------>

        <mat-card-actions>

          <button mat-button routerLink="/public/tickets">
            <span class="mdi mdi-ticket-account mr-1"></span> Mis Reservas
          </button>

          <button mat-button (click)="salir()">
            <span class="mdi mdi-power mr-1"></span> Salir
          </button>

        </mat-card-actions>

      </div>

    </mat-card>
  </div>
</div>