<!------------------------------>
<!-- TABLES -->
<!------------------------------>
<mat-expansion-panel>

    <mat-expansion-panel-header>
        <mat-panel-title>
            <span class="xl mdi mdi-silverware-fork-knife text-warning"></span>
            <span class="sidenav-title-text mx-2">Mesas ({{tables.length}})</span>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-checkbox [(ngModel)]="listmode" (click)="setListMode()" class="margin">Modo Lista</mat-checkbox>

    <!------------------------------>
    <!-- TABLES [LIST MODE] -->
    <!------------------------------>

    <div *ngIf="listmode">

        <mat-radio-group [(ngModel)]="tableSelected">

            <table *ngIf="tables && busyTablesTimes" mat-table [dataSource]="tables" multiTemplateDataRows>

                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef class="text-left"> Estado </th>
                    <td mat-cell *matCellDef="let element" class="text-left">
                        <app-table-info [table]="element"></app-table-info>
                    </td>
                </ng-container>

                <ng-container matColumnDef="mesa">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Mesa </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <span>{{ element.nm_table }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="turno">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Turno </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <span>{{ element.id_session?.id_ticket.id_position }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="ocupado">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Ocup </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <span>{{ busyTablesTimes.get(element.nm_table)?.tm_provided }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="espera">
                    <th mat-header-cell *matHeaderCellDef class="text-right"> Espera </th>
                    <td mat-cell *matCellDef="let element" class="text-right">
                        <span>{{ busyTablesTimes.get(element.nm_table)?.tm_call }}</span>
                    </td>
                </ng-container>

                <!-------------------------------------->
                <!-- EXPANDED ROW: STATUS AND ACTIONS -->
                <!-------------------------------------->

                <ng-container matColumnDef="expandedDetail">
                    <td class="td-expanded px-0" mat-cell *matCellDef="let element"
                        [attr.colspan]="displayedColumns.length">
                        <div class="ticket-container"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                            <!-- ng-template to table status, ticket info and action buttons -->
                            <div *ngIf="table then tableinfo"></div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                    [class.expanded-row]="expandedElement === element" (click)="selectTable(element)"
                    (click)="expandedElement = expandedElement === element ? null : element" class="tables-row"></tr>
                <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="detail-row"></tr>
            </table>

        </mat-radio-group>

    </div>

    <!------------------------------>
    <!-- TABLES [BUTTONS MODE] -->
    <!------------------------------>

    <div *ngIf="!listmode">
        <button mat-raised-button class="w-8em m-1" color="primary" *ngFor="let table of tables"
            (click)="selectTable(table)">

            <div class="xl">{{ table.nm_table }}</div>
            <app-table-info [table]="table"></app-table-info>


        </button>

        <!-- ng-template to table status, ticket info and action buttons -->
        <div *ngIf="table then tableinfo"></div>


    </div>






</mat-expansion-panel>

<ng-template #tableinfo>
    <div *ngIf="table">
        <!--------------------------------->
        <!-- TABLE STATUS && TICKET INFO -->
        <!--------------------------------->

        <div class="ticket-status">

            <!------------------------------>
            <!-- TABLE STATUS -->
            <!------------------------------>

            <div class="lg">
                Mesa {{ table.nm_table }}:
                <span *ngIf="table.tx_status === 'busy'"> Ocupada </span>
                <span *ngIf="table.tx_status === 'paused'"> Pausada </span>
                <span *ngIf="table.tx_status === 'idle'"> Disponible </span>
                <span *ngIf="table.tx_status === 'reserved'"> Reservada </span>
            </div>

            <!------------------------------>
            <!-- TICKET INFO -->
            <!------------------------------>

            <div *ngIf="table?.id_session">
                <table>
                    <tr>
                        <td style="text-align: left; border: none">Turno</td>
                        <td style="text-align: right; border: none">
                            {{ table?.id_session?.id_ticket.id_position }}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; border: none">Comensales</td>
                        <td style="text-align: right; border: none">
                            {{ table?.id_session?.id_ticket.nm_persons }}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; border: none">Prioridad</td>
                        <td style="text-align: right; border: none">
                            {{ table?.id_session?.id_ticket.bl_priority }}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; border: none">Provisión</td>
                        <td style="text-align: right; border: none">
                            {{ busyTablesTimes.get(table.nm_table)?.tm_provided }}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; border: none">
                            Solicitud de asistencia
                        </td>
                        <td style="text-align: right; border: none">
                            {{ busyTablesTimes.get(table.nm_table)?.tm_call }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!------------------------------>
        <!-- ACTIONS -->
        <!------------------------------>
        <div class="ticket-actions">

            <!-- activate table -->
            <button mat-raised-button color="primary" class="action-button m-1" [disabled]="table.tx_status === 'busy'">
                <div class="mdi mdi-power xl"></div>
                <mat-slide-toggle style="color: tomato;" (click)="toggleTableStatus(table)"
                    [checked]="table.tx_status !== 'paused'" [disabled]="table.tx_status === 'busy'">
                </mat-slide-toggle>
            </button>

            <!-- priority slide -->
            <button mat-raised-button color="primary" class="action-button m-1"
                [disabled]="!table.id_session || waiterService.sectionSelected === ''">
                <div class="mdi mdi-priority-high xl"></div>
                <mat-slide-toggle [(ngModel)]="blPriority"
                    [disabled]="!table.id_session || waiterService.sectionSelected === ''">
                </mat-slide-toggle>
            </button>

            <!-- reassign ticket -->
            <div>
                <button mat-raised-button color="primary" class="action-button m-1"
                    [disabled]="!table.id_session || waiterService.sectionSelected === ''"
                    (click)="reassignTicket(table.id_session?.id_ticket)">
                    <div class="mdi mdi-arrow-right-bold-circle-outline xl"></div>
                    <div class="sm">Mover</div>
                </button>
            </div>

            <!-- attened ticket -->
            <button mat-raised-button color="primary" class="action-button m-1"
                (click)="attendedTicket(table.id_session?.id_ticket)"
                [disabled]="!table.id_session?.id_ticket.tx_call || table.tx_status !== 'busy'">
                <div class="mdi mdi-bell xl"></div>
                <div class="sm">Atendido</div>
            </button>

            <!-- release ticket -->
            <button mat-raised-button color="primary" class="action-button m-1"
                (click)="releaseTicket(table.id_session?.id_ticket)" [disabled]="table.tx_status !== 'busy'">
                <div class="mdi mdi-replay xl"></div>
                <div class="sm">Soltar</div>
            </button>

            <!-- end ticket -->
            <button mat-raised-button color="primary" class="action-button m-1"
                (click)="endTicket(table.id_session?.id_ticket)" [disabled]="table.tx_status !== 'busy'">
                <div class="mdi mdi-close xl"></div>
                <div class="sm">Cerrar</div>
            </button>


        </div>
    </div>
</ng-template>