<!------------------------------>
<!-- TABLES -->
<!------------------------------>
<mat-expansion-panel>

    <mat-expansion-panel-header>
        <mat-panel-title>
            <span class="xl mdi mdi-silverware-fork-knife text-warning"></span>
            <span class="sidenav-title-text mx-2">Mesas ({{tables.length}})</span>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-checkbox [(ngModel)]="listmode" (click)="setListMode()" class="margin">Modo Lista</mat-checkbox>

    <!------------------------------>
    <!-- TABLES [LIST MODE] -->
    <!------------------------------>

    <div *ngIf="listmode">



        <table *ngIf="tables && busyTablesTimes" mat-table [dataSource]="tables" multiTemplateDataRows>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef class="text-left"> Estado </th>
                <td mat-cell *matCellDef="let element" class="text-left">
                    <app-table-info [listmode]="listmode" [table]="element"></app-table-info>
                </td>
            </ng-container>

            <ng-container matColumnDef="mesa">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Mesa </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <span>{{ element.nm_table }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="capacidad">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Cap </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <span>{{ element.nm_persons }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="turno">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Turno </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <span>{{ element.id_session?.id_ticket.id_position }}</span>
                </td>
            </ng-container>


            <ng-container matColumnDef="personas">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Pers </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <span>{{ element.id_session?.id_ticket.nm_persons }}</span>
                </td>
            </ng-container>


            <ng-container matColumnDef="ocupado">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Ocup </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <span>{{ busyTablesTimes.get(element.nm_table)?.tm_provided }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="espera">
                <th mat-header-cell *matHeaderCellDef class="text-right"> Espera </th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <span>{{ busyTablesTimes.get(element.nm_table)?.tm_call }}</span>
                </td>
            </ng-container>

            <!-------------------------------------->
            <!-- EXPANDED ROW: STATUS AND ACTIONS -->
            <!-------------------------------------->

            <ng-container matColumnDef="expandedDetail">
                <td class="td-expanded px-0" mat-cell *matCellDef="let element"
                    [attr.colspan]="displayedColumns.length">
                    <div class="ticket-container"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                        <!-- ng-template to table status, ticket info and action buttons -->
                        <div *ngIf="table then expandTable"></div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                [class.expanded-row]="expandedElement === element" (click)="selectTable(element)"
                (click)="expandedElement = expandedElement === element ? null : element" class="tables-row"></tr>
            <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>


    </div>

    <!------------------------------>
    <!-- TABLES [BUTTONS MODE] -->
    <!------------------------------>

    <div *ngIf="!listmode">
        <button mat-raised-button [color]="table.id_session?'warn':table.tx_status==='idle'?'active':''" class="m-1"
            *ngFor="let table of tables" (click)="selectTable(table)">

            <div class="xl px-3" style="background-color: rgba(0,0,0,.1);">{{ table.nm_table }}</div>
            <app-table-info [listmode]="listmode" [table]="table"></app-table-info>

        </button>

        <!-- ng-template to table status, ticket info and action buttons -->
        <div *ngIf="table then expandTable"></div>
    </div>

</mat-expansion-panel>

<!------------------------------------>
<!-- TICKET INFO && ACTIONS BUTTONS -->
<!------------------------------------>

<ng-template #expandTable>
    <div *ngIf="table">


        <div class="p-2 lg">
            Mesa {{ table.nm_table }}:
            <span *ngIf="table.tx_status === 'busy'"> Ocupada </span>
            <span *ngIf="table.tx_status === 'paused'"> Pausada </span>
            <span *ngIf="table.tx_status === 'idle'"> Disponible </span>
            <span *ngIf="table.tx_status === 'reserved'"> Reservada </span>
        </div>

        <!------------------------------>
        <!-- TICKET INFO -->
        <!------------------------------>

        <div *ngIf="table?.id_session" class="p-2">
            <table>
                <tr>
                    <td style="text-align: left; border: none">Turno</td>
                    <td style="text-align: right; border: none">
                        {{ table?.id_session?.id_ticket.id_position }}
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left; border: none">Comensales</td>
                    <td style="text-align: right; border: none">
                        {{ table?.id_session?.id_ticket.nm_persons }}
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left; border: none">Prioridad</td>
                    <td style="text-align: right; border: none">
                        {{ table?.id_session?.id_ticket.bl_priority }}
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left; border: none">Provisión</td>
                    <td style="text-align: right; border: none">
                        {{ busyTablesTimes.get(table.nm_table)?.tm_provided }}
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left; border: none">
                        Solicitud de asistencia
                    </td>
                    <td style="text-align: right; border: none">
                        {{ busyTablesTimes.get(table.nm_table)?.tm_call }}
                    </td>
                </tr>
            </table>
        </div>

        <!------------------------------>
        <!-- ACTIONS -->
        <!------------------------------>
        <div class="ticket-actions">

            <!-- activate table -->
            <button mat-raised-button [color]="table.tx_status==='paused'? '' : 'active'" class="action-button"
                [disabled]="table.tx_status === 'busy' || table.tx_status === 'reserved'">
                <table>
                    <tr>
                        <td class="mdi mdi-power xl"></td>
                        <td class="td-text">
                            <mat-slide-toggle (click)="toggleTableStatus(table)"
                                [checked]="table.tx_status !== 'paused'"
                                [disabled]="table.tx_status === 'busy' || table.tx_status === 'reserved'">
                            </mat-slide-toggle>
                        </td>
                    </tr>
                </table>
            </button>

            <!-- priority slide -->
            <button mat-raised-button color="primary" class="action-button"
                [disabled]="!table.id_session || waiterService.sectionSelected === ''">
                <table>
                    <tr>
                        <td class="mdi mdi-priority-high xl"></td>
                        <td class="td-text">
                            <mat-slide-toggle [(ngModel)]="blPriority"
                                [disabled]="!table.id_session || waiterService.sectionSelected === ''">
                            </mat-slide-toggle>
                        </td>
                    </tr>
                </table>
            </button>

            <!-- reassign ticket -->
            <button mat-raised-button color="primary" class="action-button"
                [disabled]="!table.id_session || waiterService.sectionSelected === ''"
                (click)="reassignTicket(table.id_session?.id_ticket)">
                <table>
                    <tr>
                        <td class="mdi mdi-arrow-right-bold-circle-outline xl"></td>
                        <td class="td-text sm">Mover</td>
                    </tr>
                </table>
            </button>

            <!-- attened ticket -->
            <button mat-raised-button color="primary" class="action-button"
                (click)="attendedTicket(table.id_session?.id_ticket)"
                [disabled]="!table.id_session?.id_ticket.tx_call || table.tx_status !== 'busy'">
                <table>
                    <tr>
                        <td class="mdi mdi-bell xl"></td>
                        <td class="td-text sm">Atendido</td>
                    </tr>
                </table>
            </button>

            <!-- release ticket -->
            <button mat-raised-button color="primary" class="action-button"
                (click)="releaseTicket(table.id_session?.id_ticket)" [disabled]="table.tx_status !== 'busy'">
                <table>
                    <tr>
                        <td class="mdi mdi-replay xl"></td>
                        <td class="td-text sm">Soltar</td>
                    </tr>
                </table>
            </button>

            <!-- end ticket -->
            <button mat-raised-button color="warn" class="action-button"
                (click)="endTicket(table.id_session?.id_ticket)" [disabled]="table.tx_status !== 'busy'">
                <table>
                    <tr>
                        <td class="mdi mdi-close xl"></td>
                        <td class="td-text sm">Cerrar</td>
                    </tr>
                </table>
            </button>

        </div>
    </div>
</ng-template>