/* MESAS  */

.ticket-container {
    overflow : hidden;
    display  : flex;
    flex-flow: wrap;
}

.table-buttons-container {
    width     : 100%;
    padding   : 1.5em;
    text-align: center;
}

.ticket-actions {
    /* justify-content: space-between; */
    justify-content: center;
    width          : 100%;
    display        : flex;
    flex-flow      : wrap;
}


.tables-row:hover {
    background-color: rgba(0, 255, 0, 0.15);
    cursor          : pointer;
}


.detail-row {
    height: 0;
}



.table-button-active {
    opacity      : 1 !important;
    border       : 2px solid var(--accent);
    border-radius: 5px;
}

.table-button-inactive {
    /* opacity: .5; */
}


.font-monospace {
    font-family: monospace;
}