<!------------------------------>
<!-- TABLES -->
<!------------------------------>


<mat-checkbox [(ngModel)]="listmode" color="accent" (click)="setListMode()">Modo Lista</mat-checkbox>

<!------------------------------>
<!-- TABLES [LIST MODE] -->
<!------------------------------>

<div *ngIf="listmode">

    <table *ngIf="tables && busyTablesTimes" mat-table [dataSource]="tables" multiTemplateDataRows>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef class="sm text-left text-accent">Est</th>
            <td mat-cell *matCellDef="let element" class="text-left">
                <app-table-status [listmode]="listmode" [table]="element"></app-table-status>
            </td>
        </ng-container>

        <ng-container matColumnDef="mesa">
            <th mat-header-cell *matHeaderCellDef class="sm text-center text-accent"> # </th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <span class="font-monospace">{{ element.nm_table }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="capacidad">
            <th mat-header-cell *matHeaderCellDef class="sm text-center text-accent"> Cap </th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <span class="font-monospace">{{ element.nm_persons }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="ticket">
            <th mat-header-cell *matHeaderCellDef class="sm text-center text-accent"> Tkt </th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <span class="font-monospace">{{ element.id_session?.id_ticket.id_position }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="ocupacion">
            <th mat-header-cell *matHeaderCellDef class="sm text-center text-accent"> Ocup </th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <span class="font-monospace">{{ element.nm_persons | getOccupation :
                    element.id_session?.id_ticket.nm_persons }}%</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="tp">
            <th mat-header-cell *matHeaderCellDef class="sm text-center text-accent"> Prov </th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <span class="font-monospace">{{ busyTablesTimes.get(element.nm_table)?.tm_provided }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="ta">
            <th mat-header-cell *matHeaderCellDef class="sm text-right text-accent"> Asis </th>
            <td mat-cell *matCellDef="let element" class="text-right">
                <span class="font-monospace">{{ busyTablesTimes.get(element.nm_table)?.tm_call }}</span>
            </td>
        </ng-container>

        <!-------------------------------------->
        <!-- EXPANDED ROW: STATUS AND ACTIONS -->
        <!-------------------------------------->

        <ng-container matColumnDef="expandedDetail">
            <td class="td-expanded px-0" mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="ticket-container" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                    <!-- ng-template to table status, ticket info and action buttons -->
                    <div *ngIf="table then expandTable"></div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            [class.expanded-row]="expandedElement === element" (click)="selectTable(element)"
            (click)="expandedElement = expandedElement === element ? null : element" class="tables-row"></tr>
        <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>


</div>

<!------------------------------>
<!-- TABLES [BUTTONS MODE] -->
<!------------------------------>

<div *ngIf="!listmode">
    <button mat-raised-button
        [color]="t.id_session ? t.id_session?.id_ticket?.tm_init ? 'warn' : 'accent' : t.tx_status==='idle'?'active':t.tx_status==='reserved'?'primary':''"
        class="table-button table-button-inactive" *ngFor="let t of tables"
        [ngClass]="{'table-button-active': t?._id === table?._id}" (click)="selectTable(t)">

        <table>
            <td class="button-icon monospace px-2 xl"><span *ngIf="t.nm_table < 10">0</span>{{ t.nm_table }}</td>
            <td class="button-text">
                <app-table-status [listmode]="listmode" [table]="t" [toggling]="toggling"></app-table-status>
            </td>
        </table>

    </button>

    <!-- ng-template to table status, ticket info and action buttons -->
    <div *ngIf="table then expandTable"></div>
</div>



<!------------------------------------>
<!-- TICKET INFO && ACTIONS BUTTONS -->
<!------------------------------------>

<ng-template #expandTable>
    <div *ngIf="table" class="py-4">


        <div class="p-2 lg text-center">
            Mesa {{ table.nm_table }}:
            <span class="text-accent">
                <span *ngIf="table.tx_status === 'busy'" class="text-warn"> Ocupada </span>
                <span *ngIf="table.tx_status === 'paused'" class="text-info"> Pausada </span>
                <span *ngIf="table.tx_status === 'idle'" class="text-active"> Disponible </span>
                <span *ngIf="table.tx_status === 'reserved'" class="text-primary"> Reservada </span>
                <span *ngIf="table.tx_status === 'waiting'" class="text-accent"> Esperando al cliente... </span>
            </span>
        </div>


        <div class="px-4 mt-4">


            <!------------------------------>
            <!-- TICKET TIMERS -->
            <!------------------------------>

            <table class="px-4 my-4" *ngIf="table.id_session?.id_ticket">
                <tr>
                    <td>Provisión</td>
                    <td class="text-right monospace text-accent">
                        {{ busyTablesTimes.get(table.nm_table)?.tm_provided }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Solicitud de asistencia
                    </td>
                    <td class="text-right monospace text-accent">
                        {{ busyTablesTimes.get(table.nm_table)?.tm_call }}
                    </td>
                </tr>
            </table>
        </div>
        <!------------------------------>
        <!-- ACTIONS -->
        <!------------------------------>

        <div class="ticket-actions">

            <!-- activate table -->
            <button mat-raised-button [color]="table.tx_status==='paused'? '' : 'active'" class="action-button"
                [disabled]="table.tx_status === 'busy' || table.tx_status === 'waiting' || table.tx_status === 'reserved'">
                <table>
                    <tr>
                        <td class="button-icon mdi mdi-power xl"></td>
                        <td class="button-text">
                            <mat-slide-toggle (change)="toggleTableStatus(table)"
                                [checked]="table.tx_status !== 'paused'"
                                [disabled]="table.tx_status === 'busy' || table.tx_status === 'waiting' || table.tx_status === 'reserved' || toggling">
                            </mat-slide-toggle>
                        </td>
                    </tr>
                </table>
            </button>

            <!-- attened ticket -->
            <button mat-raised-button color="primary" class="action-button"
                (click)="attendedTicket(table.id_session?.id_ticket)"
                [disabled]="table.id_session?.id_ticket?.tx_call === null || table.tx_status !== 'busy'">
                <table>
                    <tr>
                        <td class="button-icon mdi mdi-bell xl"></td>
                        <td class="button-text">Atendido</td>
                    </tr>
                </table>
            </button>

            <!-- Init Table Service -->
            <button mat-raised-button color="active" class="action-button" (click)="initTables(table)"
                [disabled]="table.tx_status !== 'waiting'">
                <table>
                    <tr>
                        <td class="button-icon mdi mdi-play xl"></td>
                        <td class="button-text">Iniciar</td>
                    </tr>
                </table>
            </button>

            <!-- Force to reset table -->

            <button *ngIf="loginService.user.id_role === 'ADMIN_ROLE'" mat-raised-button color="active"
                class="action-button" (click)="resetTable(table)" [disabled]="table.tx_status === 'paused'">
                <table>
                    <tr>
                        <td class="button-icon mdi mdi-restart xl"></td>
                        <td class="button-text">Reset</td>
                    </tr>
                </table>
            </button>


            <!-- release ticket -->
            <button mat-raised-button color="primary" class="action-button"
                (click)="releaseTicket(table.id_session?.id_ticket)" [disabled]="!table.id_session">
                <table>
                    <tr>
                        <td class="button-icon mdi mdi-history xl"></td>
                        <td class="button-text">Soltar</td>
                    </tr>
                </table>
            </button>

            <!-- end ticket -->
            <button mat-raised-button color="warn" class="action-button"
                (click)="endTicket(table.id_session?.id_ticket)" [disabled]="!table.id_session">
                <table>
                    <tr>
                        <td class="button-icon mdi mdi-close xl"></td>
                        <td class="button-text">Finalizar</td>
                    </tr>
                </table>
            </button>

            <!-- ticket info -->
            <button mat-raised-button color="telegram" class="action-button"
                (click)="openSheetTicketInfo(table.id_session?.id_ticket)">
                <table>
                    <tr>
                        <td class="button-icon mdi mdi-information-outline xl"></td>
                        <td class="button-text">Ticket</td>
                    </tr>
                </table>
            </button>

        </div>
    </div>
</ng-template>