.row:hover {
    background-color: orangered;
}


tr.detail-row {
    height: 0;
}

tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

td.mdi {
    background-color: rgba(0, 0, 0, .3);
    border-radius   : 3px 0 0 3px;
}

.element-row td {
    border-bottom-width: 0;
}



/* MESAS  */

.ticket-container {
    overflow : hidden;
    display  : flex;
    flex-flow: wrap;
}

.ticket-status {
    width  : 100%;
    padding: 1.5em;
}

.ticket-actions {
    /* justify-content: space-between; */
    justify-content: center;
    width          : 100%;
    display        : flex;
    flex-flow      : wrap;
}

.action-button {
    width  : 92px;
    padding: 0px;
}

button div.mdi {
    opacity: 0.6;
}


.tables-row:hover {
    background-color: rgba(0, 255, 0, 0.15);
    cursor          : pointer;
}

.td-text {
    width: 100%;
}