<div class="saturno-card animated fadeIn">
    <mat-horizontal-stepper style="text-align: left;" labelPosition="bottom" linear #stepper>

        <!-- Welcome Step -->
        <mat-step state="star">
            <mat-card>
                <mat-card-content>
                    <div class="saturno-minicard-text">
                        <h4>Hola {{ loginService?.user.tx_name }}!</h4>

                        <p>
                            Este pequeño asistente te ayuda a crear todo lo necesario para comenzar a atender las
                            solicitudes de mesa de tus clientes.
                        </p>
                        <p>
                            No te llevará mas de un minuto y desde acá podés hacer todo.
                        </p>
                        <hr>
                        <div class="w-100 text-center">
                            <button mat-raised-button matStepperNext color="accent">
                                Comenzar!</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-step>

        <!-- Companies Step -->
        <mat-step [completed]="adminService.companies?.length > 0 && loginService.user?.id_company?._id" state="store">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <span class="mdi mdi-store-outline mr-2"></span>Crear BAR / Resto
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <!-- no companies, no attached company -->
                    <div *ngIf="adminService.companies?.length === 0">
                        <div class="saturno-minicard-text">
                            <p>
                                Si no tenés ningún bar o restorant registrado desde acá tenés que registrar al menos
                                uno.
                            </p>

                            <p>
                                Es importante que ingreses la dirección exacta de tu comercio. Esta dirección será
                                visible
                                para
                                tus clientes desde el menú público de turnos y les asegura que están obteniendo un turno
                                en
                                el bar /
                                restorant correcto.
                            </p>
                        </div>
                    </div>
                    <!-- companies and attached company -->
                    <div *ngIf="adminService.companies?.length > 0 && loginService.user?.id_company?._id">
                        <div class="saturno-minicard-text">
                            <p>
                                Podés seguir adelante con el asistente.
                            </p>
                            <p class="card-text card-text">
                                Recordá que podés crear mas comercios si disponés de sucursales y luego podés cambiar de
                                comercio
                                seleccionandolo
                                desde el menu principal <span class="mdi mdi-menu"></span>
                            </p>
                        </div>
                    </div>
                    <app-companies [nomargin]="true" [nopadding]="true"></app-companies>
                </mat-card-content>

                <mat-card-actions class="text-right">
                    <!-- previous / next -->
                    <button mat-button (click)="stepperGoBack(stepper)">
                        <span class="mdi mdi-chevron-left-box-outline"></span>
                        ATRAS
                    </button>
                    <button *ngIf="adminService.companies && loginService.user?.id_company?._id" mat-button
                        (click)="stepperGoNext(stepper)">
                        SIGUIENTE
                        <span class="mdi mdi-chevron-right-box-outline"></span>
                    </button>
                    <button *ngIf="!adminService.companies || !loginService.user?.id_company" mat-button disabled>
                        SIGUIENTE
                        <span class="mdi  mdi-chevron-right-box-outline"></span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-step>

        <!-- Sections Step -->
        <mat-step [completed]="adminService.sections?.length > 0" state="important_devices">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <span class="mdi mdi-select-group mr-2"></span>Sectores
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <div class="saturno-minicard-text">
                        <p>
                            Desde acá podes crear los diferentes sectores o áreas que componen tu bar o resto. Tus
                            clientes podrán elegir uno de estos sectores al momento de solicitar una mesa, y los
                            camareros podran entrar a ellos para atender las mesas dentro de ese sector.
                        </p>
                        <p>
                            Por ejemplo: "Terraza", "Patio", "Fumadores", "Primer Piso", "Segundo Piso" etc.
                        </p>
                    </div>
                    <app-sections [nomargin]="true" [nopadding]="true"></app-sections>
                </mat-card-content>

                <mat-card-actions class="text-right">
                    <!-- previous / next -->
                    <button mat-button (click)="stepperGoBack(stepper)">
                        <span class="mdi mdi-chevron-left-box-outline"></span>
                        ATRAS
                    </button>
                    <button *ngIf="adminService.sections?.length > 0" mat-button (click)="stepperGoNext(stepper)">
                        SIGUIENTE
                        <span class="mdi mdi-chevron-right-box-outline"></span>
                    </button>
                    <button *ngIf="adminService.sections?.length === 0" mat-button disabled>
                        SIGUIENTE
                        <span class="mdi  mdi-chevron-right-box-outline"></span>
                    </button>

                </mat-card-actions>

            </mat-card>
        </mat-step>

        <!-- Tables Step -->
        <mat-step [completed]="adminService.tables?.length > 0" state="important_devices">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <span class="mdi mdi-table-furniture mr-2"></span>Mesas
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <div class="saturno-minicard-text">
                        <p>
                            Acá tenés que dar de alta todas las mesas para cada sector. Sólo tenés que ingresar el
                            número de
                            mesa y
                            la
                            cantidad máxima de personas que pueden sentarse en ellas.
                        </p>
                    </div>
                </mat-card-content>

                <app-tables [nomargin]="true" [nopadding]="true"></app-tables>

                <mat-card-actions class="text-right">
                    <!-- previous / next -->
                    <button mat-button (click)="stepperGoBack(stepper)">
                        <span class="mdi mdi-chevron-left-box-outline"></span>
                        ATRAS
                    </button>
                    <button *ngIf="adminService.tables?.length > 0" mat-button (click)="stepperGoNext(stepper)">
                        SIGUIENTE
                        <span class="mdi mdi-chevron-right-box-outline"></span>
                    </button>
                    <button *ngIf="adminService.tables?.length === 0" mat-button disabled>
                        SIGUIENTE
                        <span class="mdi  mdi-chevron-right-box-outline"></span>
                    </button>
                </mat-card-actions>

            </mat-card>
        </mat-step>

        <!-- Poll Step -->
        <mat-step state="important_devices">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <span class="mdi mdi-poll-box mr-2"></span>Encuesta
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <div class="saturno-minicard-text">
                        <p>
                            Acá podés dar de alta algunas preguntas que tu cliente puede responder para calificar
                            de 1 a 5 estrellas. Esta encuesta le aparece al finalizar la sesión de su mesa. Podes
                            crear una encuesta distinta para cada sector.
                        </p>
                        <p>
                            Por ejemplo podría calificar items como "Atención", "Comida", "Limpieza", etc.
                        </p>
                    </div>

                    <app-poll [nomargin]="true" [nopadding]="true"></app-poll>
                </mat-card-content>

                <mat-card-actions class="text-right">
                    <!-- previous / next -->
                    <button mat-button (click)="stepperGoBack(stepper)">
                        <span class="mdi mdi-chevron-left-box-outline"></span>
                        ATRAS
                    </button>
                    <button mat-button (click)="stepperGoNext(stepper)">
                        SIGUIENTE
                        <span class="mdi mdi-chevron-right-box-outline"></span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-step>

        <!-- Waiters Step -->
        <mat-step state="face">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <span class="mdi mdi-account-tie mr-2"></span>Camareros
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <div class="saturno-minicard-text">
                        <p>
                            Si no necesitas mas usuarios que tu propio usuario para atender turnos podés
                            omitir este paso y continuar.
                        </p>
                    </div>

                    <app-waiters [nomargin]="true" [nopadding]="true"></app-waiters>
                </mat-card-content>

                <mat-card-actions class="text-right">
                    <!-- previous / next -->
                    <button mat-button (click)="stepperGoBack(stepper)">
                        <span class="mdi mdi-chevron-left-box-outline"></span>
                        ATRAS
                    </button>
                    <button mat-button (click)="endWizard()">
                        FINALIZAR
                        <span class="mdi mdi-check-box-outline"></span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-step>

    </mat-horizontal-stepper>
</div>