<div class="page-container animated fadeIn">
    <mat-horizontal-stepper style="text-align: left;" labelPosition="bottom" linear #stepper>

        <ng-template matStepperIcon="phone">
            <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="chat">
            <mat-icon>forum</mat-icon>
        </ng-template>

        <!-- Welcome -->
        <mat-step>

            <mat-card>
                <mat-card-content>
                    <div class="saturno-minicard-text">
                        <div class="xl text-accent mdi mdi-wizard-hat mr-3"> Asistente </div>
                        <p>
                            Este pequeño asistente te ayuda a crear todo lo necesario para comenzar a gestionar
                            tus mesas y ateneder a tus clientes.
                        </p>
                        <p>
                            Los pasos opcionales podes saltearlos y completarlos mas adelante.
                        </p>
                        <hr>
                        <div class="w-100 text-center">
                            <button mat-raised-button matStepperNext color="primary" class="action-button fix-width">
                                <table>
                                    <tr>
                                        <td class="button-icon mdi mdi-send lg"></td>
                                        <td class="button-text">
                                            Comenzar!
                                        </td>
                                    </tr>
                                </table>
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-step>

        <!-- Companies -->
        <mat-step [completed]="adminService.companies?.length > 0 && loginService.user?.id_company?._id">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="step-header mdi xxxl mdi-store-outline"></div>
                    <mat-card-title>
                        Comercios
                    </mat-card-title>
                    <mat-card-subtitle class="step-header">
                        Al menos uno por cada usuario.
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <!-- no companies, no attached company -->
                    <div *ngIf="adminService.companies?.length === 0">
                        <div class="saturno-minicard-text">
                            <p>
                                Acá podes registrar uno o mas comercios.
                            </p>

                            <p>
                                Es importante que ingreses la dirección exacta de tu comercio ya que será
                                visible para tus clientes.
                            </p>
                        </div>
                    </div>
                    <!-- companies and attached company -->
                    <div *ngIf="adminService.companies?.length > 0 && loginService.user?.id_company?._id">
                        <div class="saturno-minicard-text">
                            <p>
                                Podés seguir adelante con el asistente ó crear mas comercios.
                            </p>
                            <p>
                                Para administrar un comercio, si tenés más de uno, tenés que seleccionarlo primero desde
                                el menu principal <span class="md align-top mdi mdi-menu"></span>
                            </p>
                        </div>
                    </div>
                    <app-companies [nomargin]="true" [nopadding]="true"></app-companies>
                </mat-card-content>

                <mat-card-actions class="text-right">
                    <!-- previous / next -->
                    <button mat-button (click)="stepperGoBack(stepper)">
                        <span class="md align-top mdi mdi-chevron-double-left text-info"></span>
                        ATRAS
                    </button>
                    <button *ngIf="adminService.companies && loginService.user?.id_company?._id" mat-button
                        (click)="stepperGoNext(stepper)">
                        SIGUIENTE
                        <span class="md align-top mdi mdi-chevron-double-right text-success"></span>
                    </button>
                    <button *ngIf="!adminService.companies || !loginService.user?.id_company" mat-button disabled>
                        SIGUIENTE
                        <span class="md align-top mdi mdi-chevron-double-right text-success"></span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-step>

        <!-- Sections -->
        <mat-step [completed]="adminService.sections?.length > 0">

            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="step-header mdi xxxl mdi-select-group"></div>
                    <mat-card-title>
                        Sectores
                    </mat-card-title>
                    <mat-card-subtitle class="step-header">
                        Al menos uno por cada comercio.
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="saturno-minicard-text">
                        <p>
                            Desde acá tenés que crear los diferentes sectores o áreas que componen tu comercio.
                        </p>
                        <p>
                            Por ejemplo: "Terraza", "Patio", "Fumadores", "Primer Piso", "Segundo Piso" etc.
                        </p>
                    </div>
                    <app-sections [nomargin]="true" [nopadding]="true"></app-sections>
                </mat-card-content>

                <mat-card-actions class="text-right">
                    <!-- previous / next -->
                    <button mat-button (click)="stepperGoBack(stepper)">
                        <span class="md align-top mdi mdi-chevron-double-left text-info"></span>
                        ATRAS
                    </button>
                    <button *ngIf="adminService.sections?.length > 0" mat-button (click)="stepperGoNext(stepper)">
                        SIGUIENTE
                        <span class="md align-top mdi mdi-chevron-double-right text-success"></span>
                    </button>
                    <button *ngIf="adminService.sections?.length === 0" mat-button disabled>
                        SIGUIENTE
                        <span class="md align-top mdi mdi-chevron-double-right text-success"></span>
                    </button>

                </mat-card-actions>

            </mat-card>
        </mat-step>

        <!-- Tables -->
        <mat-step [completed]="adminService.tables?.length > 0">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="step-header mdi xxxl mdi-table-furniture"></div>
                    <mat-card-title>
                        Mesas
                    </mat-card-title>
                    <mat-card-subtitle class="step-header">
                        Al menos una por cada sector.
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="saturno-minicard-text">
                        <p>
                            Acá tenés que registrar las mesas de cada sector. Sólo tenés que ingresar el
                            número de mesa y la capacidad máxima de personas que pueden ocuparla.
                        </p>
                    </div>
                </mat-card-content>

                <app-tables [nomargin]="true" [nopadding]="true"></app-tables>

                <mat-card-actions class="text-right">
                    <!-- previous / next -->
                    <button mat-button (click)="stepperGoBack(stepper)">
                        <span class="md align-top mdi mdi-chevron-double-left text-info"></span>
                        ATRAS
                    </button>
                    <button *ngIf="adminService.tables?.length > 0" mat-button (click)="stepperGoNext(stepper)">
                        SIGUIENTE
                        <span class="md align-top mdi mdi-chevron-double-right text-success"></span>
                    </button>
                    <button *ngIf="adminService.tables?.length === 0" mat-button disabled>
                        SIGUIENTE
                        <span class="md align-top mdi mdi-chevron-double-right text-success"></span>
                    </button>
                </mat-card-actions>

            </mat-card>
        </mat-step>

        <!-- Waiters -->
        <mat-step>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="step-header mdi xxxl mdi-account-tie"></div>
                    <mat-card-title>
                        Camareros/as
                    </mat-card-title>
                    <mat-card-subtitle class="step-header">
                        Opcional
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <div class="saturno-minicard-text">
                        <p>
                            Acá podés registrar a tus camareros/as. Para entrar a sus cuentas, los mismos, tienen que
                            ingresar
                            desde la pestaña de 'Soy Camarero/a' en la página de Login de usuario.
                        </p>
                    </div>

                    <app-waiters [nomargin]="true" [nopadding]="true"></app-waiters>
                </mat-card-content>

                <mat-card-actions class="text-right">
                    <!-- previous / next -->
                    <button mat-button (click)="stepperGoBack(stepper)">
                        <span class="md align-top mdi mdi-chevron-double-left text-info"></span>
                        ATRAS
                    </button>
                    <button mat-button (click)="stepperGoNext(stepper)">
                        SIGUIENTE
                        <span class="md align-top mdi mdi-chevron-double-right text-success"></span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-step>

        <!-- Poll -->
        <mat-step>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="step-header mdi xxxl mdi-poll-box"></div>
                    <mat-card-title>
                        Encuestas
                    </mat-card-title>
                    <mat-card-subtitle class="step-header">
                        Opcional
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <div class="saturno-minicard-text">
                        <p>
                            Acá podés dar de alta items que tus clientes pueden calificar
                            de 1 a 5 estrellas.
                        </p>
                        <p>
                            Estos Items tienen que ser palabras o frases cortas. 
                            Por ejemplo "Atención", "Comida", "Limpieza", etc.
                        </p>
                    </div>

                    <app-poll [nomargin]="true" [nopadding]="true"></app-poll>
                </mat-card-content>

                <mat-card-actions class="text-right">
                    <!-- previous / next -->
                    <button mat-button (click)="stepperGoBack(stepper)">
                        <span class="md align-top mdi mdi-chevron-double-left text-info"></span>
                        ATRAS
                    </button>
                    <button mat-button (click)="stepperGoNext(stepper)">
                        SIGUIENTE
                        <span class="md align-top mdi mdi-chevron-double-right text-success"></span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-step>

        <!-- Webpage -->
        <mat-step>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="step-header mdi xxxl mdi-web-box"></div>
                    <mat-card-title>
                        Web Page
                    </mat-card-title>
                    <mat-card-subtitle class="step-header">
                        Opcional
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="saturno-minicard-text">
                        <p>
                            Acá tenés que subir una serie de datos de tu comercio que se van a mostrar
                            en la página web de recepción a tus clientes.
                        </p>
                    </div>
                    <app-webpage [nomargin]="true" [nopadding]="true"></app-webpage>
                </mat-card-content>

                <mat-card-actions class="text-right">
                    <!-- previous / next -->
                    <button mat-button (click)="stepperGoBack(stepper)">
                        <span class="md align-top mdi mdi-chevron-double-left text-info"></span>
                        ATRAS
                    </button>
                    <button mat-button (click)="endWizard()">
                        FINALIZAR
                        <span class="mdi align-top mdi-check text-success"></span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-step>


    </mat-horizontal-stepper>
</div>