<div class="toolbar-wrapper">

    <div class="toolbar-first-row">

        <!-- TOGGLE MENU ICON -->
        <div class="mdi mdi-menu mt-1 xl pointer" *ngIf="loginService.user" (click)="toggle('sidenav')">

        </div>

        <!-- COMPANY NAME -->
        <div class="company-name md ml-2">
            <!-- <div class="marquee"> -->
            {{loginService.user?.id_company?.tx_company_name || loginService.user?.tx_name}}
            <!-- </div> -->
        </div>

        <!-- USER LOGGED IN -->
        <div class="d-flex md">

            <!-- GOOGLE LOGIN IMAGE -->
            <div *ngIf="loginService.user.bl_social && loginService.user.tx_img">
                <img class="toolbar-user-image" [src]="loginService.user.tx_img" [matMenuTriggerFor]="menu">
            </div>

            <!-- FACEBOOK HAS NO LOGIN IMAGE -->
            <div *ngIf="loginService.user.bl_social && !loginService.user.tx_img" class="mdi mdi-account-tie pointer"
                [matMenuTriggerFor]="menu">
            </div>

            <!-- NORMAL LOGIN WITH IMAGE -->
            <div *ngIf="!loginService.user.bl_social && loginService.user.tx_img" class="pointer"
                [matMenuTriggerFor]="menu">
                <img class="toolbar-user-image"
                    [src]="loginService.user.tx_img | imagenPipe : 'tx_img' : loginService.user._id">
            </div>

            <!-- NORMAL LOGIN WO IMAGE -->
            <div *ngIf="!loginService.user.bl_social && !loginService.user.tx_img" class="mdi mdi-account-tie pointer"
                [matMenuTriggerFor]="menu">
            </div>

            <mat-menu #menu="matMenu">
                <div routerLink="/waiter/home" mat-menu-item>
                    <span class="lg toolbar-menu-icon mdi mdi-account-tie-outline mx-1"></span>
                    <span class="ml-2 align-middle">Atender mis Mesas</span>
                </div>
                <div routerLink="/waiter/profile" mat-menu-item>
                    <span class="lg toolbar-menu-icon mdi mdi-account-circle mx-1"></span>
                    <span class="ml-2 align-middle">Perfil</span>
                </div>
                <div routerLink="/waiter/profile" mat-menu-item>
                    <span disabled class="lg toolbar-menu-icon mdi mdi-email mx-1"></span>
                    <span class="ml-2 align-middle">{{loginService.user?.tx_email}}</span>
                </div>
                <hr>
                <div class="px-2 pb-2 text-center">
                    <app-button></app-button>
                </div>
            </mat-menu>

        </div>

    </div>

    <div class="toolbar-second-row">

        <div class="toolbar-item" routerLink="/waiter/home">
            Inicio
        </div>

    </div>

</div>