<div class="saturno-card m-3 animated fadeIn">
  <div *ngIf="publicService.company">

    <h5 *ngIf="loading">
      <span id="lblNuevoTicket">
        Cargando...
      </span>
    </h5>

    <div *ngIf="!loading">

      <mat-card>

        <mat-card-header>
          <div mat-card-avatar><img class="img-fluid"
              [src]="publicService.company.tx_company_logo | imagenPipe : 'logo' : publicService.company._id"></div>
          <mat-card-title>{{ publicService.company.tx_company_name }}</mat-card-title>
          <mat-card-subtitle>{{ publicService.company.tx_address_street }}
            {{ publicService.company.tx_address_number }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

          <form autocomplete="off" ngNativeValidate #formDirective="ngForm" [formGroup]="ticketForm">

            <mat-form-field class="w-100">
              <mat-label>Cantidad de Personas</mat-label>
              <input matInput placeholder="Cantidad de Personas" formControlName="nmPersons" name="nmPersons"
                type="number" min="1" required>
            </mat-form-field>

            <mat-form-field class="w-100">
              <mat-label>Sector</mat-label>
              <mat-select formControlName="idSection" name="idSection" required>
                <mat-option *ngFor="let section of sections" [value]="section._id"> {{ section.tx_section }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div class="row mx-0">
              <button color="warn" mat-raised-button class="col mr-1 my-2" (click)="salir()">
                Salir
              </button>
              <button color="primary" mat-raised-button class="col ml-1 my-2" (click)="createTicket()">
                Reservar
              </button>
            </div>

          </form>
        </mat-card-content>

      </mat-card>
    </div>



  </div>

</div>