.saturno-bg-primary .logo-img {
    background-image   : url('../../../assets/img/saturn.svg');
    background-size    : contain;
    background-repeat  : no-repeat;
    background-position: center center;
    height: 8em;
    width: 8em;
    opacity: .2;
    position: absolute;
    right: 119px;
    top: 26px;

}


.welcome-card {
    background-color: rgba(255, 255, 255, .9);
}

.saturno-bg-home {
    background-image     : url('../../../assets/img/bghome.jpg');
    background-size      : cover;
    background-repeat    : no-repeat;
    background-position  : center center;
    background-blend-mode: lighten;
    padding              : 1em;
    text-align           : center;
}


.saturno-beer-card {
    background-image: url('../../../assets/img/beer.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height     : 7em;

}
.saturno-map {
    padding: 40px;
}

.location-input {
    margin-top: 2em;
    width     : 80%;
}

.home-bienvenido {
    color    : darkorange;
    font-size: xx-large;
}

.icon-home-phone {
    font-size      : 3em;
    justify-content: center;
    vertical-align : baseline;
}

.icon-home-beer {
    color          : darkorange;
    font-size      : 7em;
    justify-content: center;
    line-height    : 1em;
}


/* footer */


a {
    color: inherit;
}

a:hover {
    color          : inherit;
    text-decoration: none;
}

.copyright {
    font-size  : small;
    font-weight: 200;
    font-family: system-ui;
    opacity    : .7;
}