@media (max-width: 575px) {

    .welcome-wrapper {
        width: 100% !important;
    }

    .header-menu {
        place-content: center !important;
    }
    
    .header-menu-item {
        justify-content: center;
        flex-direction: column;
        font-size: .9em;
    }

    .header-menu-item .mdi {
        margin-right: 0px !important;
        font-size: xx-large;
        opacity: .5;
    }

    .welcome-container {
        padding: 10px 20px;
    }

    .welcome-title {
        font-size: 3em !important;
        margin-top: 0px !important;
        letter-spacing: .1em;

    }
    
    .welcome-subtitle {
        font-size: 1em !important;
        margin-top: 5px !important;
        letter-spacing: .1em;
    }

    .banner-container-col-left {
        width        : 100% !important;
        padding-right: 0px !important;
    }

    .banner-container-col-right {
        width       : 100% !important;
        padding-left: 0px !important;
    }

    .banner-container-col {
        width: 100% !important;
    }

    .banner {
        border: 10px solid white;
    }

    .banner-title {
        font-size: large;
    }

    .banner-text {
        font-size  : large;
        font-weight: 300;

    }

}

mat-card {
    box-shadow: unset !important;
}

.home-bg {
    background-image   : url('../../../assets/img/resto.jpg');
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center center;
    height             : 500px;
}

.header-menu {
    display            : flex;
    padding            : 10px;
    padding-right      : 20px;
    place-content      : flex-end;
    /* background-color: rgba(0, 0, 0, .9); */
}

.header-menu-item {
    display  : flex;
    flex-wrap: wrap;
}

.header-menu-item .mdi {
    margin-right: 6px;
}
.welcome-wrapper {
    color                 : whitesmoke;
    height                : 50%;
    font-family           : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color      : var(--primary);
    opacity               : .95;
    /* width              : 100%; */
    /* height             : 300px; */
    /* background-image   : linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .8), rgba(0, 0, 0, .6), rgba(0, 0, 0, 0)); */
    /* text-shadow        : -1px 0 rgba(0, 0, 0, .3), 0px 1px rgba(0, 0, 0, .3), 0px -1px rgba(0, 0, 0, .3), 1px 0 rgba(0, 0, 0, .3); */
}

.welcome-title {
    margin-top : 50px;
    font-size  : 4em;
    font-weight: 200;
}

.welcome-subtitle {
    font-size: 1.5em;
}

.company-input-wrapper {
    width        : 70%;
    place-content: center;
    height       : 50%;
    position     : relative;
    top          : 18%;
}


/*--------------------------------*/
/* banners */
/*--------------------------------*/

.banner-container {
    font-family          : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color     : white;
    color                : #575757;
    display              : flex;
    flex-direction       : row;
    flex-wrap            : wrap;
    padding-bottom       : 20px;
    -webkit-touch-callout: none;
    -webkit-user-select  : none;
    -khtml-user-select   : none;
    -moz-user-select     : none;
    -ms-user-select      : none;
    user-select          : none;
}

.banner-container-col-left {
    padding-left  : 0px;
    padding-right : 10px;
    display       : flex;
    flex-direction: column;
    flex-wrap     : wrap;
    width         : 50%;
}

.banner-container-col-right {
    padding-right : 0px;
    padding-left  : 10px;
    display       : flex;
    flex-direction: column;
    flex-wrap     : wrap;
    width         : 50%;
}

.banner {
    margin-top: 20px;
    padding   : 15px;
}



/* LEFT BANNERS */
.banner-container-map {
    background-color: var(--primary);
    border-radius   : 0 10px 10px 0;

}

.banner-img-map {
    position           : relative;
    margin-top         : -68px;
    display            : block;
    text-indent        : -9999px;
    height             : 28em;
    background-position: center;
    background-image   : url('../../../assets/img/screenshots/public_map.png');
    background-size    : contain;
    background-repeat  : no-repeat;
}

.banner-container-tickets {
    background-color: #f9f9f9;
    overflow        : hidden;
    border-radius   : 0 10px 10px 0;
}

.banner-img-tickets {
    position           : relative;
    margin-bottom      : -140px;
    display            : block;
    text-indent        : -9999px;
    height             : 28em;
    background-position: center;
    background-image   : url('../../../assets/img/screenshots/public_tickets.png');
    background-size    : contain;
    background-repeat  : no-repeat;
}

.banner-container-myticket {
    background-color: #f9f9f9;
    border-radius   : 0 10px 10px 0;
}

.banner-icon-myticket {
    font-size: 7em;
    opacity  : .3;
    color    : var(--primary)
}

/* RIGHT BANNERS */

.banner-container-telegram {
    background-color: #ecf7ff;
    border-radius   : 10px 0 0 10px;
}

.banner-img-telegram {
    display          : block;
    text-indent      : -9999px;
    height           : 10em;
    background       : center;
    background-image : url('../../../assets/img/svg/telegram.svg');
    background-size  : contain;
    background-repeat: no-repeat;
}

.banner-container-createticket {
    background-color: #6b926c;
    overflow        : hidden;
    border-radius   : 10px 0 0 10px;
}

.banner-img-createticket {
    position           : relative;
    margin-top         : -210px;
    display            : block;
    text-indent        : -9999px;
    height             : 28em;
    background-position: center;
    background-image   : url('../../../assets/img/screenshots/public_createticket.png');
    background-size    : contain;
    background-repeat  : no-repeat;
}

.banner-container-scores {
    background-color: #f47f56;
    padding-top     : 0px;
    overflow        : hidden;
    border-radius   : 10px 0 0 10px;
}

.banner-img-scores {
    position           : relative;
    margin-bottom      : -150px;
    display            : block;
    text-indent        : -9999px;
    height             : 28em;
    background-position: center;
    background-image   : url('../../../assets/img/screenshots/public_scores.png');
    background-size    : contain;
    background-repeat  : no-repeat;
}





/*--------------------------------*/
/* map */
/*--------------------------------*/

.home-map {
    padding: 0px;
    height : 500px;
}

.location-input-wrapper {
    display: flex;
    height : 0px;
}

.icon-magnify-wrapper {
    width: 0px;
}

.icon-magnify {
    position     : relative;
    top          : 16px;
    left         : 44px;
    color        : #9E9E9E;
    font-size    : 1.5em;
    padding-right: 8px;
    z-index      : 2;
    margin-left  : -25px;
    border-right : 1px solid #e1e1e1;
}

.input-location {
    border       : none;
    border-radius: 2px;
    box-shadow   : 0px 0px 2px 2px rgba(0, 0, 0, .2);
    padding      : .2em;
    padding-left : 58px;
    color        : gray;
    line-height  : 3em;
    height       : 3em;
    width        : 40%;
    position     : relative;
    margin       : 10px;
    z-index      : 1;

}

@media (max-width: 650px) {
    .input-location {
        width: 100% !important;
    }
}