<!-- ======================================================== -->
<!-- HOME -->
<!-- ======================================================== -->

<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <div class="animated fadeIn home-bg">

      <div class="home-welcome">
        <div class="header-base">
          <div class="pointer" (click)="scrollToElement(map)">
            <span class="mdi mdi-map-marker"></span>
            <span>
              Buscá por Zona
            </span>
          </div>
        </div>
        <div class="xxxl mt-4">
          Volvé a Salir
        </div>
        <div class="xl my-2 pb-4">
          Encontrá tu lugar sin colas ni congestiones.
        </div>
      </div>

      <div class="company-input-wrapper">
        <app-search></app-search>
      </div>

    </div>

  </mat-step>
</mat-horizontal-stepper>

<!-- ======================================================== -->
<!-- BANNERS -->
<!-- ======================================================== -->

<div class="animated fadeIn banner-container">

  <div class="banner-container-col-left">

    <!-- BANNER LEFT 1: TELEGRAM -->
    <div class="banner banner-left-1">
      <div class="m-5">
        <div class="banner-title m-2 mb-4">
          INTEGRACION CON TELEGRAM
        </div>
        <div class="banner-text">
          Si usas esta plataforma podés gestionar tus tickets directamente a través de Telegram sin necesidad de entrar
          en la App.
        </div>
      </div>
      <div class="banner-image banner-telegram my-5">
      </div>
    </div>


    <!-- BANNER LEFT 2: MESAS -->
    <div class="banner banner-left-2">
      <div class="m-5 text-white">
        <div class="banner-title text-white m-2 mb-4">
          GESTION DE MESAS
        </div>
        <div class="banner-text">
          Los camareros/as pueden gestionar mesas pedidos y solicitudes de asistencia directamente desde un celular.
        </div>
      </div>
      <div class="banner-image banner-tables my-5">
      </div>
    </div>



  </div>

  <!-- BANNER RIGHT 1: COLA VIRTUAL -->
  <div class="banner-container-col-right">
    <!-- registrar contacto -->
    <div class="banner banner-right-1">
      <div class="banner-image banner-virtual-queue">
      </div>
      <div class="m-5 text-white">
        <div class="banner-title text-white m-2 mb-4">
          COLA VIRTUAL
        </div>
        <div class="banner-text">
          Cuando tu bar esta lleno también podes administrar a los clientes que esperan una mesa.
        </div>
      </div>
    </div>

    <!-- BANNER RIGHT 2: AGENDA -->
    <div class="banner banner-right-2">
      <div>
        <span class="mdi mdi-calendar-account xml op2"></span>
      </div>
      <div class="m-5">
        <div class="banner-title m-2 mb-4">
          AGENDA
        </div>
        <div class="banner-text">
          Tus clientes pueden elegir una mesa y reservarla. El sistema automáticamente administra las
          mesas y los tickets agendados.
        </div>
      </div>
    </div>

    <!-- BANNER RIGHT 3: COMO FUNCIONA? -->
    <div class="banner banner-right-3 pointer" routerLink="/howworks">
      <div>
        <span class="mdi mdi-cogs xml op2"></span>
      </div>
      <div class="m-5">
        <div class="banner-title m-2 mb-4">
          COMO FUNCIONA?
        </div>
        <div class="banner-text">
          Vistitá esta breve guía para saber que es y cómo funciona el sistema Saturno.
        </div>
      </div>
    </div>


  </div>

</div>


<!-- ======================================================== -->
<!-- MAPA -->
<!-- ======================================================== -->

<!-- $event.option.value va a tomar el valor definido en [value], debe ir siempre el objeto seleccionado en este caso "option" -->
<div #map>

  <div class="location-input-wrapper">
    <div class="icon-magnify-wrapper" (click)="cleanInput(inputFindLocation)">
      <i class="mdi mdi-magnify icon-magnify"></i>
    </div>
    <input #inputFindLocation maxlength="30" class="input-location" type="text" [formControl]="localidadesControl"
      [matAutocomplete]="auto" placeholder="Buscar por ciudad o barrio" (click)="cleanInput(inputFindLocation)" />
  </div>

  <mat-autocomplete iniciocss #auto="matAutocomplete" [displayWith]="setLocalidad.bind(this)">
    <mat-option [value]="option" *ngFor="let option of localidades">
      {{ option.properties.nombre | capitalizarPipe }},
      {{ option.properties.departamento.nombre }},
      {{ option.properties.provincia.nombre }}
    </mat-option>
  </mat-autocomplete>

  <div class="home-map">
    <app-map [(companies)]="companies" [(center)]="centerMap"> </app-map>
  </div>

</div>

<app-footer></app-footer>