<!-- ======================================================== -->
<!-- TOOLBAR -->
<!-- ======================================================== -->

<app-toolbar></app-toolbar>

<div class="toolbar-spacer">

  <!-- ======================================================== -->
  <!-- WELCOME -->
  <!-- ======================================================== -->

  <div class="welcome-bg">
    <div id="header" #header class="welcome-wrapper">
      <div class="welcome-title">
        Sistema Automático <span class="de">de</span> Reservas Online
      </div>
      <div class="welcome-subtitle">
        Volvé a salir evitando demoras y congestiones
      </div>
    </div>

    <div class="search-wrapper">
      <app-search></app-search>
    </div>
  </div>

  <!-- <svg width="100%" viewBox="0 0 400 70" xmlns="http://www.w3.org/2000/svg">
        <path d="M 0,0 L 0,0 0,50 C 70,70 130,70 200,50 S 330,30 400,50 L 400,50 400,0" fill="var(--primary-o75)" />
      </svg> -->


  <!-- ======================================================== -->
  <!-- BANNERS -->
  <!-- ======================================================== -->

  <div class="animated fadeIn banner-container">
    <div class="banner-container-col-left">
      <!-- BANNER RIGHT 1: FIND COMPANY -->
      <div class="banner banner-container-map">
        <div class="banner-image banner-img-map">
        </div>
        <div class="my-5 m-2 text-white">
          <div class="banner-title text-white m-2 mb-4">
            BUSCÁ UN BAR
          </div>
          <div class="banner-text">
            Busca un bar o restaurante por su nombre o por zona usando el mapa.
          </div>
        </div>
      </div>

      <!-- BANNER RIGHT 2: ADMINISTRÁ -->
      <div class="banner banner-container-tickets">
        <div class="my-5 m-2 text-white">
          <div class="banner-title text-white m-2 mb-4">
            ADMINISTRÁ TUS RESERVAS
          </div>
          <div class="banner-text">
            Administra todas tus reservas desde un sólo lugar.
          </div>
        </div>
        <div class="banner-image banner-img-tickets">
        </div>
      </div>

      <!-- BANNER LEFT 3: GESTIONÁ -->
      <div class="banner banner-container-myticket">
        <div class="my-5 text-white mx-2">
          <div class="banner-title text-white m-2 mb-4">
            COMUNICATE A TRAVÉS DE LA APLICACIÓN
          </div>
          <div class="banner-text">
            Podes pedir la carta o la cuenta y llamar al servicio de camareros/as a través de la app todo en tiempo
            real.
          </div>
        </div>
      </div>
    </div>


    <div class="banner-container-col-right">

      <!-- BANNER LEFT 1: RESERVÁ -->
      <div class="banner banner-container-createticket">

        <div class="my-5 m-2 text-white">
          <div class="banner-title text-white m-2 mb-4">
            RESERVÁ TU MESA
          </div>
          <div class="banner-text">
            Pedí una mesa para el momento y las personas que quieras. El sistema te ofrece las mesas disponibles a cada
            momento.
          </div>
        </div>
        <div class="banner-image banner-img-createticket">
        </div>
      </div>

      <!-- BANNER LEFT 2: TELEGRAM -->
      <div class="banner banner-container-ticketform">
        <div class="banner-image banner-img-ticketform">
        </div>
        <div class="my-5 m-2 text-white">
          <div class="banner-title m-2 mb-4">
            ¿YA TENÉS UNA PÁGINA WEB?
          </div>
          <div class="banner-text">
            Insertá nuestro formulario de reservas en tu página WEB y tus clientes van a poder gestionar reservas
            totalmente automáticas.
          </div>
        </div>

      </div>

      <!-- BANNER RIGHT 3: CALIFICÁ -->
      <div class="banner banner-container-scores">
        <div class="my-5 m-2 text-white">
          <div class="banner-title text-white m-2 mb-4">
            DEJÁ TU OPINIÓN
          </div>
          <div class="banner-text">
            Al finalizar podés recibir una breve encuesta de calidad donde podés
            calificar la atención y dejar tu opinión.
          </div>
        </div>
        <div class="banner-image banner-img-scores">
        </div>
      </div>
    </div>
  </div>

  <!-- ======================================================== -->
  <!-- MAPA -->
  <!-- ======================================================== -->

  <div #map id="home-map-container">

    <div class="location-input-wrapper">
      <div class="icon-magnify-wrapper" (click)="cleanInput(inputFindLocation)">
        <i class="mdi mdi-magnify icon-magnify"></i>
      </div>
      <input #inputFindLocation maxlength="30" class="input-location" type="text" [formControl]="localidadesControl"
        [matAutocomplete]="auto" placeholder="Buscar por ciudad o barrio" (click)="cleanInput(inputFindLocation)" />
    </div>

    <mat-autocomplete iniciocss #auto="matAutocomplete" [displayWith]="setLocalidad.bind(this)">
      <mat-option [value]="option" *ngFor="let option of localidades">
        {{ option.properties.nombre | capitalizarPipe }},
        {{ option.properties.departamento.nombre }},
        {{ option.properties.provincia.nombre }}
      </mat-option>
    </mat-autocomplete>

    <div class="home-map">
      <app-map [(companies)]="companies" [(center)]="centerMap" [initmap]="publicService.canAksPositionUser"> </app-map>
    </div>

  </div>

  <!-- ======================================================== -->
  <!-- FOOTER -->
  <!-- ======================================================== -->
  <app-footer></app-footer>

</div>