<!------------------------------>
<!-- SECTIONS -->
<!------------------------------>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="xl mdi mdi-select-group text-success"></span>
      <span class="sidenav-title-text mx-2">Sectores ({{waiterService.sections.length}})</span>
    </mat-panel-title>
  </mat-expansion-panel-header>


  <mat-radio-group [(ngModel)]="waiterService.sectionSelected">
  <table mat-table [dataSource]="waiterService.sections">

    <ng-container matColumnDef="sector">
      <th mat-header-cell *matHeaderCellDef class="text-left"> Sector </th>
      <td mat-cell *matCellDef="let element" class="text-left">
        <span> {{ element.tx_section }}</span>
        <span *ngIf="tablesDataBySection.get(element.tx_section).sectionselected"
                class="mdi mdi-check lg"></span>
      </td>
    </ng-container>
    <ng-container matColumnDef="disponibles">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Disp </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <span>{{ tablesDataBySection.get(element.tx_section).idle }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="pausadas">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Paus </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <span>{{ tablesDataBySection.get(element.tx_section).paused }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="ocupadas">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Ocup </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <span>{{ tablesDataBySection.get(element.tx_section).busy }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="requeridos">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Req </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <span>{{ ticketsDataBySection.get(element.tx_section).requested }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="encolados">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Cola </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <span class="ml-2">{{ ticketsDataBySection.get(element.tx_section).queued }}</span>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </mat-radio-group>

</mat-expansion-panel>