.icon-close {
    position  : relative;
    top       : 1px;
    right     : 27px;
    font-size : 14px;
    cursor    : pointer;
    width     : 25px;
    height    : 23px;
    text-align: center;
    padding   : 3px;
    color     : #9E9E9E;
    font-size : large;

}

.icon-magnify {
    position  : absolute;
    top       : 0px;
    left      : 4px;
    font-size : 14px;
    cursor    : pointer;
    width     : 25px;
    height    : 23px;
    text-align: center;
    padding   : 3px;
    color     : #9E9E9E;
    font-size : large;

}

.input-company {
    border       : none;
    border-radius: 2px;
    box-shadow   : 0px 1px 3px 0px rgba(100,100,100,.3);
    padding      : .2em;
    padding-left : 2em;
    font-size    : medium;
    color        : gray;
}