
.mat-card-title {
  font-size: xx-large;
  color    : #ff8b00;
}

@media (max-width: 400px) {
  .mat-card-title {
    font-size: x-large;
  }
}

.mat-card-subtitle {
  width    : 100%;
  font-size: large;
}

.mat-card-avatar {
  height: 100px;
  width : 100px;
}


/*---------------------------------------------------*/
/* my ticket score*/

.screen-icon-star {
  cursor   : pointer;
  color    : #5e5e5e;
  font-size: x-large;
}

.screen-icon-star-on {
  color: orange;
}


.screen-ticket-text-alert {
  opacity: 0.1;
}


