<!-- ======================================================== -->
<!-- TICKETS SCREEN -->
<!-- ======================================================== -->

<div class="page-container p-0">

    <mat-card *ngIf="ticket && company">

        <mat-card-content>

            <mat-card-header>
                <img mat-card-avatar class="header-avatar"
                    [src]="ticket.id_company.tx_company_logo | imagenPipe : 'tx_company_logo' : ticket.id_company._id">
                <mat-card-title>{{ticket.id_company.tx_company_name}}</mat-card-title>
                <mat-card-subtitle>{{ticket.id_company.tx_address_street}} {{ticket.id_company.tx_address_number}}
                </mat-card-subtitle>
            </mat-card-header>

            <hr>

            <!------------------------------>
            <!-- MESSAGE TO CUSTOMER  -->
            <!------------------------------>

            <div *ngIf="ticketTmEnd===null">

                <!------------------------------>
                <!-- NOT PROVIDED  -->
                <!------------------------------>
                <div *ngIf="!ticket.tm_provided">
                    <div class="lg text-accent" [ngClass]="{'screen-myticket-text-alert':showAlert}">
                        Turno {{ ticket?.id_position }}
                    </div>
                    <!-- no session yet -->
                    <div *ngIf="!ticket?.id_session">
                        Tiempo estimado: {{ averageToAtt}}
                    </div>
                </div>

                <!------------------------------>
                <!-- PROVIDED  -->
                <!------------------------------>
                <div *ngIf="ticket?.id_session && ticket?.tm_init === null">
                    <span *ngIf="ticket?.cd_tables.length === 1">
                        Pase a la mesa {{ticket?.cd_tables[0]}}
                    </span>
                    <span *ngIf="ticket?.cd_tables.length > 1">
                        Pase a las mesas
                        <span *ngFor="let table of ticket?.cd_tables; index as i">

                            <span *ngIf="i > 0 && i !== ticket.cd_tables.length-1"> , </span>
                            <span *ngIf="i === ticket.cd_tables.length-1"> y </span>
                            {{ table }}

                        </span>
                        <!-- table provided but not initialized yet -->
                    </span>
                    <span *ngIf="ticket?.tx_status==='provided' && ticket?.tm_init===null">
                        y espere que el camarero/a inicialice su mesa...
                    </span>
                </div>

                <!------------------------------>
                <!-- ACTION BUTTONS -->
                <!------------------------------>

                <div *ngIf="ticketTmEnd===null" class="screen-ticket-button-container my-4">

                    <div class="screen-ticket-button my-2">
                        <button mat-raised-button class="action-button" color="active"
                            [disabled]="ticket?.tx_call || !ticket?.tm_init" (click)="callWaiter('waiter')">
                            <table>
                                <tr>
                                    <td class="button-icon mdi mdi-silverware-fork-knife xl"></td>
                                    <td class="button-text">Servicio</td>
                                </tr>
                            </table>
                        </button>
                    </div>

                    <div class="screen-ticket-button my-2">
                        <button mat-raised-button class="action-button" color="primary"
                            [disabled]="ticket?.tx_call || !ticket?.tm_init" (click)="callWaiter('account')">
                            <table>
                                <tr>
                                    <td class="button-icon mdi mdi-file-document-edit-outline xl"></td>
                                    <td class="button-text">Cuenta</td>
                                </tr>
                            </table>
                        </button>
                    </div>


                    <div class="screen-ticket-button my-2">
                        <button mat-raised-button class="action-button" color="warn" [disabled]="ticket?.id_session"
                            (click)="endTicket()">
                            <table>
                                <tr>
                                    <td class="button-icon mdi mdi-power xl"></td>
                                    <td class="button-text">Finalizar</td>
                                </tr>
                            </table>
                        </button>
                    </div>

                </div>
            </div>

            <!------------------------------>
            <!-- FINALIZADO / ENCUESTA -->
            <!------------------------------>

            <div class="p-3 my-4" *ngIf="ticketTmEnd!==null">

                <div class="xl">¡Gracias por su visita!</div>

                <div *ngIf="scoreItems.length > 0">

                    <div class="md my-3">
                        ¿Podrías dejarnos tu opinión?
                    </div>

                    <table class="table m-0">
                        <tr *ngFor="let item of scoreItems">
                            <td class="lg text-accent py-2">
                                {{ item.tx_item }}
                            </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(item._id) >= 1}"
                                    (click)="setScore(item._id, 1)"></span>
                            </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(item._id) >= 2}"
                                    (click)="setScore(item._id, 2)"></span>
                            </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(item._id) >= 3}"
                                    (click)="setScore(item._id, 3)"></span>
                            </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(item._id) >= 4}"
                                    (click)="setScore(item._id, 4)"></span>
                            </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(item._id) >= 5}"
                                    (click)="setScore(item._id, 5)"></span>
                            </td>
                        </tr>
                    </table>
                </div>


            </div>

        </mat-card-content>

        <mat-card-actions>
            <button mat-button routerLink="/home">
                <span class="mdi mdi-home mr-1"></span>
                Volver al inicio
            </button>
            <button mat-button (click)="openBottomSheet()">
                <span class="mdi mdi-ticket mr-1"></span>
                Info del ticket
            </button>
        </mat-card-actions>
    </mat-card>
</div>