<div class="animated fadeIn text-center">
    <div *ngIf="loading">
        <app-spinner text="Sending email..."></app-spinner>
    </div>
    <div *ngIf="!loading">
        <mat-form-field color="accent" class="mt-4 w-100">
            <mat-label>Enviar un email a {{ticket.tx_email}}</mat-label>
            <input type="text" autocomplete="off" #textmsg matInput placeholder="Mensaje"
                (keydown.enter)="sendMessage( textmsg )">
        </mat-form-field>
    
        <button (click)="sendMessage( textmsg )" mat-button>
            Enviar
        </button>
    </div>
</div>