<div class="page-container animated fadeIn">
    <mat-card>

        <mat-card-header class="text-accent">

            <mat-card-title>
                <span *ngIf="data.table.blReserved">Editar Reserva</span>
                <span *ngIf="!data.table.blReserved">Crear Reserva</span>
            </mat-card-title>
            <mat-card-subtitle>
                <span *ngIf="data.table.blReserved">Ticket asignado a la mesa {{data.table.nmTable}} para el
                    {{data.availability.interval | dateToString : 'DD [de] MMMM [a las] HH:mm'}}</span>
                <span *ngIf="!data.table.blReserved">Crear un ticket de contingencia para el
                    {{data.availability.interval | dateToString : 'DD [de] MMMM [a las] HH:mm'}} y asignarle la mesa
                    {{data.table.nmTable}}</span>
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

            <!-- ----------------------------------------------------- -->
            <!-- SHOW TICKET INFO AND ACTIONS -->
            <!-- ----------------------------------------------------- -->

            <div class="mx-3" *ngIf="data.table.blReserved">

                <div class="ticket-data mb-2">
                    <table>
                        <tr>
                            <td class="text-accent">Mesa(s):</td>
                            <td>{{data.table.ticketOwner.cd_tables}}</td>
                        </tr>
                        <tr>
                            <td class="text-accent">Capacidad:</td>
                            <td>{{data.table.nmPersons}} Personas</td>
                        </tr>
                        <tr>
                            <td class="text-accent">Personas:</td>
                            <td>{{data.table.ticketOwner.nm_persons}}</td>
                        </tr>
                        <tr>
                            <td class="text-accent">Ocupación:</td>
                            <td>{{nmOccupation}}%</td>
                        </tr>
                        <tr>
                            <td class="text-accent">Contingencia:</td>
                            <td>
                                <span *ngIf="!data.table.ticketOwner.bl_contingent" class="sm align-middle">No</span>
                                <span *ngIf="data.table.ticketOwner.bl_contingent" class="sm align-middle">Si</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-accent">Prioridad:</td>
                            <td>
                                <span *ngIf="!data.table.ticketOwner.bl_priority" class="sm align-middle">No</span>
                                <span *ngIf="data.table.ticketOwner.bl_priority" class="sm align-middle">Si</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-accent">Reserva:</td>
                            <td>{{data.table.ticketOwner.tm_reserve | dateToString : 'DD [de] MMMM [a las] HH:mm'}}</td>
                        </tr>
                        <tr>
                            <td class="text-accent">Inicio:</td>
                            <td>{{data.table.ticketOwner.tm_start | dateToString : 'DD [de] MMMM [a las] HH:mm'}}</td>
                        </tr>
                        <tr>
                            <td class="text-accent">Plataforma:</td>
                            <td>{{data.table.ticketOwner.tx_platform}}</td>
                        </tr>
                        <tr>
                            <td class="text-accent">Teléfono:</td>
                            <td>{{data.table.ticketOwner.nm_phone}}</td>
                        </tr>
                        <tr>
                            <td class="text-accent">Email:</td>
                            <td>{{data.table.ticketOwner.tx_email}}</td>
                        </tr>
                        <tr>
                            <td class="text-accent">Cliente:</td>
                            <td>{{data.table.ticketOwner.tx_name}}</td>
                        </tr>
                    </table>
                </div>

                <div *ngIf="showMessageForm" class="my-4">
                    <app-messenger [ticket]="data.table.ticketOwner" (messageResponse)="messageResponse($event)">
                    </app-messenger>
                </div>

                <hr>

                <div class="ticket-actions mt-2">
                    <div>
                        <button mat-raised-button class="action-button" color="primary" (click)="closeBottomSheet()">
                            <table>
                                <tr>
                                    <td class="button-icon mdi mdi-close lg"></td>
                                    <td class="button-text">Cancelar</td>
                                </tr>
                            </table>
                        </button>
                    </div>
                    <div>
                        <button mat-raised-button class="action-button" color="active" (click)="assignTablesPending()">
                            <table>
                                <tr>
                                    <td class="button-icon mdi mdi-history lg"></td>
                                    <td class="button-text">Liberar</td>
                                </tr>
                            </table>
                        </button>
                    </div>
                    <div>
                        <button mat-raised-button class="action-button" color="telegram"
                            (click)="showMessageForm=!showMessageForm">
                            <table>
                                <tr>
                                    <td class="button-icon mdi mdi-telegram lg"></td>
                                    <td class="button-text">Mensaje</td>
                                </tr>
                            </table>
                        </button>
                    </div>
                    <div>
                        <button mat-raised-button class="action-button" color="warn" (click)="endTicket()">
                            <table>
                                <tr>
                                    <td class="button-icon mdi mdi-lock lg"></td>
                                    <td class="button-text">Finalizar</td>
                                </tr>
                            </table>
                        </button>
                    </div>

                </div>

            </div>

            <!-- ----------------------------------------------------- -->
            <!-- CONTINGENCY TICKET FORM -->
            <!-- ----------------------------------------------------- -->

            <div *ngIf="!data.table.blReserved" class="px-3">

                <!-- FORM  -->

                <form autocomplete="off" ngNativeValidate #formDirective="ngForm" [formGroup]="ticketForm">

                    <mat-form-field color="accent" class="w-100">
                        <mat-label>Nombre del cliente</mat-label>
                        <input maxlength="30" type="text" matInput placeholder="Ingresa el nombre del cliente"
                            formControlName="txName" name="txName" required>
                    </mat-form-field>

                    <mat-form-field color="accent" class="w-100">
                        <mat-label>Cantidad de Personas</mat-label>
                        <input min="1" max="1000" type="number" matInput placeholder="Cantidad de Personas"
                            formControlName="nmPersons" name="nmPersons" required>
                    </mat-form-field>

                    <mat-form-field color="accent" class="w-100">
                        <mat-label>Número de Contacto</mat-label>
                        <input type="number" matInput placeholder="01155551234" formControlName="nmPhone" name="nmPhone"
                            required>
                    </mat-form-field>

                    <mat-form-field color="accent" class="w-100">
                        <mat-label>Email de Contacto</mat-label>
                        <input type="email" matInput placeholder="cliente@mail.com" formControlName="txEmail"
                            name="txEmail" required>
                    </mat-form-field>

                    <hr>
                    <!-- PERSONS EXCEEDS: TABLES BUTTONS SELECTION -->

                    <div class="sm text-left text-accent mt-3" *ngIf="personsExceeds">

                        <div *ngIf="cdTables.length === 1">
                            El número de comensales supera la capacidad de la mesa.
                            Considere agregar mesas.
                        </div>
                        <div *ngIf="cdTables.length === 0">
                            Debe seleccionar al menos una mesa.
                        </div>
                        <div class="my-2">
                            <button type="button" mat-raised-button
                                [color]="cdTables.includes(table.nmTable)?'active':''"
                                *ngFor="let table of data.availability.tables" class="action-button-flex"
                                (click)="setReserve(table)" [disabled]="table.blReserved">

                                <table>
                                    <tr>
                                        <td class="button-icon w-25 lg">{{ table.nmTable }}</td>

                                        <td *ngIf="cdTables.includes(table.nmTable)"
                                            class="button-text mdi mdi-check-circle"></td>
                                        <td *ngIf="!cdTables.includes(table.nmTable)"
                                            class="button-text mdi mdi-human-male">{{table.nmPersons }}</td>
                                    </tr>
                                </table>

                            </button>
                        </div>

                    </div>

                    <hr>

                    <div class="ticket-actions mt-2">
                        <div>
                            <button mat-raised-button class="action-button" color="primary" type="button"
                                (click)="closeBottomSheet()">
                                <table>
                                    <tr>
                                        <td class="button-icon mdi mdi-close lg"></td>
                                        <td class="button-text">Cancelar</td>
                                    </tr>
                                </table>
                            </button>
                        </div>
                        <div>
                            <button mat-raised-button class="action-button" color="active" (click)="createTicket()"
                                [disabled]="ticketForm.invalid || cdTables.length === 0">
                                <table>
                                    <tr>
                                        <td class="button-icon mdi mdi-content-save-outline lg"></td>
                                        <td class="button-text">Guardar</td>
                                    </tr>
                                </table>
                            </button>
                        </div>
                    </div>

                </form>


            </div>

        </mat-card-content>
    </mat-card>
</div>