.ticket-data table {
    width      : 100%;
    line-height: 1.2em;
    font-size  : small;
}

.ticket-actions {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

.x-position {
    position: absolute;
    cursor  : pointer;
    top     : 10px;
    right   : 10px;
}