<div class="toolbar-wrapper" [ngClass]="{'flatbar':component==='page'}">

    <div class="toolbar-first-row">

        <div class="toolbar-first-row-left">

            <!-- TOGGLE MENU ICON -->
            <div *ngIf="![null, '','home','public'].includes(module)" class="mdi mdi-menu mt-1 xl pointer"
                (click)="toggle('sidenav')"></div>

            <!-- LOGO -->
            <div class="toolbar-logo-container pointer" *ngIf="[null, '','home', 'public'].includes(module)"
                routerLink="/home">
                <!-- LOGO IMG -->
                <div class="logo-img"> </div>

                <!-- LOGO TITLE -->
                <div class="logo-text-container text-left ml-2">
                    <div class="md"> SATURNO </div>
                    <div class="xs">{{version}} </div>
                </div>
            </div>

        </div>

        <div class="toolbar-first-row-center">

            <div *ngIf="loginService.user && module==='admin'" class="inherit">
                <!-- COMPANY NAME -->
                <div class="company-name">
                    <span>{{loginService.user.id_company?.tx_company_name }}</span>
                </div>
            </div>

            <div *ngIf="loginService.user && module==='waiter'" class="inherit">
                <!-- SECTION NAME -->
                <div *ngIf="waiterService.session" class="company-name md ml-2">
                    <span>{{waiterService.session?.id_section.tx_section}}</span>
                </div>
            </div>

            <div class="toolbar-first-row-center-links">

                <div *ngIf="[null,'','home'].includes(module)" class="inherit">
                    <div class="toolbar-item" routerLink="/howworks">
                        <div class="mdi mdi-help-box"></div>
                        <div>
                            ¿Qué es Saturno?
                        </div>
                    </div>
                    <div class="toolbar-item" routerLink="/register">
                        <div class="mdi mdi-storefront-outline"></div>
                        <div>
                            Registrar Negocio
                        </div>
                    </div>
                    <div class="toolbar-item" routerLink="/public/tickets">
                        <div class="mdi mdi-ticket-account"></div>
                        <div>
                            Mis Reservas
                        </div>
                    </div>
                    <div class="toolbar-item" (click)="scrollToElement()">
                        <div class="mdi mdi-map-marker"></div>
                        <div>
                            Buscá por Zona
                        </div>
                    </div>
                </div>

                <div *ngIf="['admin'].includes(module)" class="inherit">
                    <div class="toolbar-item" routerLink="/admin/home">
                        Home
                    </div>
                    <div class="toolbar-item" routerLink="/admin/wizard">
                        Asistente
                    </div>
                    <div class="toolbar-item" routerLink="/admin/schedule">
                        Agenda
                    </div>
                    <div class="toolbar-item" routerLink="/admin/webpage">
                        Mi Portal
                    </div>
                </div>

            </div>
        </div>

        <div class="toolbar-first-row-right">
            
            <!-- THEME -->
            <app-theme class="toolbar-item" *ngIf="loginService.user && loginService.user.id_role === 'ADMIN_ROLE' && ['admin'].includes(module)">
            </app-theme>

            <!-- NOTIFICATIONS -->
            <app-notifications [notifications]="notifications" *ngIf="loginService.user && ['admin','waiter'].includes(module)" class="toolbar-item"></app-notifications>
            
            <!-- USER LOGIN -->
            <app-user class="toolbar-item"></app-user>

        </div>

    </div>

    <div class="toolbar-second-row">

        <div *ngIf="[null,'','home'].includes(module)" class="inherit">
            <div class="toolbar-item" routerLink="/howworks">
                ¿Qué es Saturno?
            </div>
            <div class="toolbar-item" routerLink="/public/tickets">
                Mis Reservas
            </div>
            <div class="toolbar-item" (click)="scrollToElement()">
                Buscá por Zona
            </div>
        </div>

        <div *ngIf="['admin'].includes(module)" class="inherit">
            <div class="toolbar-item" routerLink="/admin/home">
                Home
            </div>
            <div class="toolbar-item" routerLink="/admin/wizard">
                Asistente
            </div>
            <div class="toolbar-item" routerLink="/admin/schedule">
                Agenda
            </div>
            <div class="toolbar-item" routerLink="/admin/webpage">
                Mi Portal
            </div>
        </div>


        <div *ngIf="component === 'tickets'" class="inherit">
            <div class="toolbar-item" routerLink="/home">
                Ir a Saturno
            </div>
            <div *ngIf="company" class="toolbar-item" [routerLink]="['/public/page', company.tx_company_string]">
                Ir a {{company.tx_company_name}}
            </div>
        </div>


    </div>

</div>