.logo-search-container {
    display  : flex;
    flex-grow: 1;
}


.logo-img {
    background-image   : url('../../../assets/img/cup.svg');
    background-size    : contain;
    background-repeat  : no-repeat;
    background-position: center center;
    height             : 2em;
    width              : 2em;
}

@media (max-width: 575px) {
    .logo-text-container {
        display: none;
    }
}


.logo-text-container {
    align-self: center;
}

.logo-title {
    font-size     : .6em;
    letter-spacing: .1em;
    line-height   : 1em;
    color         : whitesmoke;
    font-family   : system-ui;
}

.logo-subtitle {
    font-size     : .5em;
    font-weight   : 200;
    line-height   : 1em;
    text-transform: uppercase;
    font-family   : system-ui;
}


.search {
    flex-grow    : 1;
    align-self   : center;
    padding-left : 10px;
    padding-right: 10px;
}

.company-name {
    overflow      : hidden;
    font-weight   : 300;
    letter-spacing: .2em;
    text-transform: uppercase;
    color         : whitesmoke;
    font-family   : system-ui;
    flex-grow     : 1;
    text-align    : center;

}

.marquee {
    /* width            : fit-content;
    -moz-animation   : marquee 50s linear infinite;
    -webkit-animation: marquee 50s linear infinite;
    animation        : marquee 50s linear infinite; */
    overflow: hidden;
}

@-moz-keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee {
    0% {
        -moz-transform   : translateX(100%);
        -webkit-transform: translateX(100%);
        transform        : translateX(100%)
    }

    100% {
        -moz-transform   : translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform        : translateX(-100%);
    }
}

.company-slogan {
    line-height   : normal;
    font-weight   : 200;
    font-style    : italic;
    color         : yellow;
    font-family   : monospace;
    letter-spacing: .2em;
    opacity       : 0.8;
}

.user-image {
    width        : 25px;
    height       : 25px;
    border-radius: 50%;
    cursor       : pointer;
}


.spacer {
    flex: 1 1 auto;
}


.example-spacer {
    color          : black;
    /* Tres valores: flex-grow | flex-shrink | flex-basis */
    flex           : 1 1 auto;
}


/* THEME SELECTION */
.box-dark-purple {
    width           : 2em;
    height          : 2em;
    background-color: #343332;
    border-top      : .5em solid #7b1fa2;
    margin          : .5em;
}

.box-dark-purple:before {
    color  : #00ff4b;
    content: 'A';
    font-weight: 400;
}

.box-dark-pink {
    width           : 2em;
    height          : 2em;
    background-color: #343332;
    border-top      : .5em solid #e91e63;
    margin          : .5em;
}

.box-dark-pink:before {
    color  : #fff700;
    content: 'A';
    font-weight: 400;
}

.box-grey-dark {
    width           : 2em;
    height          : 2em;
    background-color: #a3a3a3;
    border-top      : .5em solid #323232;
    margin          : .5em;
}

.box-grey-dark:before {
    color  : #686868;
    content: 'A';
    font-weight: 400;
}

.box-grey-orange {
    width           : 2em;
    height          : 2em;
    background-color: #a3a3a3;
    border-top      : .5em solid #ff5722;
    margin          : .5em;
}

.box-grey-orange:before {
    color  : #e05123;
    content: 'A';
    font-weight: 400;
}

.box-light-blue {
    width           : 2em;
    height          : 2em;
    background-color: #e6e4e0;
    border-top      : .5em solid #3f51b5;
    margin          : .5em;
}

.box-light-blue:before {
    color  : #2196f3;
    content: 'A';
    font-weight: 400;
}

.box-light-green {
    width           : 2em;
    height          : 2em;
    background-color: #e6e4e0;
    border-top      : .5em solid #2e7d32;
    margin          : .5em;
}

.box-light-green:before {
    color  : #39531b;
    content: 'A';
    font-weight: 400;
}

/* USER LOGGED-IN MENU */

.mat-menu-item {
    font-family: inherit;
    font-size  : inherit;
}

.toolbar-menu-icon {
    opacity: .4;
}