.logo-search-container {
    display  : flex;
    flex-grow: 1;
}


.logo-img {
    background-image   : url('../../../assets/img/cup.svg');
    background-size    : contain;
    background-repeat  : no-repeat;
    background-position: center center;
    height             : 2em;
    width              : 2em;
}

@media (max-width: 575px) {
    .logo-text-container {
        display: none;
    }
}


.logo-text-container {
    align-self: center;
}

.logo-title {
    font-size     : .6em;
    letter-spacing: .1em;
    line-height   : 1em;
    color         : whitesmoke;
    font-family   : system-ui;
}

.logo-subtitle {
    font-size     : .5em;
    font-weight   : 200;
    line-height   : 1em;
    text-transform: uppercase;
    font-family   : system-ui;
}


.search {
    flex-grow    : 1;
    align-self   : center;
    padding-left : 10px;
    padding-right: 10px;
}

.company-name {
    font-weight   : 300;
    letter-spacing: .2em;
    text-transform: uppercase;
    color         : whitesmoke;
    font-family   : system-ui;
    flex-grow     : 1;
    text-align    : center;
}

.company-slogan {
    line-height   : normal;
    font-weight   : 200;
    font-style    : italic;
    color         : yellow;
    font-family   : monospace;
    letter-spacing: .2em;
    opacity       : 0.8;
}

.user-image {
    width        : 25px;
    height       : 25px;
    border-radius: 50%;
    cursor       : pointer;
}


.spacer {
    flex: 1 1 auto;
}


.example-spacer {
    color          : black;
    /* Tres valores: flex-grow | flex-shrink | flex-basis */
    flex           : 1 1 auto;
}


/* THEME SELECTION */
.box-deeppurple {
    width           : 2em;
    height          : 2em;
    background-color: #fff;
    border-top      : .5em solid #673ab7;
    margin          : .5em;
}

.box-indigo {
    width           : 2em;
    height          : 2em;
    background-color: #fff;
    border-top      : .5em solid #3f51b5;
    margin          : .5em;
}

.box-pink {
    width           : 2em;
    height          : 2em;
    background-color: #303030;
    border-top      : .5em solid #c2185b;
    margin          : .5em;
}

.box-purple {
    width           : 2em;
    height          : 2em;
    background-color: #303030;
    border-top      : .5em solid #7b1fa2;
    margin          : .5em;
}


/* USER LOGGED-IN MENU */

.mat-menu-item {
    font-family: inherit;
    font-size  : inherit;
}

.toolbar-menu-icon {
    opacity: .4;
}