<div class="footer">

    <div class="footer-copyright text-center text-white op5">
        <div>
            <a href="mailto: info@saturno.fun"><span class="xl m-1 mdi mdi-email"></span></a>
            <a href="https://wa.me/541164906542"><span class="xl m-1 mdi mdi-whatsapp"></span></a>
            <a href="https://t.me/matiasfrith"><span class="xl m-1 mdi mdi-telegram"></span></a>
            <span class="xl m-1 mdi mdi-instagram"></span>
            <span class="xl m-1 mdi mdi-facebook"></span>
        </div>
        <div class="footer-copyright-text mt-2">
            Saturno.fun <span class="mdi mdi-copyright"></span> 2021. 
        </div>
        <div class="xs">Todos los derechos reservados.</div>
    </div>

    <div class="text-white op5">
        <a target="_blank"
            href="https://secure.trust-provider.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=POSDV&v_search=https://saturno.fun/home&x=6&y=5">
            <div class="footer-tech mdi mdi-shield-lock xxl"> </div>
            <div class="mt-2">
                <span class="mdi mdi-plus-circle-outline"></span>positiveSSL
            </div>
            <div class="xs">Security powered by Comodo</div>
        </a>
    </div>

    <div class="footer-dev text-white op5">
        <a target="_blank" href="https://www.matiasfrith.com.ar">
            <div>
                <span class="xl m-1 mdi mdi-angularjs"></span>
                <span class="xl m-1 mdi mdi-nodejs"></span>
                <span class="xl m-1 mdi mdi-language-typescript"></span>
                <span class="xl m-1 mdi mdi-centos"></span>
            </div>
            <div class="mt-2">
                <span class="mdi mdi-xml sm"> MF WebDev</span>
            </div>
            <div class="xs">Matías Frith Desarrollos</div>
        </a>
    </div>

</div>