.footer {
    background-color: #1d1d1d;
    font-size       : small;
    font-family     : 'system-ui';
    line-height     : 1.4em;
    font-weight     : 200;
    align-items     : center;
    display         : flex;
    flex-flow       : row wrap;
    padding         : 1em;
    text-decoration : none;
    justify-content : space-around;
    height          : auto;
}

a {
    color: unset;
}

a:hover {
    text-decoration: none;
    color          : unset;
}


.footer-copyright,
.footer-ssl,
.footer-crab {
    align-self: flex-end;
}

.footer-ssl .mdi-shield-lock {
    position: relative;
    top     : -15px;
}

.footer-crab img {
    width: 40px;
}

@media (max-width: 650px) {
    .footer {
        height   : 17em;
        flex-flow: wrap;
    }

    .footer-copyright {
        margin-top   : 20px;
        margin-bottom: 10px;
        width        : 100%;
    }
}