<div class="footer">

    <div class="footer-copyright text-center text-white op5">
        <div>
            <a href="mailto: info@saturno.fun"><span class="xl m-1 mdi mdi-email"></span></a>
            <a href="https://wa.me/541164906542"><span class="xl m-1 mdi mdi-whatsapp"></span></a>
            <a href="https://t.me/matiasfrith"><span class="xl m-1 mdi mdi-telegram"></span></a>
            <span class="xl m-1 mdi mdi-instagram"></span>
            <span class="xl m-1 mdi mdi-facebook"></span>
        </div>
        <div class="footer-copyright-text mt-2">
            www.saturno.fun <span class="mdi mdi-copyright"></span> 2021. 
        </div>
        <div class="xs">Todos los derechos reservados.</div>
    </div>

    <div class="footer-ssl text-white op5">
        <a target="_blank"
            href="https://secure.trust-provider.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=POSDV&v_search=https://saturno.fun&x=6&y=5">
            <div class="mdi mdi-shield-lock xxl"> </div>
            <div>
                <span class="mdi mdi-plus-circle-outline"></span>positiveSSL
            </div>
            <div class="xs">Security powered by Comodo</div>
        </a>
    </div>

    <div class="footer-crab text-white ">
        <a target="_blank" href="https://www.crabdevs.com">
            <div>
                <img src="../../../../assets/img/crab-icon.png">
            </div>
            <div class="op5">
                www.crabdevs.com <span class="mdi mdi-xml"></span> 2021. 
            </div>
            <div class="xs op5">Crab Desarrollos</div>
        </a>
    </div>

</div>