.footer {
    background-color: #1d1d1d;
    font-size       : small;
    font-family     : 'system-ui';
    line-height     : 1.4em;
    font-weight     : 200;
    align-items     : center;
    display         : flex;
    flex-flow       : row wrap;
    padding         : 1em;
    text-decoration : none;
    justify-content : space-around;
    height          : 12em;
}

a {
    color: unset;
}

a:hover {
    text-decoration: none;
    color          : unset;
}


.footer-tech {
    display        : flex;
    justify-content: center;
    height         : 25px;
}

@media (max-width: 650px) {
    .footer {
        height   : 17em;
        flex-flow: wrap-reverse;
    }

    .footer-copyright {
        margin-bottom: 10px;
    }
}



/*
-------------------------------------------
TECH ICONS 
-------------------------------------------
*/

.tech-div {
    display    : block;
    text-indent: -9999px;
    width      : 1.5em;
    height     : 1.5em;
    opacity    : .98;
}

.tech-mongodb {
    background       : url(../../../../assets/img/svg/mongodb2.svg);
    background-size  : contain;
    background-repeat: no-repeat;
}

.tech-angular {
    background       : url(../../../../assets/img/svg/angular.svg);
    background-size  : contain;
    background-repeat: no-repeat;
}

.tech-js {
    background       : url(../../../../assets/img/svg/javascript.svg);
    background-size  : contain;
    background-repeat: no-repeat;
}

.tech-ts {
    background       : url(../../../../assets/img/svg/typescript.svg);
    background-size  : contain;
    background-repeat: no-repeat;
}

.tech-nodejs {
    background       : url(../../../../assets/img/svg/nodejs.svg);
    background-size  : contain;
    background-repeat: no-repeat;
}