<div class="footer bg-primary">

    <div class="footer-saturno pointer text-center text-white">
        <div>
            Saturno.fun <span class="mdi mdi-copyright"></span> 2021. Todos los derechos reservados.
        </div>
        <div class="mt-2">
            <a href="mailto: info@saturno.fun"><span class="mdi mdi-email lg mr-3"></span></a>
            <a href="https://wa.me/541164906542"><span class="mdi mdi-whatsapp lg mr-3"></span></a>
            <a href="https://t.me/matiasfrith"><span class="mdi mdi-telegram lg mr-3"></span></a>
            <span class="mdi mdi-instagram lg mr-3"></span>
            <span class="mdi mdi-facebook lg"></span>
        </div>
    </div>


    <div class="footer-dev text-white">
        <div>
            <a href="https://www.matiasfrith.com.ar">Matías Frith desarrollos</a>
        </div>
        <div class="mt-2">
            <div class="footer-tech">
                <div class="tech-div mx-2 tech-mongodb"></div>
                <div class="tech-div mx-2 tech-angular"></div>
                <div class="tech-div mx-2 tech-nodejs"></div>
            </div>
        </div>

    </div>

</div>