@media (max-width: 575px) {

  mat-card {
    width: 100% !important;
  }

  .ticket-card {
    width: 50% !important;
  }

  .company-header {
    flex-direction: column;
    text-align    : center !important;
  }

  .company-cover-container {
    height: 80px;
  }

  .company-title {
    margin-left: 0px !important;
  }

  .no-tickets .search {
    max-width: unset !important;
  }
}

.no-tickets {
  margin: 50px 10px;
}

.no-tickets .banner {
  font-size: xx-large;
  color    : var(--accent);
}

.no-tickets .text {
  font-size: medium;
  color    : var(--text);
  opacity  : .8;
}

.no-tickets .search {
  max-width: 50%;
  margin   : 26px;
}

.tickets-container {
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;
  place-content : center;
}

.ticket-card {
  width: 300px;
}

.company-header {
  cursor     : pointer;
  align-items: center;
}

.company-logo {
  margin-top   : -25px;
  border-radius: 50%;
  opacity      : .9;
  width        : 50px;
  height       : 50px;
  box-shadow   : 0px 0px 2px rgb(100 100 100 / 20%);
}

.company-cover-container {
  max-height   : 120px;
  overflow     : hidden;
  border-radius: 4px 4px 0px 0px;
}

.company-cover {
  width: 100%;
}

.company-title {
  width: 100%;
}

.ticket-active {
  background-color: var(--mat-card-bg);
}

.ticket-inactive {
  opacity: .5;
}