@media (max-width: 575px) {
  mat-card {
    width: 100% !important;
  }

  .ticket-card {
    width  : 50% !important;
  }

  .company-banner {
    height: 84px !important;
  }

  .select-status {
    width  : 100%;
    padding: 10px;
  }
}

.tickets-container {
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;
  place-content : center;
}

.ticket-card {
  width     : 300px;
  margin-top: 42px;
}

.company-logo {
  border-radius: 10%;
  position: relative;
  margin-bottom: -39px;
  top: -45px;
  width: 70px;
  height: 70px;
  box-shadow   : 0px 0px 2px rgb(100 100 100 / 20%);
}