
<div *ngIf="listmode">
    <!-- no session -->
    <span *ngIf="table.tx_status === 'busy' && table.id_session?.id_ticket.tx_call === null" class="mdi mdi-minus-circle-outline lg text-danger"></span>
    <span *ngIf="table.tx_status === 'paused'" class="mdi mdi-pause-circle-outline text-secondary lg"></span>
    <span *ngIf="table.tx_status === 'idle'" class="mdi mdi-check-circle-outline text-success lg"></span>
    <span *ngIf="table.tx_status === 'reserved'" class="mdi mdi-stop-circle-outline text-danger lg"></span>
    
    <!-- active session -->
    <span *ngIf="table.id_session?.id_ticket.tx_call === 'card'" class="mdi mdi-book-open-variant text-warning lg"></span>
    <span *ngIf="table.id_session?.id_ticket.tx_call === 'waiter'"
        class="mdi mdi-silverware-fork-knife text-warning lg"></span>
    <span *ngIf="table.id_session?.id_ticket.tx_call === 'account'"
        class="mdi mdi-file-document-edit-outline text-warning lg"></span>
</div>

<div *ngIf="!listmode">
        <!-- no session -->
        <span *ngIf="table.tx_status === 'busy' && table.id_session?.id_ticket.tx_call === null" class="mdi mdi-minus-circle-outline xxl text-danger"></span>
        <span *ngIf="table.tx_status === 'paused'" class="mdi mdi-pause-circle-outline text-secondary xxl"></span>
        <span *ngIf="table.tx_status === 'idle'" class="mdi mdi-check-circle-outline text-success xxl"></span>
        <span *ngIf="table.tx_status === 'reserved'" class="mdi mdi-stop-circle-outline text-danger xxl"></span>
        
        <!-- active session -->
        <span *ngIf="table.id_session?.id_ticket.tx_call === 'card'" class="mdi mdi-book-open-variant text-warning xxl"></span>
        <span *ngIf="table.id_session?.id_ticket.tx_call === 'waiter'"
            class="mdi mdi-silverware-fork-knife text-warning xxl"></span>
        <span *ngIf="table.id_session?.id_ticket.tx_call === 'account'"
            class="mdi mdi-file-document-edit-outline text-warning xxl"></span>
</div>