<div class="saturno-container animated fadeIn">

    <mat-card [ngClass]="{nomargin:nomargin, nopadding:nopadding}">

        <mat-card-header>
            <mat-card-title>
                <span class="mdi mdi-card-account-details-outline"></span> Página Web de mi Bar / Restaurant
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="p-2" *ngIf="this.loginService.user.id_company">

            <form ngNativeValidate [formGroup]="formWebPage" #formDirective="ngForm" (ngSubmit)="sendWebPage(formDirective)">

                <!-- EMAIL -->
                <mat-form-field color="accent" class="w-100">
                    <mat-label>Email del comercio</mat-label>
                    <input matInput type="email" formControlName="txEmail" placeHolder="usuario@dominio.com">
                </mat-form-field>

                <!-- WHATSAPP -->
                <mat-form-field color="accent" class="w-100">
                    <mat-label>Whatsapp</mat-label>
                    <input matInput type="number" formControlName="txWhatsapp" placeholder="54 11 55551234" (keydown.space)="$event.preventDefault()">
                </mat-form-field>

                <!-- FACEBOOK -->
                <mat-form-field color="accent" class="w-100">
                    <mat-label>Facebook</mat-label>
                    <input matInput type="text" formControlName="txFacebook" placeholder="www.facebook.com/micomercio">
                </mat-form-field>

                <!-- TWITTER -->
                <mat-form-field color="accent" class="w-100">
                    <mat-label>Twitter</mat-label>
                    <input matInput type="text" formControlName="txTwitter" placeholder="www.twitter.com/micomercio">
                </mat-form-field>

                <!-- INSTAGRAM -->
                <mat-form-field color="accent" class="w-100">
                    <mat-label>Instagram</mat-label>
                    <input matInput type="text" formControlName="txInstagram" placeholder="www.instagram.com/micomercio">
                </mat-form-field>

                <!-- WELCOME TEXT -->
                <mat-form-field color="accent" class="w-100">
                    <mat-label>Historia de tu comercio, descripción o presentación.</mat-label>
                    <textarea class="textarea" rows="5" matInput placeholder="Ingresa el texto de bienvenida aquí"
                        formControlName="txWelcome"
                        [value]="this.loginService.user.id_company.tx_company_welcome"></textarea>
                </mat-form-field>

                <!-- SUBMIT BUTTON -->
                <div class="container pt-4 px-0">
                    <button mat-raised-button color="accent" type="submit">
                        <span class="mdi lg mdi-content-save-outline"></span>
                        GUARDAR
                    </button>
                </div>
            </form>

            <hr>

            <app-uploader [multi]="false" [idDocument]="this.loginService.user.id_company._id" idField="tx_company_logo"
                [data]="this.loginService.user.id_company" [header]="header.logo" (dataUpdated)="dataUpdated($event)">
            </app-uploader>

            <hr>

            <app-uploader [multi]="true" [idDocument]="this.loginService.user.id_company._id"
                idField="tx_company_banners" [data]="this.loginService.user.id_company" [header]="header.banners"
                (dataUpdated)="dataUpdated($event)">
            </app-uploader>
        </mat-card-content>

    </mat-card>
</div>