<div class="page-container animated fadeIn">

    <mat-card [ngClass]="{nomargin:nomargin, nopadding:nopadding}">

        <mat-card-header>
            <mat-card-title class="md">
                <span class="mdi mdi-card-account-details-outline md text-accent"></span> Portal Web
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="p-2" *ngIf="this.loginService.user.id_company">

            <form ngNativeValidate [formGroup]="formWebPage" #formDirective="ngForm"
                (ngSubmit)="sendWebPage(formDirective)">

                <!-- WELCOME TEXT -->
                <mat-form-field color="accent" class="w-100">
                    <mat-label>Historia de tu comercio, descripción o presentación.</mat-label>
                    <textarea maxlength="1000" class="textarea" rows="5" matInput
                        placeholder="Ingresa el texto de bienvenida aquí" formControlName="txWelcome"
                        [value]="this.loginService.user.id_company?.tx_company_welcome"></textarea>
                </mat-form-field>

                <!-- EMAIL -->
                <mat-form-field color="accent" class="w-100">
                    <mat-label>Email del comercio</mat-label>
                    <span matPrefix class="text-accent mdi mdi-email">&nbsp;</span>
                    <input maxlength="50" matInput type="email" formControlName="txEmail"
                        placeHolder="usuario@dominio.com" (keydown.space)="$event.preventDefault()"
                        [value]="loginService.user.id_company?.tx_email">
                </mat-form-field>

                <!-- TELEGRAM -->
                <mat-form-field color="accent" class="w-100">
                    <mat-label>Telegram</mat-label>
                    <span matPrefix class="text-accent mdi mdi-telegram"> https://t.me/ </span>
                    <input matInput maxlength="30" type="text" formControlName="txTelegram"
                        placeholder="telegram-username" (keydown.space)="$event.preventDefault()"
                        [value]="loginService.user.id_company?.tx_telegram">
                </mat-form-field>

                <!-- WHATSAPP -->
                <mat-form-field color="accent" class="w-100">
                    <mat-label>Whatsapp</mat-label>
                    <span matPrefix class="text-accent mdi mdi-whatsapp"> https://wa.me/</span>

                    <input matInput maxlength="30" type="number" formControlName="txWhatsapp" placeholder="541155551234"
                        (keydown.space)="$event.preventDefault()" [value]="loginService.user.id_company?.tx_whatsapp">
                </mat-form-field>

                <!-- FACEBOOK -->
                <mat-form-field color="accent" class="w-100">
                    <mat-label>Facebook</mat-label>
                    <span matPrefix class="text-accent mdi mdi-facebook"> www.facebook.com/</span>
                    <input matInput maxlength="30" type="text" formControlName="txFacebook"
                        placeholder="mi-facebook-page" [value]="loginService.user.id_company?.tx_facebook">
                </mat-form-field>

                <!-- TWITTER -->
                <mat-form-field color="accent" class="w-100">
                    <mat-label>Twitter</mat-label>
                    <span matPrefix class="text-accent mdi mdi-twitter"> www.twitter.com/</span>
                    <input matInput maxlength="30" type="text" formControlName="txTwitter" placeholder="mi-twitter"
                        [value]="loginService.user.id_company?.tx_twitter">
                </mat-form-field>

                <!-- INSTAGRAM -->
                <mat-form-field color="accent" class="w-100">
                    <mat-label>Instagram</mat-label>
                    <span matPrefix class="text-accent mdi mdi-instagram"> www.instagram.com/</span>
                    <input matInput maxlength="30" type="text" formControlName="txInstagram" placeholder="mi-instagram"
                        [value]="loginService.user.id_company?.tx_instagram">
                </mat-form-field>

                <!-- SUBMIT BUTTON -->
                <div class="container pt-4 px-0">
                    <div *ngIf="loading">
                        <button mat-raised-button color="accent" disabled>GUARDANDO... </button>
                    </div>
                    <button *ngIf="!loading" mat-raised-button color="accent" type="submit"
                        [disabled]="formWebPage.invalid">
                        <span class="mdi lg mdi-content-save-outline"></span>
                        GUARDAR
                    </button>
                </div>
            </form>

            <hr>

            <app-uploader [multi]="false" [idDocument]="this.loginService.user.id_company._id" idField="tx_company_logo"
                [documentData]="this.loginService.user.id_company" [header]="header.logo"
                (dataUpdated)="dataUpdated($event)">
            </app-uploader>

            <hr>

            <div class="thumb-container pointer">
                <div *ngFor="let img of defaultCovers" (click)="openDialog(img)">
                    <div class="sm predefined-cover-title">
                        {{img.name}}
                        <span *ngIf="coverSelected === img.filename" class="mdi mdi-check text-accent"></span>
                    </div>
                    <div>
                        <img class="cover-thumb" [src]="img.filename | imagenPipe : 'tx_company_cover' : 'predefined' ">
                    </div>
                </div>
            </div>


            <app-uploader [multi]="false" [idDocument]="this.loginService.user.id_company._id"
                idField="tx_company_cover" [documentData]="this.loginService.user.id_company" [header]="header.cover"
                (dataUpdated)="dataUpdated($event)">
            </app-uploader>

            <!-- <app-uploader [multi]="true" [idDocument]="this.loginService.user.id_company._id"
                idField="tx_company_images" [documentData]="this.loginService.user.id_company"
                [header]="header.banners" (dataUpdated)="dataUpdated($event)">
            </app-uploader> -->
        </mat-card-content>

    </mat-card>
</div>