<div class="saturno-card animated fadeIn" [ngClass]="{nomargin:nomargin, nopadding:nopadding}">

    <mat-card>

        <mat-card-header>
            <mat-card-title>
                <span class="mdi mdi-card-account-details-outline"></span> Página Web de mi Bar / Restaurant
            </mat-card-title>
        </mat-card-header>

        <mat-card-content *ngIf="this.loginService.user.id_company">

            <form [formGroup]="formWebPage" #formDirective="ngForm" (ngSubmit)="sendWebPage(formDirective)">
                <mat-form-field class="w-100">
                    <mat-label>Historia, descripción o presentación.</mat-label>
                    <textarea class="textarea" rows="5" matInput placeholder="Ingrese la historia aquí"
                        formControlName="txWelcome"
                        [value]="this.loginService.user.id_company.tx_company_welcome"></textarea>
                </mat-form-field>

                <div class="container pt-4 px-0">
                    <button mat-raised-button color="accent" type="submit">
                        <span class="mdi lg mdi-content-save-outline"></span>
                        GUARDAR
                    </button>
                </div>
            </form>

            <hr>

            <app-uploader [multi]="false" [idDocument]="this.loginService.user.id_company._id" idField="tx_company_logo"
                [data]="this.loginService.user.id_company" [header]="header.logo" (dataUpdated)="dataUpdated($event)">
            </app-uploader>

            <hr>

            <app-uploader [multi]="true" [idDocument]="this.loginService.user.id_company._id"
                idField="tx_company_banners" [data]="this.loginService.user.id_company" [header]="header.banners"
                (dataUpdated)="dataUpdated($event)">
            </app-uploader>
        </mat-card-content>

    </mat-card>
</div>