<div class="saturno-card animated fadeIn p-4">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Encontrar un Bar / Resto</mat-card-title>
            <mat-card-subtitle>Puede buscar aquí un bar o restorant para ver la dispoinibilidad y reservar una mesa.
            </mat-card-subtitle>

        </mat-card-header>
        <mat-card-content>

            <div class="mt-4">
                <mat-form-field class="w-100">
                    <mat-label>Ingrese la empresa aquí</mat-label>
                    <input id="inputCompany" #inputCompany matInput [matAutocomplete]="auto" placeholder="Empresa S.A."
                        (keyup)="findCompany(inputCompany)">
                    <span class="input-icon" (click)="cleanInput(inputCompany)"><i class="mdi mdi-close"></i></span>
                </mat-form-field>

                <mat-autocomplete (optionSelected)="goToCompany($event.option.value)" #auto="matAutocomplete">
                    <mat-option [value]="company" *ngFor="let company of companies">
                        {{company.tx_company_name}}
                    </mat-option>
                </mat-autocomplete>
            </div>

        </mat-card-content>

        <button mat-button (click)="salir()">Volver al Inicio</button>
    </mat-card>
</div>