<form ngNativeValidate #formDirective="ngForm" [formGroup]="forma" (ngSubmit)="createTable(formDirective)">


    <mat-form-field color="accent" class="w-100">
        <mat-label>Número de la mesa</mat-label>
        <input matInput placeholder="Número de la mesa" formControlName="nmTable" name="nmTable" type="number" min="1" required>
    </mat-form-field>

    <mat-form-field color="accent" class="w-100">
        <mat-label>Cantidad de personas</mat-label>
        <input #nmPersons matInput placeholder="Cuantas personas entran en la mesa?" formControlName="nmPersons" name="nmPersons" type="number" min="1" required>
    </mat-form-field>

    <div class="container pt-4 px-0">
        <div *ngIf="loading">
            <button mat-raised-button color="accent" disabled>GUARDANDO... </button>
        </div>
        <button *ngIf="!loading" mat-raised-button color="accent" type="submit" [disabled]="forma.invalid">
            <span class="mdi lg mdi-content-save-outline"></span>
            GUARDAR MESA
        </button>
    </div>
</form>