html,
body {
    height          : 100vh;
    background-color: whitesmoke;
}

body {
    margin      : 0;
    font-family : 'Baloo Bhai 2', 'Encode Sans', 'system-ui', 'Averia Libre', 'Monda';
    font-weight : 300;
    font-style  : normal;
    font-size   : medium;
    font-weight : 300;
    line-height : normal;
    font-display: swap;
}

input:-internal-autofill-selected {
    appearance      : menulist-button;
    background-color: rgb(207, 207, 17) !important;
    background-image: none !important;
    color           : -internal-light-dark(rgb(83, 19, 232), rgb(222, 26, 26)) !important;
}

.btn {
    border: none;
}

button:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none;
}

div:focus {
    outline: none;
}

span:focus {
    outline: none;
}

div:focus {
    outline: none;
}

.mapboxgl-canvas:focus {
    outline: none;
    border : none;
}

table {
    width: 100%;
}

td {
    vertical-align: middle !important;
}

mat-drawer-container {
    flex: 1 1 auto;
}

.pointer {
    cursor: pointer;
}

.card-left-border {
    border-left: 5px solid var(--warning);
}

/*
400px -> 25rem
*/


/*
-------------------------------------------
SATURNO 
-------------------------------------------
*/


.saturno-page-container {
    min-width: 300px;
    max-width: 600px;
    font-size: medium;
}

.saturno-page-container-wide {
    min-width: 18rem;
    max-width: 50rem;
    padding  : 1.2em;
    font-size: medium;
}



@media (max-width: 575px) {
    .saturno-page-container-login {
        height: 100vh;
    }
}

@media (min-width: 575px) {
    .shadow-box {
        border-radius: 5px;
        box-shadow   : 0px 1px 3px 0px #999
    }
}

/* using childs */
.nomargin {
    margin: 0 !important;
}

.nopadding {
    padding: 0 !important;
}

.minicards-content {
    display        : flex;
    padding        : 10px;
    flex-wrap      : wrap;
    justify-content: center;
}

.saturno-minicard {
    margin   : 10px;
    min-width: 15rem;
    max-width: 20rem;
    padding  : 1.2em;
    font-size: medium;
}

.saturno-minicard-icons {
    font-size: 4em;
}

.saturno-minicard-title {
    font-size  : large;
    font-weight: 400;
    opacity    : .8;
}

.saturno-minicard-text {
    font-size  : medium;
    font-weight: 300;
    opacity    : .8;
}



.no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select  : none;
    -khtml-user-select   : none;
    -moz-user-select     : none;
    -ms-user-select      : none;
    user-select          : none;
}

.input-icon {
    position        : absolute;
    top             : 0px;
    right           : 5px;
    font-size       : 14px;
    cursor          : pointer;
    width           : 25px;
    height          : 23px;
    /* border-radius: 11px; */
    text-align      : center;
    padding         : 3px;
    color           : #776b6b;
    font-size       : large;

}

/*
-------------------------------------------
MF STYLES 
-------------------------------------------
*/

/*
-------------------------------------------
COLORS
-------------------------------------------
*/

.text-blue {
    color: #007bff;
}

.text-indigo {
    color: #6610f2;
}

.text-purple {
    color: #6f42c1;
}

.text-pink {
    color: #e83e8c;
}

.text-red {
    color: #dc3545;
}

.text-orange {
    color: #fd7e14;
}

.text-yellow {
    color: #ffc107;
}

.text-green {
    color: #28a745;
}

.text-teal {
    color: #20c997;
}

.text-cyan {
    color: #17a2b8;
}

.text-white {
    color: #fff;
}

.text-gray {
    color: #6c757d;
}

.text-gray {
    color: #343a40;
}

.text-primary {
    color: #007bff;
}

.text-secondary {
    color: #6c757d;
}

.text-success {
    color: #28a745;
}

.text-info {
    color: #17a2b8;
}

.text-warning {
    color: #ffc107;
}

.text-danger {
    color: #dc3545;
}

.text-light {
    color: #f8f9fa;
}

.text-dark {
    color: #343a40;
}

/*
-------------------------------------------
DECORATORS
-------------------------------------------
*/

.hr-red {
    border-top: 2px solid rgb(255 0 0 / 90%);
    width     : 80%;
}

.hr-green {
    border-top: 2px solid rgb(0 180 0 / 90%);
    width     : 80%;
}

.hr-blue {
    border-top: 2px solid rgb(0 0 180 / 90%);
    width     : 80%;
}

.hr-grey {
    border-top: 2px solid rgb(180 180 180 / 90%);
    width     : 80%;
}

.hr-pink {
    border-top: 2px solid rgb(180 0 180 / 90%);
    width     : 80%;
}

/*
-------------------------------------------
FONTS
-------------------------------------------
*/

.fw100 {
    font-weight: 100;
}

.fw200 {
    font-weight: 200;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}

.fw800 {
    font-weight: 800;
}

.fw900 {
    font-weight: 900;
}


/*
-------------------------------------------
BORDERS
-------------------------------------------
*/

.b-1sr {
    border: 1px solid red;
}

.b-1sg {
    border: 1px solid green;
}

.b-1sb {
    border: 1px solid blue;
}

.b-1sp {
    border: 1px solid rgb(255, 0, 212);
}

/*
-------------------------------------------
OPACITY
-------------------------------------------
*/

.op10 {
    opacity: 1;
}

.op9 {
    opacity: .9;
}

.op8 {
    opacity: .8;
}

.op7 {
    opacity: .7;
}

.op6 {
    opacity: .6;
}

.op5 {
    opacity: .5;
}

.op4 {
    opacity: .4;
}

.op3 {
    opacity: .3;
}

.op2 {
    opacity: .2;
}

.op1 {
    opacity: .1;
}

.op0 {
    opacity: 0;
}

/*
-------------------------------------------
DIMENSIONES
-------------------------------------------
*/

.xxxxl {
    font-size  : 4em;
    font-weight: 500;
}

.xxxl {
    font-size: xxx-large;
}

.xxl {
    font-size: xx-large;
}

.xl {
    font-size: x-large;
}

.lg {
    font-size: large;
}

.md {
    font-size: medium;
}

.sm {
    font-size: small;
}


.w-10em {
    width: 10em;
}

.w-9em {
    width: 9em;
}

.w-8em {
    width: 8em;
}

.w-7em {
    width: 7em;
}

.w-6em {
    width: 6em;
}

.w-5em {
    width: 5em;
}

.w-4em {
    width: 4em;
}

.w-3em {
    width: 3em;
}

.w-2em {
    width: 2em;
}

/*
-------------------------------------------
ALINEACIONES
-------------------------------------------
*/

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}



/* animate */
/* animaciones */
.animated {
    -webkit-animation-duration : 1s;
    animation-duration         : 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode        : both;
}

.fast {
    -webkit-animation-duration : 0.4s;
    animation-duration         : 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode        : both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

/*
-------------------------------------------
ANGULAR MATERIAL 
-------------------------------------------
*/

mat-toolbar {
    position: fixed;
    top     : 0;
    left    : 0;
    right   : 0;
    z-index : 9999;
    height  : 64px !important;
}

mat-card-header {
    text-align: left;
}


.mat-card {
    font-family: 'Baloo Bhai 2', 'Monda', 'Encode Sans', 'Averia Libre', 'system-ui';
    /* opacity : .9; */
}

mat-card-title span.mdi {
    margin   : 0px 5px;
    font-size: x-large;
}

td.mat-cell,
th.mat-header-cell {
    padding    : 0px 2px !important;
    white-space: nowrap;
}

tr.mat-row:not(.detail-row),
tr.mat-footer-row {
    height: 32px !important;
}

/*
-------------------------------------------
STEPPER
-------------------------------------------
*/

.mat-horizontal-content-container {
    padding: 0px !important;
}

.mat-horizontal-stepper-header-container {
    display: none !important;
}

/*
-------------------------------------------
SIDENAV 
-------------------------------------------
*/

.mat-expansion-panel-body {
    padding: .5rem !important;
}

.mat-radio-outer-circle {
    border-color: #ffd740;
}

/*
-------------------------------------------
HOME 
-------------------------------------------
*/


.swal2-title {
    font-size  : x-large !important;
    font-weight: 300 !important;
    color      : red !important;
}

.swal2-content {
    font-size  : medium !important;
    font-weight: 300 !important;
}


/*
-------------------------------------------
MAPBOX 
-------------------------------------------
*/

.mapboxgl-popup-content {
    padding: 0px;
    top    : 0px;
    left   : 10px;
}

.mapboxgl-popup {
    display  : block;
    transform: none !important;
}

.mapboxgl-popup-tip {
    visibility: hidden;
}

/* .mapboxgl-canvas {
    position: relative !important;
} */




/*
-------------------------------------------
MAPBOX 
-------------------------------------------
*/

.lightbox-wrapper .close {
    top            : 80px !important;
    background-size: 20px !important;
    width          : 26px !important;
    height         : 26px !important;
    right          : 20px !important;
    opacity        : .5 !important;
}