<div class="page-container animated fadeIn text-left">
    <mat-card>



        <div class="d-flex">
            <form class="w-100" autocomplete="off" ngNativeValidate #formDirective="ngForm" [formGroup]="scheduleForm">

                <mat-form-field color="accent" class="w-50 px-2">
                    <mat-label>Sector</mat-label>
                    <mat-select formControlName="idSection" name="idSection" required>
                        <mat-option *ngFor="let section of publicService.sections" [value]="section._id"> {{
                            section.tx_section }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent" class="w-50 px-2">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepickerFilter]="myFilter" formControlName="dtReserve" [min]="minDate"
                        [max]="maxDate" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </form>
        </div>


        <mat-card-content>
            <mat-accordion multi="false">


                <mat-expansion-panel class="my-3" [disabled]="availability.length === 0">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="xl mdi mdi-calendar-account text-deco"></span>
                            <span class="badge text-white bg-primary">{{availability.length}}</span>
                            <span class="sidenav-title-text mx-2 align-self-center lg">Agenda</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="schedule-container">
                        <table class="schedule sm" *ngIf="availability.length > 0">
                            <thead>
                                <tr>
                                    <th class="px-1">Int</th>
                                    <th class="px-1">Cap</th>
                                    <th class="px-1" *ngFor="let t of tables">{{t.nm_table}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let av of availability; let i = index" [ngClass]="{'odd-row': i%2==0}">

                                    <td class="px-1">
                                        <span *ngIf="av.interval < 10">0{{av.interval}}:00</span>
                                        <span *ngIf="av.interval >= 10">{{av.interval}}:00</span>
                                    </td>

                                    <td>
                                        <span class="text-accent">{{av.capacity}}</span>
                                    </td>

                                    <td class="px-1" *ngFor="let t of av.tables">
                                        <span *ngIf="t.blReserved" class="mdi mdi-close-box-outline text-warn pointer"
                                            (click)="showTable(t)"><span class="persons">{{t.nmPersons}}</span></span>
                                        <span *ngIf="!t.blReserved" class="mdi mdi-check-box-outline text-active"><span
                                                class="persons">{{t.nmPersons}}</span></span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </mat-expansion-panel>


                <mat-expansion-panel class="my-3" [disabled]="pending.length === 0">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="xl mdi mdi-account-clock text-deco"></span>
                            <span class="badge text-white bg-primary">{{pending.length}}</span>
                            <span class="sidenav-title-text mx-2 align-self-center lg">Solicitudes de Mesa</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>


                    <app-pending [pending]="pending" [availability]="availability"
                        (pendingUpdated)="pendingUpdated($event)"></app-pending>

                </mat-expansion-panel>


            </mat-accordion>
        </mat-card-content>




        <mat-card-actions>
            <!-- <button mat-raised-button class="action-button" color="active" (click)="createTicket()">
              <table>
                <tr>
                  <td class="button-icon mdi mdi-ticket-account xl"></td>
                  <td class="button-text">+Ticket</td>
                </tr>
              </table>
            </button> -->
        </mat-card-actions>
    </mat-card>

</div>