<div class="page-container animated fadeIn text-left">
    <mat-card class="h-100">

        <!------------------------------>
        <!-- FORM -->
        <!------------------------------>

        <div class="d-flex">
            <form class="w-100" autocomplete="off" ngNativeValidate #formDirective="ngForm" [formGroup]="scheduleForm">

                <mat-form-field color="accent" class="w-50 px-2">
                    <mat-label>Sector</mat-label>
                    <mat-select formControlName="idSection" name="idSection" required>
                        <mat-option *ngFor="let section of publicService.sections" [value]="section._id"> {{
                            section.tx_section }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent" class="w-50 px-2">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepickerFilter]="myFilter" formControlName="dtSelected" [min]="minDate"
                        [max]="maxDate" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </form>
        </div>



        <mat-card-content>
            <div *ngIf="!idSection || !dtSelected" class="text-center">
                Seleccioná un sector y un día para administrar tu agenda.
            </div>

            <div *ngIf="idSection && dtSelected">
                <!------------------------------>
                <!-- REQUESTS -->
                <!------------------------------>

                <mat-expansion-panel class="my-3" [disabled]="pending.length === 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="xl mdi mdi-account-clock text-deco"></span>
                            <span class="badge text-white bg-primary">{{pending.length}}</span>
                            <span class="sidenav-title-text mx-2 align-self-center md">Solicitudes de Mesa</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <!-- PENDING COMPONENT -->
                    <app-pending [pending]="pending" [availability]="availability"
                        (pendingUpdated)="pendingUpdated($event)"></app-pending>

                </mat-expansion-panel>

                <!------------------------------>
                <!-- CALENDAR -->
                <!------------------------------>
                <app-calendar [availability]="availability" [tables]="tables" [idSection]="idSection"
                    (readAvailability)="readAvailability()"></app-calendar>
            </div>


        </mat-card-content>

        <mat-card-actions>
            <!-- <button mat-raised-button class="action-button" color="active" (click)="createTicket()">
              <table>
                <tr>
                  <td class="button-icon mdi mdi-ticket-account xl"></td>
                  <td class="button-text">+Ticket</td>
                </tr>
              </table>
            </button> -->
        </mat-card-actions>
    </mat-card>

</div>