.schedule-container {
    overflow   : auto;
    height     : calc(100vh - 350px);
    font-family: monospace
}

.table-button-active {
    opacity      : 1 !important;
    border       : 2px solid var(--accent);
    border-radius: 5px;
}

.schedule th {
    color           : var(--accent);
    font-size       : .8em;
    font-weight     : 200;
    font-family     : system-ui;
    position        : sticky;
    top             : 0px;
    background-color: var(--mat-panel-bg);
}

.schedule tr {
    height     : 32px;
    font-size  : 1.3em;
    font-weight: 200;
    font-family: system-ui;
    text-align : center;
}

.schedule td {
    padding      : 10px 0px;
    border-bottom: 1px solid grey;
}

.odd-row {
    background-color: var(--mat-card-bg);
}

.schedule td .persons {
    vertical-align: text-top;
    font-size     : small;
}

.table-button-inactive {
    /* opacity: .5; */
}