/*---------------------------------------------------*/
/* my ticket header*/

.mat-card-avatar {
  height: 100px;
  width : 100px;
}

.mat-card-avatar img {
  height       : 80px;
  width        : 80px;
  margin       : 10px;
  border-radius: 50%;
}


.mat-card-title {
  font-size: xx-large;
  color    : #ff8b00;
}

@media (max-width: 400px) {
  .mat-card-title {
    font-size: x-large;
  }
}

.mat-card-subtitle {
  width    : 100%;
  font-size: large;
}

/*---------------------------------------------------*/
/* my ticket score*/

.screen-icon-star {
  cursor   : pointer;
  color    : #5e5e5e;
  font-size: x-large;
}

.screen-icon-star-on {
  color: orange;
}


/*---------------------------------------------------*/
/* my ticket number*/

.screen-myticket-container {
  border-radius: 1em;
  box-shadow   : 0px 1px 4px 0px rgb(17 17 17 / 30%)
}

.screen-myticket-text-header {
  font-size: 1.2em;
}

.screen-myticket-text {
  font-size  : 5em;
  color      : red;
  line-height: 1em;
}

.screen-myticket-text-alert {
  opacity: 0.1;
}

.screen-myticket-text-footer {
  font-size: 1em;
}

/* ------------------------------------------------------- */
/* buttons */
.screen-myticket-button {
  min-width: auto;
}

/* ------------------------------------------------------- */
/* history */
.screen-history-title {
  font-size: calc(.8em + .8vw);
}

.screen-history-text {
  font-size: calc(1em + .8vw);
}

.screen-history-icon {
  font-size: calc(1.2em + .8vw);
}