<!-- ======================================================== -->
<!-- TICKETS SCREEN -->
<!-- ======================================================== -->
<div class="saturno-bg-tile-1 h-100">
    <div class="saturno-card m-0">

        <!------------------------------>
        <!-- SU TURNO REDONDO -->
        <!------------------------------>
        <div class="screen-myticket-container shadow-box my-3" *ngIf="ticket">
            <div class="screen-myticket-text-header">
                SU TURNO
            </div>
            <div class="screen-myticket-text" [ngClass]="{'screen-myticket-text-alert':showAlert}">
                {{ ticket?.id_position }}
            </div>
            <div class="screen-myticket-text-footer mt-3" style="line-height: normal;" *ngIf="averageToAtt">
                <span *ngIf="!ticket?.id_session">
                    {{ averageToAtt}}
                </span>
                <span *ngIf="ticket?.id_session">
                    Pase a la mesa {{ ticket?.id_session?.id_table?.nm_table }}
                </span>
            </div>
        </div>

        <!------------------------------>
        <!-- FINALIZADO -->
        <!------------------------------>
        <div class="card text-white bg-danger my-4" *ngIf="ticketTmEnd!==null">
            <div class="card-header screen-text-title">SU OPINION</div>
            <div class="banner-content p-3" style="background-color: rgb(141, 51, 51)">

                <div class="xl">¡Su turno ha finalizado!</div>

                <div class="md">¿Podría dejarnos su opinión
                    sobre la calidad de atención?</div>

                <div class="text-white my-4 table-responsive-sm">
                    <table class="table table-sm text-white">
                        <tr *ngFor="let item of scoreItems">
                            <td class="xl py-2" style="width: 50%;text-align: left;">
                                {{ item.tx_item }}
                            </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(item._id) >= 1}"
                                    (click)="setScore(item._id, 1)"></span>
                            </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(item._id) >= 2}"
                                    (click)="setScore(item._id, 2)"></span>
                            </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(item._id) >= 3}"
                                    (click)="setScore(item._id, 3)"></span>
                            </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(item._id) >= 4}"
                                    (click)="setScore(item._id, 4)"></span>
                            </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(item._id) >= 5}"
                                    (click)="setScore(item._id, 5)"></span>
                            </td>
                        </tr>
                    </table>
                </div>


            </div>
        </div>


        <!-- ======================================================== -->
        <!-- HISTORIAL DE LLAMADAS -->
        <!-- ======================================================== -->

        <div class="card shadow-box p-2 my-4">
            <table class="w-100 table-sm text-center">
                <tr>
                    <td class="screen-history-title"> TURNO </td>
                    <td class="screen-history-title"> MESA</td>
                    <td class="screen-history-title"> ESTADO </td>
                </tr>
                <tr *ngIf="ticketsTail.length === 0">
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr *ngFor="let ticket of ticketsTail;">
                    <td style="text-align: center;" class="screen-history-text">
                        {{ ticket.id_position }}</td>
                    <td style="text-align: center;" class="screen-history-text">
                        {{ ticket.id_session.id_table.nm_table }}</td>
                    <td style="padding: 0; vertical-align: middle;">
                        <span *ngIf="!ticket.tm_end" style="color: blueviolet">
                            <span class="mdi mdi-contactless-payment-circle-outline screen-history-icon"></span>
                        </span>
                        <span *ngIf="ticket.id_child && ticket.tm_end" style="color: red">
                            <span class="mdi mdi-arrow-left-circle-outline screen-history-icon"></span>
                        </span>
                        <span *ngIf="!ticket.id_child && ticket.tm_end" style="color: green">
                            <span class="mdi mdi-check-circle-outline screen-history-icon"></span>
                        </span>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>

<!-- ======================================================== -->
<!-- PUBLIC BUTTONS -->
<!-- ======================================================== -->
<div *ngIf="ticket" class="container bg-light fixed-bottom shadow-box no-radius text-center py-1">
    <div class="row">

        <div class="col-6 button-content">
            <button [disabled]="ticket?.bl_called" class="btn btn-success button"
                [ngClass]="{'button-disabled':ticket?.bl_called}" (click)="callWaiter()">
                <!-- cancel ticket -->
                <div>
                    <span class="mdi mdi-silverware-fork-knife xxl"></span>
                </div>
                <div class="button-inner">
                    Llamar al mozo
                </div>
            </button>
        </div>

        <div class="col-6 button-content">
            <button [disabled]="!ticket?.id_session || coming" class="btn btn-success button"
                [ngClass]="{'button-disabled':!ticket?.id_session || coming}" (click)="enCamino()">
                <!-- cancel ticket -->
                <div>
                    <span class="mdi mdi-walk xxl"></span>
                </div>
                <div class="button-inner">
                    ¡En camino!
                </div>
            </button>
        </div>
        <div class="col-6 button-content">
            <button [disabled]="!ticket" [ngClass]="{'button-disabled':!ticket}" class="btn btn-danger button"
                (click)="endTicket()">
                <!-- cancel ticket -->
                <div>
                    <span class="mdi mdi-power xxl"></span>
                </div>
                <div class="button-inner">
                    Cerrar Turno
                </div>
            </button>
        </div>

    </div>
</div>

<div *ngIf="!ticket" class="saturno-footer">
    <div class="row">
        <div class="col">
            <span class="footer-icon-menu" routerLink="/home">
                <span class="mdi mdi-home xl"></span>
                <div>Inicio</div>
            </span>
        </div>
    </div>
</div>