.screen-icon-star {
  cursor   : pointer;
  color    : #5e5e5e;
  font-size: x-large;
}

.screen-icon-star-on {
  color: orange;
}


/*---------------------------------------------------*/
/* my ticket rounded */

.screen-myticket-text-header {
  font-size: 1.2em;
}

.screen-myticket-text {
  font-size  : 5em;
  color      : red;
  line-height: 1em;
}

.screen-myticket-text-alert {
  opacity: 0.1;
}

.screen-myticket-text-footer {
  font-size: 1em;
}

/* ------------------------------------------------------- */
/* history */
.screen-history-title {
  font-size: calc(.8em + .8vw);
}

.screen-history-text {
  font-size: calc(1em + .8vw);
}

.screen-history-icon {
  font-size: calc(1.2em + .8vw);
}