@media (max-width: 850px) {
    .toolbar-links-first-row {
        display: flex !important;
    }
}

.toolbar-item {
    text-shadow: -1px 0 3px var(--primary), 0px 1px 3px var(--primary), 0px -1px 3px var(--primary), 1px 0px 3px var(--primary);
}


.flatbar {
    background-color: unset;
    box-shadow      : none;
}
