<div class="toolbar">

    <div class="first-row">

        <!-- LOGO -->
        <div class="logo-container">

            <!-- LOGO IMG -->
            <div class="logo-img pointer" routerLink="/home"> </div>

            <!-- LOGO TITLE -->

            <div class="logo-text-container pointer" routerLink="/home">
                <div class="md"> SATURNO </div>
                <div class="xs">{{version}} </div>
            </div>
        </div>

        <!-- PUBLIC PAGE LINKS -->
        <div *ngIf="publicService.company" class="toolbar-links-header">

            <div class="toolbar-base-item pointer"
                [routerLink]="['/public/page', publicService.company?.tx_company_string, 'home']">
                <div>
                    Inicio
                </div>
            </div>

            <div class="toolbar-base-item pointer"
                [routerLink]="['/public/page', publicService.company?.tx_company_string, 'menu']">
                <div>
                    Menú
                </div>
            </div>

            <div class="toolbar-base-item pointer"
                [routerLink]="['/public/page', publicService.company?.tx_company_string, 'ticket']"
                *ngIf="publicService.company && publicService.settings?.bl_queue || publicService.settings?.bl_schedule">
                <div>
                    Reservar
                </div>
            </div>

        </div>

        <!-- PUBLIC NOT LOGGED IN -->
        <div *ngIf="!publicService.customer">
            <div class="toolbar-base-item pointer" routerLink="/public/login">
                <span class="mdi mdi-account-circle mr-1"></span>
            </div>
        </div>

        <!-- PUBLIC LOGGED IN -->
        <div *ngIf="publicService.customer" class="d-flex md ml-3">

            <!-- GOOGLE LOGIN IMAGE -->
            <div *ngIf="publicService.customer.bl_social && publicService.customer.tx_img">
                <img class="user-image" [src]="publicService.customer.tx_img" [matMenuTriggerFor]="menu">
            </div>

            <!-- FACEBOOK HAS NO LOGIN IMAGE -->
            <div *ngIf="publicService.customer.bl_social && !publicService.customer.tx_img"
                class="mdi mdi-account-tie pointer" [matMenuTriggerFor]="menu">
            </div>

            <!-- NORMAL LOGIN WITH IMAGE -->
            <div *ngIf="!publicService.customer.bl_social && publicService.customer.tx_img" class="pointer"
                [matMenuTriggerFor]="menu">
                <img class="user-image"
                    [src]="publicService.customer.tx_img | imagenPipe : 'tx_img' : publicService.customer._id">
            </div>

            <!-- NORMAL LOGIN WO IMAGE -->
            <div *ngIf="!publicService.customer.bl_social && !publicService.customer.tx_img"
                class="mdi mdi-account-tie pointer" [matMenuTriggerFor]="menu">
            </div>

            <mat-menu #menu="matMenu">
                <div routerLink="/waiter/profile" mat-menu-item>
                    <span disabled class="lg toolbar-menu-icon mdi mdi-email mx-1"></span>
                    <span class="ml-2 align-middle">{{publicService.customer?.tx_email}}</span>
                </div>
                <div routerLink="/public/tickets" mat-menu-item>
                    <span disabled class="lg toolbar-menu-icon mdi mdi-ticket-account mx-1"></span>
                    <span class="ml-2 align-middle">Mis Reservas</span>
                </div>
                <hr>
                <button mat-raised-button color="warn" (click)="salir()">
                    <span class="mdi mdi-power xl"></span>
                    Salir
                </button>
            </mat-menu>

        </div>


    </div>

    <div class="second-row">

        <div class="toolbar-links-base">
            <div class="toolbar-base-item pointer"
                [routerLink]="['/public/page', publicService.company?.tx_company_string, 'home']">
                <div>
                    Inicio
                </div>
            </div>

            <div class="toolbar-base-item pointer"
                [routerLink]="['/public/page', publicService.company?.tx_company_string, 'menu']">
                <div>
                    Menú
                </div>
            </div>

            <div class="toolbar-base-item pointer"
                [routerLink]="['/public/page', publicService.company?.tx_company_string, 'ticket']"
                *ngIf="publicService.company && publicService.settings?.bl_queue || publicService.settings?.bl_schedule">
                <div>
                    Reservar
                </div>
            </div>
        </div>

    </div>

</div>